#ticket-pop-up.modal.fade 
  .modal-dialog
    .modal-content
      .modal-header
        %h4 
          Make Ticket #{@rolee} #{@check_id}
          %span#closing_name
        %button{:class => "close", :data => {:dismis => "modal"}, "area-label" => "close"}
          %span{"area-hidden" => "true"} 
            %times
      .modal-body{:ng_controller => "TicketController", :ng_init => "loadTickets('#{@current_tag}')"}
        .panel.panel-default
          .panel-body
            %form{:ng_submit => "msave('#{@rolee}', '#{@check_id}')", :no_validate => true, :class => "sky-form"}
              .row
                %section.col.col-6
                  %label.select                   
                    %select{:ng_model => "ticket.ticket_category_master_id", :ng_options => "option.id as option.name for option in tkt_categs | filter:rolefilter('#{@rolee}')"}
                      %option{:value => ""}    -- choose #{@rolee} Category --
                    %i
              .row
                %section
                  %label.textarea
                    %textarea{:ng_model => "ticket.description", :placeholder => "description..", :rows => 4}
              %footer
                .col-md-2
                .col-md-1
                  %button{:type => "submit", :class=> "button"} Save
                .col-md-2
                .col-md-1
                  %button{:type => "reset",:ng_click => "mclose()", :class=> "button"} Close
