= form_for @reason_for_coming do |f|
  - if @reason_for_coming.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reason_for_coming.errors.count, "error")} prohibited this reason_for_coming from being saved:"
      %ul
        - @reason_for_coming.errors.full_messages.each do |msg|
          %li= msg

  .row
    %center
      .row
        .col-md-2
          = f.label :name
        .col-md-4
          = f.text_field :name
        .col-md-3
          = f.submit 'Save'
