.pull-right
  = link_to 'New  References', new_reason_for_coming_path , :class => 'btn btn-primary'
%h3
  %center
    References
.clearfix
.container
  %table.table.table-list
    %thead
      %tr
        %th Name
        %th
        %th
          

    %tbody
      - @reason_for_comings.each do |reason_for_coming|
        %tr
          %td= reason_for_coming.name
          %td= link_to 'Edit', edit_reason_for_coming_path(reason_for_coming)
          %td= link_to 'Destroy', reason_for_coming, :method => :delete, :data => { :confirm => 'Are you sure?' }

          


