.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Form Masters
  .row{:ng_controller => "FormController", :ng_init => "loadForms()"}
    = link_to "Add new", "#", :ng_click => "newForm()", :class => 'btn btn-primary'
    .row{:ng_show => "form.isNew"}
      %span New Form 
      %input{:type => "input", :ng_model => "form.name"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
  %br
    %table.table.table-list
      %thead
        %th Form
        %th Action
      %tbody
        - @form.each do |x|
          %tr
            %td= x.name
            %td
              = link_to "Edit",edit_form_master_path(x)
              = link_to "Delete", form_master_path(x), :data => {:method => 'delete' ,:confirm => "Are You Sure to Delete " }
        
               
              
        -# %tr{"ng-repeat" => "form in forms"}
        -#   %td
        -#     %sapn{:ng_hide => "form.edit"}= "{{form.name}}"
        -#     %input{:type => "text", :ng_model => "form.name", :ng_show => "form.edit"}
        -#   %td
        -#     = link_to "Edit", "#", :ng_click => "edit(form)", :ng_hide => "form.edit"
        -#     = link_to "Update", "#", :ng_click => "update(form)", :ng_show => "form.edit"
        -#     = link_to "Delete", "#", :ng_click => "destroy(form)"
