.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Routine Masters
  .row{:ng_controller => "RoutineController", :ng_init => "loadRoutines()"}
    = link_to "Add new", "#", :ng_click => "newRoutine()",:class => 'btn btn-primary'
    .row{:ng_show => "routine.isNew"}
      %span New Routine 
      %input{:type => "input", :ng_model => "routine.name"}
      = link_to "save", "#", :ng_click => "save()",:class => 'btn btn-primary'
    %table.table.table-list
      %thead
        %th Routine
        %th Action
      %tbody
        %tr{"ng-repeat" => "routine in routines"}
          %td
            %sapn{:ng_hide => "routine.edit"}= "{{routine.name}}"
            %input{:type => "text", :ng_model => "routine.name", :ng_show => "routine.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(routine)", :ng_hide => "routine.edit"
            = link_to "Update", "#", :ng_click => "update(routine)", :ng_show => "routine.edit"
            = link_to "Delete", "#", :ng_click => "destroy(routine)"
