.col-md-24
  .sky-form
    %header
      = link_to "Invoice Jobs:", job_runs_path
      = "#{@job_run.job_code.titleize}, #{@job_run.job_date}"
  .col-md-20{:ng_controller => "jobRunsController", :ng_init => "loadJobPayments(1, #{@job_run.id})"}
    .pull-right.sky-form
      = link_to "Mail Selected Invoices", "#", :class => "button", :ng_click => "mailSelectedPayments()"
      = link_to "Mail All Invoices", "#", :class => "button", :ng_click => "mailAllPayments()"
      = link_to "Nullify Selected Invoices", "#", :class => "button", :ng_click => "nullifySelectedPayments()"
      %my-pagination{:from => "from_index", :to => "to_index", :current_page => "current_page", :total=> "total_entries", :action => "getJobPayments(page)"}
    %table.table.table-list
      %thead
        %th Patient Name
        %th Address
        %th Invoice From
        %th Invoice To
        %th Amount 
        %th Debit Amount
        %th Credit Note Count
        %th Total Amount
        %th Actions
      %tbody
        %tr{:ng_repeat => "payment in payment_masters"}
          %td {{payment.patient_name}}
          %td {{payment.patient_address}}
          %td {{ payment.period_from }}
          %td {{payment.period_to }}
          %td {{payment.amount_in_rupees }}
          %td {{payment.prev_month_debit_amount }}
          %td {{payment.credit_notes.count }}
          %td {{payment.total_amount }}
          %td
            %input{:type => "checkbox", :ng_model => "payment.isChecked", :ng_disabled => "payment.nullified || payment.mail_sent"} 
