.row{:ng_controller => "SubServiceMasterController", :ng_init => "loadSubServices(#{@service_master.id})"}
  .col-md-24
    = link_to "Add new", "#", :ng_click => "newSubService()"
    .row{:ng_show => "sub_service.isNew"}
      %span New Sub Service
      %input{:type => "input", :ng_model => "sub_service.sub_service"}
      = link_to "save", "#", :ng_click => "save()"
    %table.table.table-list
      %thead
        %th Service
        %th Action
      %tbody
        %tr{"ng-repeat" => "sub_service in sub_services"}
          %td
            %sapn{:ng_hide => "sub_service.edit"}= "{{sub_service.sub_service}}"
            %input{:type => "text", :ng_model => "sub_service.sub_service", :ng_show => "sub_service.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(sub_service)", :ng_hide => "sub_service.edit"
            = link_to "Update", "#", :ng_click => "update(sub_service)", :ng_show => "sub_service.edit"
            = link_to "Delete", "#", :ng_click => "destroy(sub_service)"
