.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"} Service Masters
  .row{:ng_controller => "ServiceController", :ng_init => "loadServices()"}
    = link_to "Add new", "#", :ng_click => "newService()",:class => 'btn btn-primary'
    .row{:ng_show => "service.isNew"}
      %span New Service
      %input{:type => "input", :ng_model => "service.service"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %table.table.table-list
      %thead
        %th Service
        %th Action
      %tbody
        %tr{"ng-repeat" => "service in services"}
          %td
            %sapn{:ng_hide => "service.edit"}= "{{service.service}}"
            %input{:type => "text", :ng_model => "service.service", :ng_show => "service.edit"}
          %td
            = link_to 'Show', "/service_masters/{{service.id}}"
            = link_to "Edit", "#", :ng_click => "edit(service)", :ng_hide => "service.edit"
            = link_to "Update", "#", :ng_click => "update(service)", :ng_show => "service.edit"
            = link_to "Delete", "#", :ng_click => "destroy(service)"
