.row{:ng_controller => "TrackvitalsController", :ng_init => "loadTrackvitals(#{@enrollment_id})"}
  %br  
  %button.button{:type => "button", :ng_hide => "trackvital.isNew", :ng_click => "newTrackvital()"} Add New
  //= link_to "Add new", "#",:ng_hide => "patient_routine.isNew", :ng_click => "newPatientRoutine()"    
  .col-md-12.col-md-offset-1{:ng_show => "trackvital.isNew"}
    %form#sky-form.sky-form{:name=>"vitalform", :ng_submit => "save()", :novalidate => ""}
      .col-md-9
        .col-md-12.col-md-offset-1
          %header Track Vitals
          .row
            %section.col.col-3
              %label
                %span Date: {{trackvital.entered_at}}
          
          .col-md-6
            .row
              //%span Choose Vitals to Track:
              %section.col.col-11
                %label.select
                  Choose Vitals to Track:
                  %select{:ng_model => "trackvital.vital_trend_id", :ng_options => "option.id as option.vital_name for option in vital_trends", :ng_change => "popLimits(trackvital.vital_trend_id)"} 
                    %option{:value => ""} -- choose Vital --
                  %i{:style => "top: 36px;"}
          .col-md-6
            .row{:ng_show => "show == false"}                          
              %section.col.col-3
                %label.input
                  %span Value:
                  %input{:type => "input", placeholder: "Value", :ng_model => "trackvital.value"}
            .row{:ng_show => "show == true"}              
              %section.col.col-5
                %label.input
                  %span BP Systolic:
                  %input{:type => "input", placeholder: "Value", :ng_model => "trackvital.bp1"}

              %section.col.col-5
                %label.input
                  %span BP Diastolic:
                  %input{:type => "input", placeholder: "Value", :ng_model => "trackvital.bp2"}
            .row
              %section.col.col-3
                %button.button{:type => "submit"} Add
              %section.col.col-3
                %button.button{:type => "button", :ng_click => "close()"} Close
             
          -# .col-md-6
          -#   .row
          -#     %section.col.col-6
          -#       %label.input
          -#         %input{:type => "text", :ng_model => "trackvital.upper_limit", :placeholder => "Upper Limit"}
          -#     %section.col.col-6
          -#       %label.input
          -#         %input{:type => "input", placeholder: "Lower Limit", :ng_model => "trackvital.lower_limit"}
            .row
              %section.col.col-3
                %button.button{:type => "submit"} Add
              %section.col.col-3
                %button.button{:type => "button", :ng_click => "close()"} Close
  %br
  
  -# = link_to "Add new", "#", :ng_click => "newTrackvital()"
  -# .row{:ng_show => "trackvital.isNew"} 
  -#   %input{:type => "text", :ng_model => "trackvital.date", :placeholder => "Date", :my_datepicker => ""} &nbsp;
  -#   %select{:ng_model => "trackvital.vital_trends_master_id", :ng_options => "option.id as option.name for option in vital_trends"} &nbsp;
  -#   %input{:type => "input", placeholder: "Value", :ng_model => "trackvital.value"}
  -#   %br
  -#   = link_to "save", "#", :ng_click => "save()"
  %br
  .row
    .col-md-1
    .col-md-10
      %table.table-list
        %thead
          %tr
            %th Date
            %th{:ng_repeat => 'x in vital_trends'}
              {{x.vital_name}}
            
        %tbody
          %tr{:ng_repeat => '(key,value) in trackvitals'}
            %td
              {{key}}

            %td{:ng_repeat => 'x in vital_trends'}
              %div{:ng_repeat => "y in value|filter: {entered_at : y.entered_at } : true | filter : {vital_trend_id: x.id} : true"}
                %span{:ng_show => "y.vital_name != 'BP'"}
                  {{y.value}}               
                %span{:ng_show => "y.vital_name == 'BP'"}
                  %div{"ng-if" => "y.bp1 == y.lower_limit "}
                    %span{:style => "color:white;background-color: green;"}
                      {{y.bp1}}
                  %div{"ng-if" => "y.bp1 > y.lower_limit"}
                    %span{:style => "color:white;background-color: green;", "ng-if" => "(y.bp1 -y.lower_limit - 5) <= 5 && (y.bp1 -y.lower_limit - 5) >= 0"}
                      {{y.bp1}}
                    %span{:style => "color:white;background-color: red;", "ng-if" => "(y.bp1 -y.lower_limit - 5) > 5 || (y.bp1 -y.lower_limit - 5) < 0"}
                      {{y.bp1}} 
                  %div{"ng-if" => "y.bp1 < y.lower_limit"}
                    %span{:style => "color:white;background-color: green;", "ng-if" => "(y.bp1 -y.lower_limit + 5) <= 5 && (y.bp1 -y.lower_limit + 5) >= 0"}
                      {{y.bp1}}
                    %span{:style => "color:white;background-color: red;", "ng-if" => "(y.bp1 -y.lower_limit + 5) > 5 || (y.bp1 -y.lower_limit + 5) < 0"}
                      {{y.bp1}}  
                      
                  %div{"ng-if" => "y.bp2 == y.upper_limit"}
                    %span{:style => "color:white;background-color: green;"}
                      {{y.bp2}}
                  %div{"ng-if" => "y.bp2 > y.upper_limit"}
                    %span{:style => "color:white;background-color: green;", "ng-if" => "(y.bp2 -y.upper_limit - 5) <= 5 && (y.bp2 -y.upper_limit - 5) >= 0"}
                      {{y.bp2}}
                    %span{:style => "color:white;background-color: red;", "ng-if" => "(y.bp2 -y.upper_limit - 5) > 5 || (y.bp2 -y.upper_limit - 5) < 0"}
                      {{y.bp2}}                    
                  %div{"ng-if" => "y.bp2 < y.upper_limit"}
                    %span{:style => "color:white;background-color: green;", "ng-if" =>  "(y.bp2 - y.upper_limit + 5) <= 5 && (y.bp2 -y.upper_limit + 5) >= 0"}
                      {{y.bp2}}
                    %span{:style => "color:white;background-color: red;", "ng-if" => "(y.bp2 - y.upper_limit + 5) > 5 || (y.bp2 -y.upper_limit + 5) < 0"}
                      {{y.bp2}}
                  -# %div{"ng-if" => "y.bp1 > (y.lower_limit - 5) " || "y.bp1 < (y.lower_limit + 5) " || "y.bp2 > (y.upper_limit - 5) " || "y.bp2 < (y.upper_limit + 5) "}
                  -#   %span{:style => "color:red;"}
                  -#     {{y.bp1 + y.bp2}}
                  -# %div{"ng-if" => "y.bp1 < (y.lower_limit - 5) " || "y.bp1 > (y.lower_limit + 5) " || "y.bp2 < (y.upper_limit - 5) " || "y.bp2 > (y.upper_limit + 5) "}
                  -#   %span{:style => "color:blue;"}
                  -#     {{y.bp1}} {{y.bp2}}
                  
                
                -# - if("y.vital_name == 'BP'")
                -#   - if(("+y.bp1 < +x.lower_value - 5 " || "+y.bp1 > +x.lower_value + 5 ") && ("+y.bp2 < +x.upper_value - 5 " || "+y.bp2 > +x.upper_value + 5 "))
                -#     "abc"
                -#   - else
                -#     {{y.bp1}} {{y.bp2}}
                -# - elsif("y.vital_name != 'BP'")
                -#   {{y.value}}
                  
  -# %table.table-list
  -#   %thead
  -#     %th Date
  -#     %th Vital
  -#     %th Value
  -#     %th Unit
  -#     %th Upper Limit
  -#     %th Lower Limit
  -#     %th Action
  -#   %tbody
  -#     %tr{"ng-repeat" => "trackvital in trackvitals"}
  -#       %td
  -#         %sapn{:ng_hide => "trackvital.edit"}= "{{trackvital.entered_at}}"
  -#         %input{:type => "text", :ng_model => "trackvital.entered_at", :placeholder => "Date", :my_datepicker => "", :ng_show => "trackvital.edit", :size => "7"}
  -#       %td {{trackvital.vital_name}}
  -#       %td
  -#         %sapn{:ng_hide => "trackvital.edit"}= "{{trackvital.value}}"
  -#         %input{:type => "text", :ng_model => "trackvital.value", :ng_show => "trackvital.edit", :size => "7"}
  -#       %td {{trackvital.vital_unit}}
  -#       %td
  -#         %sapn{:ng_hide => "trackvital.edit"}= "{{trackvital.upper_limit}}"
  -#         %input{:type => "text", :ng_model => "trackvital.upper_limit", :ng_show => "trackvital.edit", :size => "7"}
  -#       %td
  -#         %sapn{:ng_hide => "trackvital.edit"}= "{{trackvital.lower_limit}}"
  -#         %input{:type => "text", :ng_model => "trackvital.lower_limit", :ng_show => "trackvital.edit", :size => "7"}
  -#       %td
  -#         = link_to "Edit", "#", :ng_click => "edit(trackvital)", :ng_hide => "trackvital.edit"
  -#         = link_to "Update", "#", :ng_click => "update(trackvital)", :ng_show => "trackvital.edit"
  -#         = link_to "Close", "#", :ng_click => "closeupdate(trackvital)", :ng_show => "trackvital.edit"
  -#         = link_to "Delete", "#", :ng_click => "destroy(trackvital)", :ng_hide => "trackvital.edit"
