.row
  .row{:ng_repeat => 'x in menu_arrays | filter : {parent_id: 0} :true'}
    .col-md-24
      %b
        %h6
          %u
            {{x.name}}
        .col-md-24{:ng_repeat => 'y in menu_arrays | filter : {parent_id: x.menu_bar_id} :true'}
          %input{"ng-model" => "y.checked_value", type: "checkbox", :name => "y_{{$index}}" }
          {{y.name}}
          .col-md-24{:ng_repeat => 'z in menus_arrays | filter : {parent_id: y.menu_bar_id} :true'}
            %input{"ng-model" => "z.checked_value", type: "checkbox", :name => "z_{{$index}}"}
            {{z.name}}
.row
  .pull-right
    = link_to 'Save', '#' , :ng_click => 'edit_menu()' , :class => 'btn btn-primary'

                
-# .row
-#   .col-md-24
-#     .row{:ng_repeat => 'x in menu_arrays | filter : {parent_id: 0} :true'}
-#       .col-md-24
-#         %h3
-#           %center
-#             {{x.name}}
-#       .col-md-24
-#         .col-md-5{:ng_repeat => 'y in menu_arrays | filter : {parent_id: x.menu_bar_id} :true'}
-#           %x
-#             %input{"ng-model" => "y.checked_value", type: "checkbox", :name => "y_{{$index}}" }
-#             {{y.name}}
-#         .col-md-5{:ng_repeat => 'z in menu_arrays| filter : {parent_id: y.menu_bar_id} :true'}
-#           %input{"ng-model" => "z.checked_value", type: "checkbox", :name => "z_{{$index}}"}
          
-#           {{z.name}}
-# .row
-#   .pull-right
-#     = link_to 'Save', '#' , :ng_click => 'edit_menu()' , :class => 'btn btn-primary'

