.container
  %h3
    %center
      Role Creation
  .row
    .row
      .col-md-5
        %b Role
      .col-md-14
        = text_field_tag :role , nil , :class => 'form-control' , :ng_model => 'menu.role'

  -# .row
  -#   .col-md-2
  -#     %h4 Email
  -#   .col-md-4
  -#     = text_field_tag :Email , nil , :class => 'form-control' , :ng_model => 'menu.email'
  .row
    .row
      .col-md-5
        %b Missed Calls
      .col-md-19
        %input{"ng-model" => 'menu.missed_call' , :type => 'checkbox'}
        //.row{:ng_hide => "menu.missed_call"}
  .row
    .row
      .col-md-5
        %b Branch
      .col-md-8
        %select{:ng_model => "menu.branch", :ng_options => "city.id as city.name for city in city_masters"}

  .row
    .row{:ng_repeat => 'x in menus | filter : {parent_id: 0} :true'}
      .col-md-24
        %b
          %h6
            //%input{"ng-model" => "menubar.checked_value", type: "checkbox", "ng-change" => "addGrades({{!menubar.checked_value}},{{y.id}})", "ng-checked" => "menu.checked_value"}
            %u
              {{x.name}}
          .col-md-24{:ng_repeat => 'y in menus | filter : {parent_id: x.id} :true'}
            %input{"ng-model" => "main_menu.checked_value", type: "checkbox", "ng-change" => "addArray({{!main_menu.checked_value}},{{y.id}})", "ng-checked" => "main_menu.checked_value" }{{y.name}}
            .col-md-24{:ng_repeat => 'z in menus | filter : {parent_id: y.id} :true'}
              %input.checkbox-inline{"ng-model" => "sub_menu.checked_value", type: "checkbox", "ng-change" => "addArray({{!sub_menu.checked_value}},{{z.id}})", "ng-checked" => "sub_menu.checked_value" }{{z.name}}
                  
    .row
      .pull-right
        = link_to 'Save', '#' , :ng_click => 'save_menu(menu)' , :class => 'btn btn-primary'

