.container{:ng_controller => 'MenuController'}
  .row{"ng-show" => "myShowFormValue"}
    = render 'show_form'
  .row{"ng-show" => "myFormValue"}
    = render 'form'
  .row{"ng-show" => "myEditValue"}
    = render 'edit_form'

