= form_for(@user, :url => {  :action => "update_password",:controller =>"users" } ) do |f|
  .field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
  = f.password_field :current_password
  .field
    = f.label :password, "Password"
    %br/
    = f.password_field :password, :autocomplete => "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .action_container
    = f.submit
