.container{"ng-controller" => "RegistrationController"}
  .content_fullwidth
    .reg_form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "sky-form"}) do |f|
        = devise_error_messages! 
        %header Registration form
        %fieldset
          = f.hidden_field :role
          = f.hidden_field :dob
          = f.hidden_field :heighest_qualification
       
          %section
            %label.input
              - if f.object.role ==  User::CARE_GIVER
                = f.text_field :first_name, :placeholder => "Name", :value => params[:care_giver_enquiry_name]
              - else
                = f.text_field :registered_name, :placeholder => "Name"

          %section
            %label.input
              - if f.object.role ==  User::CARE_GIVER
                = f.text_field :email, :placeholder => "Email", :value => params[:email]
              - else
                = f.email_field :email, :placeholder => "Email address"
          %section
            %label.input
              %i.icon-append.icon-phone
              = f.text_field :mobile_no, :placeholder => "Phone Number", :type => "tel", :value => params[:care_giver_enquiry_phone]
          %section
            %label.input
              %i.icon-append.icon-user
              - if f.object.role ==  User::CARE_GIVER
                = f.text_field :user_name, :placeholder => "User Name", :value =>  params[:care_giver_enquiry_phone]
              - else
                = f.text_field :user_name, :ng_blur => "validateUser()", :ng_model => "userName", :placeholder => "User Name"
              -# %span{:ng_show => "invalidUserIcon == 'show'"} Not Valid
              -# %span{:ng_show => "invalidUserIcon == 'hide'"} Valid
              -# %span{:ng_show => "invalidUserName"} User Name Already Exists
          %section
            %label.input
              %i.icon-append.icon-lock
              - if f.object.role ==  User::CARE_GIVER
                = f.text_field :password, autocomplete: "off", :placeholder => "Password", :value => User.generate_password_on_admin_creation
              - else
                = f.password_field :password, autocomplete: "off", :placeholder => "Password", :id => "password"
              
          - if f.object.role !=  User::CARE_GIVER
            %section
              %label.input
                %i.icon-append.icon-lock
                = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm password"
                %b.tooltip.tooltip-bottom-right Don't forget your password
          - if f.object.role ==  User::CARE_GIVER
            -# %section
            -#   %label.input
            -#     = f.number_field :expected_sal_per_day, :placeholder => "Expected Sal Per Day"
          - else
            %section
              %label.select
                = f.select :registered_by, options_for_select(Enquiry::REGISTRATIN_DONE_BY_OPTIONS)
        %footer
          = f.submit "Sign up", :class => "button"
