.clearfix
.container
  .col-md-12{:ng_controller => "TransportChargeController", :ng_init => "loadTransportCharges()"}
    = link_to "Add new", "#", :ng_click => "newTransportCharge()"
    .row{:ng_show => "transport_charge.isNew"}
      %span New Charge
      %input{:type => "input", :ng_model => "transport_charge.from_distance"}
      %input{:type => "input", :ng_model => "transport_charge.to_distance"}
      %input{:type => "input", :ng_model => "transport_charge.charge"}
      = link_to "save", "#", :ng_click => "save()"
    %table.table-list
      %thead
        %th From Distance(In KM)
        %th To Distance(In KM)
        %th Charge
        %th Action
      %tbody
        %tr{"ng-repeat" => "transport_charge in transport_charges"}
          %td
            %sapn{:ng_hide => "transport_charge.edit"}= "{{transport_charge.from_distance}}"
            %label.input{:ng_show => "transport_charge.edit"}
              %input{:type => "text", :ng_model => "transport_charge.from_distance"}
          %td
            %sapn{:ng_hide => "transport_charge.edit"}= "{{transport_charge.to_distance}}"
            %label.input{:ng_show => "transport_charge.edit"}
              %input{:type => "text", :ng_model => "transport_charge.to_distance"}
          %td
            %sapn{:ng_hide => "transport_charge.edit"}= "{{transport_charge.charge}}"
            %label.input{:ng_show => "transport_charge.edit"}
              %input{:type => "text", :ng_model => "transport_charge.charge"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(transport_charge)", :ng_hide => "transport_charge.edit"
            = link_to "Update", "#", :ng_click => "update(transport_charge)", :ng_show => "transport_charge.edit"
