.pull-right
  .col-md-2
  .col-md-6
    = link_to "New User" , '#' , :ng_click => 'new_user()' , :class => 'btn btn-primary' 
.row
  
  .col-md-24
    %table.table.table-list{:ng_init => 'all_users()'}
      %thead
        %tr
          %th Name
          %th Email
          %th Role
          %th
          
      %tbody
        %tr{"ng-repeat" => "user in users |filter : {role: '!patient' } |filter : {role: '!l_c_agent' } "}
          %td {{user.name}} 
          %td {{user.email}}
          %td 
            %sapn{:ng_hide => "user.edit"}= "{{user.role}}"
            %select{:ng_model => "user.role_id",:ng_show => "user.edit", :ng_options => "option.id as option.code for option in roles"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(user)", :ng_hide => "user.edit"
            = link_to "Update", "#", :ng_click => "update(user)", :ng_show => "user.edit"
