.row{:ng_controller => 'UserCreationController'}
  .row{"ng-show" => "userShow"}
    .col-md-24
      = render 'user_show_form'
  .row{"ng-show" => "userForm"}
    .col-md-24
      = render 'user_form'
    
