!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Hai 
    %p 
    User Name: #{@user_name}
    Password: #{@password}.
      
    %p Thanks and have a great day!
