.clearfix
.container
  .row{:ng_controller => "PatientratemasterController", :ng_init => "loadPatientratemasters()"}
    = link_to "Add new", "#", :ng_click => "newPatientratemaster()"
    .col-md-24{:ng_show => "patientratemaster.isNew"}
      %form#sky-form.sky-form{:name=>"patientratemasterform", :ng_submit => "save()", :novalidate => ""}
        .col-md-18
          .col-md-24
            %header New Sub Service
            .col-md-18
              .row
                %section.col-md-6
                  %label.input
                    %input{:type => "input",:placeholder => "From", :ng_model => "patientratemaster.from"}
                %section.col-md-6
                  %label.input
                    %input{:type => "input", :placeholder => "TO", :ng_model => "patientratemaster.to"}
                %section.col-md-6
                  %label.input
                    %input{:type => "input", :placeholder => "Percent", :ng_model => "patientratemaster.percent"}
              .row
                %section.col-md-6
                  %label.input
                    %input{:type => "input",:placeholder => "From", :ng_model => "patientratemaster.from"}
                %section.col-md-6
                  %label.input
                    %input{:type => "input", :placeholder => "TO", :ng_model => "patientratemaster.to"}
                %section.col-md-6
                  %label.input
                    %input{:type => "input", :placeholder => "Percent", :ng_model => "patientratemaster.percent"}
              .row
                %section.col-md-6
                  %label.input
                    %input{:type => "input",:placeholder => "From", :ng_model => "patientratemaster.from"}
                %section.col-md-6
                  %label.input
                    %input{:type => "input", :placeholder => "TO", :ng_model => "patientratemaster.to"}
                %section.col-md-6
                  %label.input
                    %input{:type => "input", :placeholder => "Percent", :ng_model => "patientratemaster.percent"}
              .row
                %section.col-md-6
                  %button.button{:type => "submit"} Add
                %section.col-md-6
                  %button.button{:type => "button", :ng_click => "close()"} Close
      -# %span New Patient Rate Master 
      -# %input{:type => "input", :ng_model => "patientratemaster.from"}
      -# = link_to "save", "#", :ng_click => "save()"
    %table.table.table-list
      %thead
        %th From
        %th To
        %th Percentage
        %th Action
      %tbody
        %tr{"ng-repeat" => "patientratemaster in patientratemasters"}
          %td
            %sapn{:ng_hide => "patientratemaster.edit"}= "{{patientratemaster.from}}"
            %input{:type => "text", :ng_model => "patientratemaster.from", :ng_show => "patientratemaster.edit"}
          %td
            %sapn{:ng_hide => "patientratemaster.edit"}= "{{patientratemaster.to}}"
            %input{:type => "text", :ng_model => "patientratemaster.to", :ng_show => "patientratemaster.edit"}
          %td
            %sapn{:ng_hide => "patientratemaster.edit"}= "{{patientratemaster.percent}}"
            %input{:type => "text", :ng_model => "patientratemaster.percent", :ng_show => "patientratemaster.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(patientratemaster)", :ng_hide => "patientratemaster.edit"
            = link_to "Update", "#", :ng_click => "update(patientratemaster)", :ng_show => "patientratemaster.edit"
            = link_to "Delete", "#", :ng_click => "destroy(patientratemaster)"
