.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Key Vitals Masters
  .row{:ng_controller => "KeyVitalsController", :ng_init => "loadkeyvitalsMasters()"}
    .pull-right
      = link_to "Add new", "#", :ng_click => "newkeyvitalsMaster()", :class => 'btn btn-primary'
    .row{:ng_show => "keyvitalsmaster.isNew"}
      %span New Key Vitals
      %input{:type => "input", placeholder: "Name", :ng_model => "keyvitalsmaster.name"}
      %input{:type => "input", placeholder: "Unit", :ng_model => "keyvitalsmaster.unit"}
      %input{:type => "input", placeholder: "Upper Limit", :ng_model => "keyvitalsmaster.upper_limit"}
      %input{:type => "input", placeholder: "Lower Limit", :ng_model => "keyvitalsmaster.lower_limit"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %table.table.table-list
      %thead
        %th Key Vitals
        %th Unit
        %th Upper Limit
        %th Lower Limit
        %th Action
      %tbody
        %tr{"ng-repeat" => "keyvitalsmaster in keyvitalsmasters"}
          %td
            %sapn{:ng_hide => "keyvitalsmaster.edit"}= "{{keyvitalsmaster.name}}"
            %input{:type => "text", :ng_model => "keyvitalsmaster.name", :ng_show => "keyvitalsmaster.edit"}
          %td
            %sapn{:ng_hide => "keyvitalsmaster.edit"}= "{{keyvitalsmaster.unit}}"
            %input{:type => "text", :ng_model => "keyvitalsmaster.unit", :ng_show => "keyvitalsmaster.edit"}
          %td
            %sapn{:ng_hide => "keyvitalsmaster.edit"}= "{{keyvitalsmaster.upper_limit}}"
            %input{:type => "text", :ng_model => "keyvitalsmaster.upper_limit", :ng_show => "keyvitalsmaster.edit"}
          %td
            %sapn{:ng_hide => "keyvitalsmaster.edit"}= "{{keyvitalsmaster.lower_limit}}"
            %input{:type => "text", :ng_model => "keyvitalsmaster.lower_limit", :ng_show => "keyvitalsmaster.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(keyvitalsmaster)", :ng_hide => "keyvitalsmaster.edit"
            = link_to "Update", "#", :ng_click => "update(keyvitalsmaster)", :ng_show => "keyvitalsmaster.edit"
            = link_to "Delete", "#", :ng_click => "destroy(keyvitalsmaster)"
