.row{:ng_controller => "CareprovidesController", :ng_init => "loadCareprovides(#{@enrollment_id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
  %br
  %button.button{:type => "button", :ng_hide => "careprovide.isNew", :ng_click => "newCareprovide()"} Add New
  .col-md-24{:ng_show => "careprovide.isNew"}
    %form#sky-form.sky-form{:name=>"careprovideform", :ng_submit => "save()", :novalidate => ""}
      .col-md-24
        .col-md-24
          %header New Care Plan
          .col-md-24
            .row
              .col-md-24
                %label.multiselect
                  %select{:ng_model => "careprovide.sub_service_master", :ng_options => "option as option.sub_service group by option.service_name for option in sub_services track by option.id", :multiple => true, :size => 5, :class => "form-control"}
            
          
          .col-md-24
            %br
            .row
              .col-md-4
                %label.input
                  %input{:type => "text", :placeholder => "Time", :ng_model => "careprovide.care_time", :onFocus => 'getTimepicker(this)'}
              .col-md-6
                %label.input
                  %input{:type => "input", placeholder: "Comment", :ng_model => "careprovide.comments"}         
            .row
              %br
              %br
              .col-md-2
                %button.button{:type => "submit"} Add
              .col-md-3
                %button.button{:type => "button", :ng_click => "close()"} Close
                //= link_to "Close", "#", :ng_click => "close()"
            .row
              .col-md-12
                %label.multiselect
                
  %br
  
  -# = link_to "Add new", "#", :ng_click => "newCareprovide()"
  -# .row{:ng_show => "careprovide.isNew"}
  -#   %input{:type => "text",:size => "5", :placeholder => "Time", :ng_model => "careprovide.care_time", :onFocus => 'getTimepicker(this)'} &nbsp;
  -#   %select{:ng_model => "careprovide.service_id", :ng_options => "option.id as option.service for option in services"} &nbsp;
  -#   //%select{:ng_model => "careprovide.sub_service_id", :ng_options => "option.id as option.service for option in services"} &nbsp;
  -#   %input{:type => "input", placeholder: "Comment", :ng_model => "careprovide.comments"}
  -#   %br
  -#   = link_to "save", "#", :ng_click => "save()"
  %br
  %table.table.table-list
    %thead
      %th Tiime
      %th Services
      %th Comments    
      %th Action
    %tbody
      %tr{"ng-repeat" => "careprovide in careprovides"}
        %td
          %sapn{:ng_hide => "careprovide.edit"}= "{{careprovide.care_time}}"
          %input{:type => "text", :ng_model => "careprovide.care_time", :placeholder => "Time", :onFocus => 'getTimepicker(this)', :ng_show => "careprovide.edit", :size => '7'}
        %td
          %sapn{:ng_hide => "careprovide.edit"}= "{{careprovide.services}}"
          %select{:ng_model => "careprovide.sub_service_master", :ng_options => "option as option.sub_service group by option.service_name for option in sub_services track by option.id",:multiple => true, :size => 5, :ng_show => "careprovide.edit"}
        %td
          %sapn{:ng_hide => "careprovide.edit"}= "{{careprovide.comments}}"
          %textarea{:type => "text", :ng_model => "careprovide.comments", :ng_show => "careprovide.edit",:columns => '10', :rows => '2'}
        %td
          = link_to raw("<i class='fa fa-pencil fa-lg'></i> "), "#", :ng_click => "edit(careprovide)", :ng_hide => "careprovide.edit", :title => "Edit"
          = link_to raw("<i class='fa fa-floppy-o fa-lg'></i>"), "#", :ng_click => "update(careprovide)", :ng_show => "careprovide.edit", :title => "Update"
          = link_to raw("<i class='fa fa-times-circle fa-lg'></i>"), "#", :ng_click => "closeupdate(careprovide)", :ng_show => "careprovide.edit", :title => "Cancel"
          = link_to raw("<i class='fa fa-trash fa-lg'></i>"), "#", :ng_click => "destroy(careprovide)", :ng_hide => "careprovide.edit", :title => "Delete"
