.col-md-24{:ng_controller => "DrugQuantityController", :ng_init => "loaddrugquantityMasters(#{@enrollment.id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
  %br
  = link_to "Add new", "#",:class => 'button',:ng_hide => "drugquantitymaster.isNew", :ng_click => "newdrugquantitymaster()"
  .col-md-12.col-md-offset-1{:ng_show => "drugquantitymaster.isNew"}
    %form#sky-form.sky-form{:name=>"drugquantitymasterform", :ng_submit => "save()", :novalidate => ""}
      .row
        .col-md-24
          %header Drug Details
          .row
            %section.col-md-6
              %label.text
                SOS/As Needed
            %section.col.col-3
              %label.radio-inline                      
                %input{:name => "sos", :type => "radio", :ng_model => "drugquantitymaster.sos", :value => "SOS"}
                %span SOS
            %section.col.col-3
              %label.radio-inline
                %input{:name => "sos", :type => "radio", :ng_model => "drugquantitymaster.sos", :value => "AsNeeded"}
                %span AS Needed                      
          .row
            %section.col.col-6
              Search Drug:
              %label.input
                = autocomplete_field_tag :name, '', auto_search_autocomplete_drug_master_names_path, :placeholder =>"Name", :class => 'form-control', :required => true, :id_element => "#id"
                = hidden_field_tag :id, :id => "#{@id}"                  
            %section.col.col-2
              %label.input
                Route:
                %input{:type => "input", :id => "route", placeholder: "Route", :readonly => true}
            %section.col.col-2
              %label.input
                Form:
                %input{:type => "input", :id => "form", placeholder: "Form", :readonly => true}
            %section.col.col-2
              %label.input
                Unit:
                %input{:type => "input", :id => "unit", placeholder: "Unit", :readonly => true}
          .row
            %section.col.col-4
              %label.input
                Quantity:
                %input{:type => "number", placeholder: "Quantity", :ng_model => "drugquantitymaster.quantity", :ng_change => "changeRefillDate(drugquantitymaster.quantity, 0)", :min => 0}              
            %section.col.col-4
              %label.input
                Dose:
                %input{:type => "number", placeholder: "Dosage", :ng_model => "drugquantitymaster.dose", :ng_change => "changeRefillDate(0, drugquantitymaster.dose)", :min => 0}
            %section.col.col-4
              %label.input
                Refill Date:
                %input{:type => "text", :ng_model => "drugquantitymaster.refill_date", :placeholder => "MM/DD/YYYY", :readonly => true}
          .row                          
            %section.col.col-4
              %label.input
                %span{:ng_hide => "drugquantitymaster.check"} Review Date:
                %input{:type => "text", :ng_model => "drugquantitymaster.review_date",:ng_hide => "drugquantitymaster.check",  :placeholder => "Review Date", :my_datepicker => "", :required => true}     
            %section.col.col-4
              %label.checkbox-inline{:ng_hide => "drugquantitymaster.sos == 'SOS'"}
                %input{:type => "checkbox", :ng_model => "drugquantitymaster.check"}
                %sapn Life Long



        .col-md-1
        .col-md-24
          %header Time of Administration
          //%ng-include{:src => "time_admin_form"}
          %form
            .row{:ng_repeat => "slot in drugquantitymaster.slots"}
              %section.col-md-5
                %label.input
                  %input{"ng-model" => "slot.time1", :onFocus => "getTimepicker(this)", :placeholder => "Time1", :type => "text"}/
              %section.col-md-5
                %label.input
                  %input{"ng-model" => "slot.time2", :onFocus => "getTimepicker(this)", :placeholder => "Time2", :type => "text"}/
              %section.col-md-5
                %label.input
                  %input{"ng-model" => "slot.time3", :onFocus => "getTimepicker(this)", :placeholder => "Time3", :type => "text"}/
              %section.col-md-1{"ng-show" => "$index > 0"}
                %a{:href => "#", "ng-click" => "removeTimeSlot($index)", :title => "close"}
                  %i.fa.fa-close.fa-lg
            .row
              .pull-right
                %button.button{:type => "button", "ng-click" => "addMoreSlot()"} Add More
      .row
        %section.col-md-3
          %button.button{:type => "submit",:ng_click => "save()"} Save
        %section.col-md-3
          %button.button{:type => "button", :ng_click => "close()"} Close
  %br
       


        
  %br
  %table.table.table-list
    %thead
      %th Drug
      %th Quantity
      %th Dosage
      %th Review Date
      %th Refill Date
      %th Time
      %th SOS/AsNeeded
      %th Activity
    %tbody
      %tr{"ng-repeat" => "drugquantitymaster in drugquantitymasters"}
        %td {{drugquantitymaster.drug_name}}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.quantity}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.quantity", :ng_show => "drugquantitymaster.edit",  :size => "7"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.dose}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.dose", :ng_show => "drugquantitymaster.edit", :size => "7"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.review_date}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.review_date", :placeholder => "Review Date", :my_datepicker => "", :ng_show => "drugquantitymaster.edit", :size => "7"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.refill_date}}"
          %input{:type => "text", :ng_model => "drugquantitymaster.refill_date", :placeholder => "Review Date", :my_datepicker => "", :ng_show => "drugquantitymaster.edit", :size => "7"}
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.times_str}}"
         
          = link_to raw("<i class='fa fa-clock-o fa-lg'></i>"),'#', :ng_click => "time_of_admins(drugquantitymaster.id)", :ng_show => "drugquantitymaster.edit", :title => "Conversation"
        %td
          %sapn{:ng_hide => "drugquantitymaster.edit"}= "{{drugquantitymaster.sos}}"
          %input{:name => "sos{{$index}}", :type => "radio", :ng_model => "drugquantitymaster.sos", :ng_show => "drugquantitymaster.edit", :value => "SOS"}
          %span{:ng_show => "drugquantitymaster.edit"} SOS
          %input{:name => "sos{{$index}}", :type => "radio", :ng_model => "drugquantitymaster.sos", :ng_show => "drugquantitymaster.edit", :value => "AsNeeded"}
          %span{:ng_show => "drugquantitymaster.edit"} As Needed
        %td
          = link_to raw("<i class='fa fa-pencil fa-lg'></i> "), "#", :ng_click => "edit(drugquantitymaster)", :ng_hide => "drugquantitymaster.edit", :title => "Edit"
          = link_to raw("<i class='fa fa-floppy-o fa-lg'></i> "), "#", :ng_click => "update(drugquantitymaster)", :ng_show => "drugquantitymaster.edit", :title => "Update"
          = link_to raw("<i class='fa fa-times-circle fa-lg'></i> "), "#", :ng_click => "closeupdate(drugquantitymaster)", :ng_show => "drugquantitymaster.edit", :title => "Cancel"
          = link_to raw("<i class='fa fa-trash fa-lg'></i> "), "#", :ng_click => "destroy(drugquantitymaster)", :ng_hide => "drugquantitymaster.edit", :title => "Delete"

  .modal.fade{ :id => "timeModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog{:style => 'top:150px ; left:310px'}
      .modal-content
        .modal-header
          %h4 
            Time of Administration 
          %button{:class => "close", :data => {:dismis => "modal"}, "area-label" => "close"}
            %span{"area-hidden" => "true"} 
              %times
        .modal-body
          .row
            .pull-right
              = link_to "Add new", "#", :ng_click => "newTimeofadmin()",:style => 'margin-right:40px',  :class => 'btn btn-primary'
            %br
            .col-md-8{:ng_show => "timeofadmin.isNew"}
              %span{:style => 'margin-left:20px'} New Timeofadmin
              .sky-form
                %form{:class => "sky-form", :style => 'margin-left:20px'}
                  = hidden_field_tag :drug_quantity_master_id, "", :id => "drug_quantity_master_id"
                  %input{"ng-model" => "timeofadmin.time", :onFocus => "getTimepicker(this)", :placeholder => "Time", :type => "text"}/
                  = link_to "save", "#", :ng_click => "savetime()", :class => 'btn btn-primary'
              %br
            .row
              .col-md-8.col-md-offset-2
                %table.table-list{:style => 'margin-left:100px'}
                  %thead
                    %th Drug
                    %th Time
                    %th Action
                  %tbody
                    %tr{"ng-repeat" => "timeofadmin in timeofadmins"}
                      %td
                        %sapn{:ng_hide => "timeofadmin.edit"}= "{{timeofadmin.drug_name}}"
                        %input{:type => "text", :ng_model => "timeofadmin.drug_name", :ng_show => "timeofadmin.edit"}
                      %td
                        %sapn{:ng_hide => "timeofadmin.edit"}= "{{timeofadmin.time}}"
                        %input{:type => "text", :ng_model => "timeofadmin.time", :ng_show => "timeofadmin.edit"}
                      %td
                        = link_to raw("<i class='fa fa-pencil fa-lg'></i> "), "#", :ng_click => "edittime(timeofadmin)", :ng_hide => "timeofadmin.edit", :title => "Edit"
                        = link_to raw("<i class='fa fa-floppy-o fa-lg'></i>"), "#", :ng_click => "updatetime(timeofadmin)", :ng_show => "timeofadmin.edit", :title => "Update"
                        = link_to raw("<i class='fa fa-trash fa-lg'></i>"), "#", :ng_click => "destroytime(timeofadmin)", :ng_hide => "timeofadmin.edit", :title => "Delete"    
                        = link_to raw("<i class='fa fa-times-circle fa-lg'></i>"), "#", :ng_click => "timeofadmin.edit = 'false'", :ng_show => "timeofadmin.edit", :title => "Cancel"
