.pull-right
  %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Track Vitals"
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title New Bus
        %hr
        = render 'track_vital'
