//= render 'modal'
.row{:ng_controller => "VitalTrendsController", :ng_init => "loadVitalTrends(#{@enrollment_id})"}
  .row{:ng_show => "warning || success"}
    %br
    .col-md-1
    .col-md-8
      .alert.alert-warning.alert-dismissible{:role => "alert", :ng_show => "warning"}
        %button.close{"aria-label" => "Close", :type => "button", :ng_click => "warning = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
      .alert.alert-success.alert-dismissible{:role => "alert", :ng_show => "success"}
        %button.close{"aria-label" => "Close", :type => "button" , :ng_click => "success = false"}
          %span{"aria-hidden" => "true"} &times;
        %span {{alertMessage}}
  %br
  .pull-right
    %button.button{:type => "button", :ng_click => "toogle()"} Track Vitals
  %button.button{:type => "button", :ng_hide => "vitaltrend.isNew", :ng_click => "newVitalTrend()"} Add New
  //= link_to "Add new", "#",:ng_hide => "patient_routine.isNew", :ng_click => "newPatientRoutine()"    
  .col-md-24.col-md-offset-1{:ng_show => "vitaltrend.isNew"}
    %form#sky-form.sky-form{:name=>"vitalform", :ng_submit => "save()", :novalidate => ""}
      .col-md-24
        .col-md-24.col-md-offset-1
          %header Vitals
          .col-md-12
            .row
              %section.col-md-11
                %label.select
                  %select{:ng_model => "vitaltrend.key_vitals_master_id", :ng_options => "option.id as option.name for option in key_vitals", :ng_change => "popLimits(vitaltrend.key_vitals_master_id)"} 
                    %option{:value => ""} -- choose Vital --
                  %i
            .row
              %section.col-md-3
                %button.button{:type => "submit"} Add
              %section.col-md-3
                %button.button{:type => "button", :ng_click => "close()"} Close

          .col-md-12
            .row
              %section.col-md-6
                %label.input
                  %input{:type => "text", :ng_model => "vitaltrend.lower_limit", :placeholder => "Lower Limit"}
              %section.col-md-6
                %label.input
                  %input{:type => "input", placeholder: "Upper Limit", :ng_model => "vitaltrend.upper_limit"}
  %br
  
  -# = link_to "Add new", "#", :ng_click => "newVitalTrend()"
  -# .row{:ng_show => "vitaltrend.isNew"} 
  -#   %input{:type => "text", :ng_model => "vitaltrend.date", :placeholder => "Date", :my_datepicker => ""} &nbsp;
  -#   %select{:ng_model => "vitaltrend.key_vitals_master_id", :ng_options => "option.id as option.name for option in key_vitals"} &nbsp;
  -#   %input{:type => "input", placeholder: "Value", :ng_model => "vitaltrend.value"}
  -#   %br
  -#   = link_to "save", "#", :ng_click => "save()"
  %br
  %table.table.table-list
    %thead
      //%th Date
      %th Vital
      //%th Value
      %th Unit
      %th Lower Limit
      %th Upper Limit
      %th Action
    %tbody
      %tr{"ng-repeat" => "vitaltrend in vitaltrends"}
        -# %td
        -#   %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.date}}"
        -#   %input{:type => "text", :ng_model => "vitaltrend.date", :placeholder => "Date", :my_datepicker => "", :ng_show => "vitaltrend.edit", :size => "7"}
        %td {{vitaltrend.vital_name}}
        -# %td
        -#   %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.value}}"
        -#   %input{:type => "text", :ng_model => "vitaltrend.value", :ng_show => "vitaltrend.edit", :size => "7"}
        %td {{vitaltrend.vital_unit}}
        %td
          %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.lower_limit}}"
          %input{:type => "text", :ng_model => "vitaltrend.lower_limit", :ng_show => "vitaltrend.edit", :size => "7"}
        %td
          %sapn{:ng_hide => "vitaltrend.edit"}= "{{vitaltrend.upper_limit}}"
          %input{:type => "text", :ng_model => "vitaltrend.upper_limit", :ng_show => "vitaltrend.edit", :size => "7"}
        %td
          = link_to raw("<i class='fa fa-pencil fa-lg'></i> "), "#", :ng_click => "edit(vitaltrend)", :ng_hide => "vitaltrend.edit", :title => "Edit"
          = link_to raw("<i class='fa fa-floppy-o fa-lg'></i>"), "#", :ng_click => "update(vitaltrend)", :ng_show => "vitaltrend.edit", :title => "Update"
          = link_to raw("<i class='fa fa-times-circle fa-lg'></i>"), "#", :ng_click => "closeupdate(vitaltrend)", :ng_show => "vitaltrend.edit", :title => "Cancel"
          = link_to raw("<i class='fa fa-trash fa-lg'></i>"), "#", :ng_click => "destroy(vitaltrend)", :ng_hide => "vitaltrend.edit", :title => "Delete"

  .col-md-24.col-md-offset-2{:ng_show => "toogel"}
    %br
    = render 'track_vitals'
