%h1 PatientsCarePlans#index
%p Find me in app/views/patients_care_plans/index.html.haml
#lifeCircleAccordian.container
  .content_fullwidth
    .col-md-10.col-md-offset-1
      .sky-form
        .panel-group{:id => "accordion","aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default
            .panel-heading
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                %h4.panel-title Collapsible Group Item #1
            #collapseOne.panel-collapse.collapse
              .panel-body
                = render "patient_selfcare_abilities"
            .panel-heading
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                %h4.panel-title Collapsible Group Item #2
            #collapseTwo.panel-collapse.collapse
              .panel-body
                = render "patient_selfcare_abilities"
            .panel-heading
              %a.accordion-toggle.collapsed{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                %h4.panel-title Collapsible Group Item #3
            #collapseThree.panel-collapse.collapse
              .panel-body
                = render "patient_selfcare_abilities"
.clearfix
.container
  .row
    %ul.tabs2
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "ability", "data-toggle" => "tab", :href => "#ability", :role => "tab"}  Patient Self Care Ability
      %li{:role => "presentation"}
        %a{"aria-controls" => "devices", "data-toggle" => "tab", :href => "#devices", :role => "tab"} Adaptive Devices
      %li{:role => "presentation"}
        %a{"aria-controls" => "routine", "data-toggle" => "tab", :href => "#routine", :role => "tab"} Patient Routine
      %li{:role => "presentation"}
        %a{"aria-controls" => "drug_management", "data-toggle" => "tab", :href => "#drug_management", :role => "tab"} Drug Management
      %li{:role => "presentation"}
        %a{"aria-controls" => "vitals", "data-toggle" => "tab", :href => "#vitals", :role => "tab"}Vitals to be Tracked
    / Tab panes
    .tabs-content2
      #ability.tab-pane.active{:role => "tabpanel"}
        %br
        = render "patient_selfcare_abilities"
      #devices.tab-pane.active{:role => "tabpanel"}
        %br
        = render "patient_adaptive_equipments"
      #routine.tab-pane.active{:role => "tabpanel"}
        %br
        = render "patient_routines"
      #drug_management.tab-pane.active{:role => "tabpanel"}
        %br
        = render "drug_quantity_master"
      #vitals.tab-pane.active{:role => "tabpanel"}
        %br
        //= render "vital_trends"
