.col-md-24
  .col-md-24
    .pull-right
      %h2  Patient Care Plan
%br
.pull-right
  = link_to 'BACK' , enrollment_path(@enrollment) , :class => 'btn btn-primary'
  = link_to 'Print' , "/enrollments/#{@enrollment_id}/patients_care_plans/pcp_pdf.pdf" , :class => 'btn btn-primary'
#lifeCircleAccordian.container
  .content_fullwidth
    .col-md-24.col-md-offset-1
      .sky-form
        .panel-group{:id => "accordion","aria-multiselectable" => "true", :role => "tablist"}
          .panel.panel-default
            #headingOne.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                  Selected Disabilities
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseOneShown, 'fa-angle-up': !collapseOneShown}"}
            #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              .panel-body
                = render "selected_disabilities"
                %br
          .panel.panel-default
            #headingTwo.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                  Selected Services
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseTwoShown, 'fa-angle-up': !collapseTwoShown}"}
            #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
              .panel-body
                = render "selected_services" 
                %br
          .panel.panel-default
            #headingThree.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                  Adaptive Devices
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseThreeShown, 'fa-angle-up': !collapseThreeShown}"}
            #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
              .panel-body
                = render "patient_adaptive_equipments" 
                -# %form#sky-form.sky-form{:name=>"drugquantitymasterform", :ng_submit => "save()", :novalidate => ""}
                -#   .row
                -#     .col-md-6
                -#       %header Patient Routine
                -# = render "patient_adaptive_equipments" 
                -# %br
                -# %form#sky-form.sky-form{:name=>"drugquantitymasterform", :ng_submit => "save()", :novalidate => ""}
                -#   .row
                -#     .col-md-6
                -#       %header Patient Daily Care Plan
                -# %br
          .panel.panel-default
            #headingFour.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour", :role => "button"}
                  Patient Self Care Ability
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseFourShown, 'fa-angle-up': !collapseFourShown}"}
            #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
              .panel-body
                = render "patient_selfcare_abilities"
                %br
          .panel.panel-default
            #headingFive.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseFive", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive", :role => "button"}
                  Patient Routine
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseFiveShown, 'fa-angle-up': !collapseFiveShown}"}
            #collapseFive.panel-collapse.collapse{"aria-labelledby" => "headingFive", :role => "tabpanel"}
              .panel-body
                = render "patient_routines"
                %br
          .panel.panel-default
            #headingSix.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseSix", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix", :role => "button"}
                  Daily Care Plan Selected Services
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseSixShown, 'fa-angle-up': !collapseSixShown}"}
            #collapseSix.panel-collapse.collapse{"aria-labelledby" => "headingSix", :role => "tabpanel"}
              .panel-body
                = render "care_to_be_provided" 
                %br
          .panel.panel-default
            #headingSeven.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseSeven", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven", :role => "button"}
                  Drug Management
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseSevenShown, 'fa-angle-up': !collapseSevenShown}"}
            #collapseSeven.panel-collapse.collapse{"aria-labelledby" => "headingSeven", :role => "tabpanel"}
              .panel-body
                = render "drug_quantity_master"                
                %br
          .panel.panel-default
            #headingEight.panel-heading-active{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseEight", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight", :role => "button"}
                  Vitals to be Tracked
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseEightShown, 'fa-angle-up': !collapseEightShown}"}
            #collapseEight.panel-collapse.collapse{"aria-labelledby" => "headingEight", :role => "tabpanel"}
              .panel-body                
                = render "vital_trends"
                %br

    
