%h3 Lost Reason Master
.row{:ng_controller => "LostReasonController", :ng_init => "loadLostReasons()"}
  = link_to "Add new", "#", :ng_click => "newLostReason()", :class => 'btn btn-primary'
  .row{:ng_show => "lostReason.isNew"}
    %span New LostReason
    %input{:type => "input", :ng_model => "lostReason.reason"}
    = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
  %table
    %thead
      %th LostReason
      %th Action
    %tbody
      %tr{"ng-repeat" => "lostReason in lostReasons"}
        %td
          %sapn{:ng_hide => "lostReason.edit"}= "{{lostReason.reason}}"
          %input{:type => "text", :ng_model => "lostReason.reason", :ng_show => "lostReason.edit"}
        %td
          = link_to "Edit", "#", :ng_click => "edit(lostReason)", :ng_hide => "lostReason.edit"
          = link_to "Update", "#", :ng_click => "update(lostReason)", :ng_show => "lostReason.edit"
          = link_to "Delete", "#", :ng_click => "destroy(lostReason)"
