%h1 TimeOfAdministrations#index

.clearfix
.container
  .row{:ng_controller => "TimeofadminController", :ng_init => "loadTimeofadmins()"}
    = link_to "Add new", "#", :ng_click => "newTimeofadmin()", :class => 'btn btn-primary'
    .row{:ng_show => "timeofadmin.isNew"}
      %span New Timeofadmin 
      %input{:type => "input", :ng_model => "timeofadmin.name"}
      %input{"ng-model" => "timeofadmin.time", :onFocus => "getTimepicker(this)", :placeholder => "Time", :type => "text"}/
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %table.table-list
      %thead
        %th Enrollment Id
        %th Drug
        %th Time
        %th Action
      %tbody
        %tr{"ng-repeat" => "timeofadmin in timeofadmins"}
          %td
            %sapn{:ng_hide => "timeofadmin.edit"}= "{{timeofadmin.enrollment_id}}"
            %input{:type => "text", :ng_model => "timeofadmin.enrollment_id", :ng_show => "timeofadmin.edit"}
          %td
            %sapn{:ng_hide => "timeofadmin.edit"}= "{{timeofadmin.drug_name}}"
            %input{:type => "text", :ng_model => "timeofadmin.drug_name", :ng_show => "timeofadmin.edit"}
          %td
            %sapn{:ng_hide => "timeofadmin.edit"}= "{{timeofadmin.time}}"
            %input{:type => "text", :ng_model => "timeofadmin.time", :ng_show => "timeofadmin.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(timeofadmin)", :ng_hide => "timeofadmin.edit"
            = link_to "Update", "#", :ng_click => "update(timeofadmin)", :ng_show => "timeofadmin.edit"
            = link_to "Delete", "#", :ng_click => "destroy(timeofadmin)"
