.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Disabilities Master
.col-md-20.col-md-offset-2{:ng_controller => "DisabilityController", :ng_init => "loadDisabilities()"}
  = link_to "Add new", "#", :ng_click => "newDisability()", :class => 'btn btn-primary'
  .row{:ng_show => "disability.isNew"}
    %span New Disability
    %input{:type => "input", :ng_model => "disability.disability"}
    = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
  %table.table.table-list
    %thead
      %th Disability
      %th Action
    %tbody
      %tr{"ng-repeat" => "disability in disabilities"}
        %td
          %sapn{:ng_hide => "disability.edit"}= "{{disability.disability}}"
          %input{:type => "text", :ng_model => "disability.disability", :ng_show => "disability.edit"}
        %td
          = link_to "Edit", "#", :ng_click => "edit(disability)", :ng_hide => "disability.edit"
          = link_to "Update", "#", :ng_click => "update(disability)", :ng_show => "disability.edit"
          = link_to "Delete", "#", :ng_click => "destroy(disability)"
