.row{:ng_controller => "EnquiryReferenceController", :ng_init => "loadEnquiryReferences()"}
  = link_to "Add new", "#", :ng_click => "newEnquiryReference()"
  .row{:ng_show => "enquiryReference.isNew"}
    %span New EnquiryReference
    %input{:type => "input", :ng_model => "enquiryReference.reference"}
    = link_to "save", "#", :ng_click => "save()"
  %table
    %thead
      %th Reference
      %th Action
    %tbody
      %tr{"ng-repeat" => "enquiryReference in enquiryReferences"}
        %td
          %sapn{:ng_hide => "enquiryReference.edit"}= "{{enquiryReference.reference}}"
          %input{:type => "text", :ng_model => "enquiryReference.reference", :ng_show => "enquiryReference.edit"}
        %td
          = link_to "Edit", "#", :ng_click => "edit(enquiryReference)", :ng_hide => "enquiryReference.edit"
          = link_to "Update", "#", :ng_click => "update(enquiryReference)", :ng_show => "enquiryReference.edit"
          = link_to "Delete", "#", :ng_click => "destroy(enquiryReference)"
