.row{:ng_controller => 'attendanceController',:ng_init => 'today_attendance()'}
  .row
    %center
      %h4 Attendance
  .row
    .col-md-3
    .col-md-3
      %h5 from date
    .col-md-3
      = text_field_tag :from_time , nil, :class => 'datepicker form-control' , :ng_model => 'from_date'
    .col-md-3
      %h5 To date
    .col-md-3
      = text_field_tag :to_time , nil , :class => 'datepicker form-control' , :ng_model => 'to_date'
    .col-md-5 
      = link_to 'Get Attendance' , '#' , :class => 'btn btn-primary' , :ng_click => 'get_attendance()' , :style =>"width:auto"
  %div
    .row{:ng_show => 'getAttendance' ,:ng_init => "page_status = '#{@params}'; getEnquiries(1)" }
      .row
        .col-md-1
        .col-md-22
          .pull-right
            .btn-group.btn-group-sm
              %button.btn.btn-default{:ng_click => "previousDates()", :ng_class => "{'disabled': pagination_start_at <= 0}", :type => "button"} 
                %i.fa.fa-chevron-left.fa-lg
                %span Prev &nbsp;
              %button.btn.btn-default
                %span= "-"
              %button.btn.btn-default{:ng_click => "nextDates()", :ng_class => "{'disabled': end_limit >= total_date_headers}", :type => "button"} 
                %span Next &nbsp;
                %span.fa.fa-chevron-right.fa-lg

          %table#example.table.table-responsive.table-list.table-bordered
            %thead
              %tr
                %th Date
                %th{:ng_repeat => 'header in headers'}
                  = "{{header}}"

            %tbody
              %tr{:ng_repeat => 'report in reports'}
                %td
                  = link_to '{{report.care_giver_master}}' , '/care_giver_masters/{{report.id}}', :targer => "_blank"

                %td{:ng_repeat => "header in headers"}
                  = "{{getAttendaceDetailsAtIndex((pagination_start_at+$index), report.attendance_details)}}"
  .row
    .col-md-16      
      #getModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
        .modal-content
          .modal-header           
            %h4#myModalLabel.modal-title Attendance        
            .modal-body 
              .row
                .col-md-2 
                .col-md-20 
                  .col-md-20
                    %table.table.table-list
                      %thead
                        %tr
                          %th Name
                          %th From
                          %th To
                          %th From
                          %th To
                          %th Status
                      %tbody
                        %tr{:ng_repeat => 'k in times'}
                          
                          %td {{k.name}}
                          %td {{k.from_time}}
                          %td {{k.to_time}}
                          %td 
                            %input{:type => "text", :ng_model => "k.from",  :onFocus => 'getTimepicker(this)'}
                          %td
                            %input{:type => "text", :ng_model => "k.to",  :onFocus => 'getTimepicker(this)'}
                          %td
                            %select{:ng_model => "k.status", :ng_options => "tag.value as tag.key for tag in options"}
              %button.button{:ng_click => "save_attendance()"} Save
                              
  .row
    .col-md-16
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
        .modal-content
          .modal-header           
            %h4#myModalLabel.modal-title Attendance        
            .modal-body 
              .row
                .col-md-2
                .col-md-20 
                  .col-md-20
                    %table.table.table-list
                      %thead
                        %tr
                          %th Name
                          %th Patinet
                          %th Planned In
                          %th Actual In
                          %th
                          %th Planned Out
                          %th Actual Out
                          %th
                      %tbody
                        %tr{:ng_repeat => 'p in real_values[0][0]'}
                         
                          %td {{p.name}}
                          %td {{p.patinet}}
                          %td {{p.planned_in}}
                          %td {{p.actual_in}}
                          %td{:ng_if => "p.alert_in == 'White'" , :style => "background-color:#fff;"}
                          %td{:ng_if => "p.alert_in == 'Red'" , :style => "background-color:#CF3D3D;"}
                          %td{:ng_if => "p.alert_in == 'Green'" ,:style => "background-color:#349825;"}
                          %td {{p.palnned_out}}
                          %td {{p.actual_out}}
                          %td{:ng_if => "p.alert_out == 'White'" , :style => "background-color:#fff;"}
                          %td{:ng_if => "p.alert_out == 'Red'" , :style => "background-color:#CF3D3D;"}
                          %td{:ng_if => "p.alert_out == 'Green'" ,:style => "background-color:#349825;"} 
  .row
    .col-md-16
      #cgModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
        .modal-content
          .modal-header           
            %h4#myModalLabel.modal-title Attendance        
            .modal-body 
              .row
                .col-md-2 
                .col-md-20 
                  .col-md-20
                    %table.table.table-list
                      %thead
                        %tr
                          %th Patinet
                          %th Date
                          %th Planned In
                          %th Actual In
                          %th Planned Out
                          %th Actual Out
                          
                      %tbody
                        %tr{:ng_repeat => 'p in cgs'}
                         
                          %td {{p.patinet}}
                          %td {{p.date}}
                          %td {{p.planned_in}}
                          %td {{p.actual_in}}
                          %td {{p.palnned_out}}
                          %td {{p.actual_out}}
                 
  .row{:ng_show => 'TodayAttendance'}
    %center
      %h2
        Today Attendance
    %table.table.table-condensed.table.condensed.table-hovered.table-striped
      %thead
        %tr
          %th Cg Name
          %th Patient Name
          %th PlannedIn
          %th ActualIn
          %th
          %th Planned Out
          %th Actual Out
          %th 
      %tbody
        %tr{:ng_repeat => 'value in values[0][0]'}
          %td {{value.name}}
          %td {{value.patient}}
          %td {{value.planned_in}}
          %td {{value.actual_in}}
          %td{:ng_if => "value.alert_in == 'White'" , :style => "background-color:#fff;"}
          %td{:ng_if => "value.alert_in == 'Red'" , :style => "background-color:#CF3D3D;"}
          %td{:ng_if => "value.alert_in == 'Green'" ,:style => "background-color:#349825;"} 
              
          %td {{value.planned_out}}
          %td {{value.actual_out}}
          %td{:ng_if => "value.alert_out == 'White'" , :style => "background-color:#fff;"}
          %td{:ng_if => "value.alert_out == 'Red'" , :style => "background-color:#CF3D3D;"}
          %td{:ng_if => "value.alert_out == 'Green'" ,:style => "background-color:#349825;"} 
          
        

