%section#inner-page
  %h2 News and Press
  .container
    .row.bg-white
      %p
        %strong Paramedic Visits with Seniors Citizens Result in Less EMS Calls and Emergency Room Trips
      %p
        Community health awareness delivered by paramedics leads to 32 percent reduction in EMS calls
        Oct. 20, 2013 – Emergency Medical Service (EMS) staff are accustomed to responding to emergencies, especially for senior citizens. A study presented today at the Canadian Cardiovascular Congress finds they may be able to prevent many emergencies as well, judging by the preliminary success of a pilot project at a Hamilton building for seniors.
      %p The subsidized housing complex in the study has about 280 residents, predominantly low income seniors. It’s a group at increased risk of cardiovascular disease, diabetes and falls. The local EMS receives frequent calls from the building.
      %p As a pilot, two paramedics provided weekly drop-in sessions to review healthy lifestyles, measure blood pressure and assess diabetes risk and risk of falls.
      %p Preliminary data shows a trend of up to 32 per cent reduction in EMS calls from the single building in which the program was offered, since the sessions began.
      %p “As members of the health team on the front line, paramedics can play a valuable role in reducing the risk and improving the health of seniors,” says Dr. Gina Agarwal, associate professor in the department of family medicine at McMaster University.
      %p The sessions were well attended, with an average of 25 per cent of residents over age 65 participating during the project’s eight months.
      %p More than 60 per cent of the residents who attended the sessions had an elevated body mass index, 40 per cent reported a low level of physical activity, one-third smoked, one-third had a high salt intake, one-third had a high fat intake, and 50 per cent had high blood pressure.
      %p Of the senior residents with high blood pressure, 80 per cent were already on medication for it. With their permission, the readings were conveyed to their family doctors, who could then take action like adjusting medication.
      %p “The paramedics discussed one or two risk factors, such as smoking, lack of exercise or diet at each visit, tried to link residents to community resources and give advice, and then followed up to see how residents were managing,” says Dr. Agarwal.
      %p Paramedics made many referrals to the complex’s in-house wellness exercise program, diabetes foot care and education program, and to residents’ family doctors. They also made linkages with community food advisors and the quit smoking line.
      %p “With their regular presence thanks to the weekly schedule, the paramedics seem approachable,” says Dr. Agarwal. “The number of new attendees keeps rising, with word of mouth. The high number of multiple visits also indicates a hunger for this type of health information when it’s so readily available.”
      %p “Communication is the key here. Discussing preventive behaviors and making the advice accessible is important for people of all age groups and backgrounds,” says Heart and Stroke Foundation spokesperson Dr. Beth Abramson. “Community-based health programs like this can be a very effective way to promote good health and prevent chronic conditions. We can all learn from this experience.”
      %p “Communication is the key here. Discussing preventive behaviors and making the advice accessible is important for people of all age groups and backgrounds,” says Heart and Stroke Foundation spokesperson Dr. Beth Abramson. “Community-based health programs like this can be a very effective way to promote good health and prevent chronic conditions. We can all learn from this experience.”
      %p Dr. Agarwal says the study will follow up to assess whether the risk profile of the session attendees has evolved.
      %p The study was carried out by the department of family medicine at McMaster University in Hamilton, in collaboration with Hamilton Paramedics Service, City of Hamilton Public Health, City Housing Hamilton, and the Community Care Access Centre.
      %p The Canadian Cardiovascular Congress is co-hosted by the Heart and Stroke Foundation and the Canadian Cardiovascular Society.
