%h1 RequestedServices#index
%p Find me in app/views/requested_services/index.html.haml

.row{:ng_controller => "RequestedservicesController", :ng_init => "loadServices(#{@enrollment_id})"}
  %fieldset
    .col-md-12
      .col-md-3{:ng_repeat => "service in services"}
        %section
          .col-md-2
            %label.checkboxinline
              %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned", :ng_checked => "service.assigned"}
              &nbsp;
          .col-md-10
            %label
              {{service.service_name}}
    .col-md-12
      .pull-right
        %a{:href => "#", :ng_click => "save()", :style => 'margin-right: 36px', :class => "button"} Save
