%center
  %h3 Enquiry Dashboard
  //.row{:ng_controller => "dashboard"}
    
.row{:ng_controller => "dashboardController" , :ng_init => 'all_cities()' }
  .pull-right
    %select{"ng-model" => "city","ng-options" => "city.id as city.name for city  in cities", "ng-change" => "all_jsons()"}
  .col-md-12
    %h3
      Enquiries
    %table.table.table-list
      %tbody
        %tr
          %th Enquiries
          %td= link_to "{{jsons.job_applicant_list}}" ,  enquiries_path(:status => nil)
        %tr
          %th Missed Calls
          %td= link_to "{{jsons.missed_calls}}",  enquiries_path(:status => nil)
        %tr
          %th New City
          %td= link_to "{{jsons.new_city}}" , new_city_enquiries_path
        %tr
          %th No Caregiver Found
          %td= link_to "{{jsons.no_cg}}" , enquiries_path(:status => 'No Caregiver Found')   
        %tr
          %th Appointments
          %td= link_to "{{jsons.appointments}}" , appointments_enquiries_path
        %tr 
          %th High Potential
          %td= link_to "{{jsons.high}}" , enquiries_path(:status => 'Potential-High')
        %tr
          %th Low Potential
          %td= link_to "{{jsons.low}}", enquiries_path(:status => 'Potential-Low')
        %tr
          %th Audit
          %td= link_to "{{jsons.audit}}" , enquiries_path(:status => 'To Audit')
        %tr
          %th Closed
          %td= link_to "{{jsons.closed}}",  enquiries_path(:status => 'Closed')
  
  .col-md-12
    %h3
      Caregiver
    %table.table.table-list
      %tbody
        %tr
          %th Job Applicants
          %td= link_to "{{jsons.job_applicant_list}}",  care_giver_enquiries_path
        %tr
          %th Short Listed
          %td= link_to  "{{jsons.short_list}}" , recruitment_care_giver_enquiries_path
        %tr
          %th Not Approved List
          %td= link_to "{{jsons.not_approved}}" , care_giver_masters_path(:status => 'Documents Collected') 
        %tr
          %th Hold List
          %td= link_to "{{jsons.hold_list}}" ,  hold_care_giver_enquiries_path
        %tr
          %th CG New City
          %td= link_to "{{jsons.cg_new_city}}", cg_city_request_care_giver_enquiries_path
        %tr 
          %th CG Rejected
          %td= link_to "{{jsons.cg_closed}}", closed_care_giver_enquiries_path
  %br
  .col-md-24
    %h3
      Patients 
    %table.table.table-list
      %tbody
        %tr
          %th Enrolled Patients
          %td= link_to "{{jsons.enrolled}}" , enrollments_path
        %tr
          %th Incomplete PCP
          %td= link_to "{{jsons.incomplete_pcp}}" , incomplete_pcp_enrollments_path
        %tr
          %th Closed
          %td= link_to "{{jsons.closed}}" , closed_form_enrollments_path
.row
  .col-md-12
    %h3
      Patients Tickets
    %table.table.table-list
      %tbody
        %tr
          %th New Tickets
          %td= link_to "{{jsons.patients_new_tickets}}" , tickets_path(:role => 'Patient',:current_tag => 'New')
        %tr
          %th Open Tickets
          %td= link_to "{{jsons.patients_open_tickets}}" , tickets_path(:role => 'Patient',:current_tag => 'Open')
        %tr
          %th Waiting for Inputs
          %td= link_to "{{jsons.patients_waiting}}", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Inputs') 
        %tr
          %th  Waiting for Closed
          %td=  link_to "{{jsons.patients_waiting_for_closed}}" , tickets_path(:role => 'Patient',:current_tag => 'Waiting for Closed')
        %tr
          %th Closed
          %td= link_to "{{jsons.ticket_closed}}", tickets_path(:role => 'Patient', :current_tag => 'Closed')
  .col-md-12
    %h3
      Caregivers Tickets
    %table.table.table-list
      %tbody
        %tr
          %th New Tickets
          %td= link_to "{{jsons.cg_new_tickets}}" , tickets_path(:role => 'Caregiver',:current_tag => 'New')
        %tr
          %th Open Tickets
          %td= link_to "{{jsons.cg_open_tickets}}", tickets_path(:role => 'Caregiver',:current_tag => 'Open')
        %tr
          %th Waiting for Inputs
          %td= link_to "{{jsons.cg_waiting}}", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Inputs') 
        %tr
          %th  Waiting for Closed
          %td=  link_to "{{jsons.cg_waiting_for_closed}}", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Closed')
        %tr
          %th Closed
          %td= link_to "{{jsons.cg_ticket_closed}}", tickets_path(:role => 'Caregiver', :current_tag => 'Closed')
