= form_for @payment_bill, :url => enrollment_payment_master_payment_bills_path(@enrollment, @payment_master),:html => {:class => "sky-form"} do |f|
  = f.hidden_field :payment_master_id
  %section
    .row
      = f.label :total_amount_to_pay, :class => "label col col-2"
      .col.col-8
        %label.input
          = f.number_field :total_amount_to_pay, :readonly => true

  %section
    .row
      = f.label :amount_paid, :class => "label col col-2"
      .col.col-8
        %label.input
          = f.number_field :amount_paid, :min => 0
  %section
    .row
      = f.label :payment_mode, :class => "label col col-2"
      .col.col-8
        %label.select
          = f.select :payment_mode, options_for_select(PaymentMaster::PAYMENT_MODES)
          %i
  %section
    .row
      = f.label :description_1, :class => "label col col-2"
      .col.col-8
        %label.input
          = f.text_field :description_1
  %section
    .row
      = f.label :description_2, :class => "label col col-2"
      .col.col-8
        %label.input
          = f.text_field :description_2
  %section
    .row
      = f.label :payment_date, :class => "label col col-2"
      .col.col-8
        %label.input
          = f.text_field :payment_date, :class => "datepicker"
    %section
      .row
        .col-md-4
        .col-md-3
          = f.submit 'Save', :class => "button"
