.sky-form
  %header
    = raw "#{link_to(@enrollment.patient.name, @enrollment)} Payments"
    .pull-right
      = link_to "Back", @enrollment, :class => "button"

.col-md-11
  = render :partial => "payment_bills", :locals => {:payment_bills => @payment_bills}
