.sky-form
  %header
    = raw "#{link_to(@enrollment.patient.name, @enrollment)} Payments"
    .pull-right
      = link_to "Back", enrollment_payment_master_path(@enrollment, @payment_master), :class => "button"
.row
  = render :partial => "payment_bills", :locals => {:payment_bills => @payment_bills}
