%section#inner-page{:style => "background-color: #EDEDED;"}
  %h2 Team
  .container.team
    .row.text-center
      .col-md-2
      .col-md-8.bg-white
        %img{:src => "/assets/team-male.png"}
          %h3
            %strong ANANT KUMAR
            %br
              %span Founder CEO
          .glyph
            .glyph-icon.flaticon-linkedin1
      .col-md-4
      .col-md-8.bg-white
        %img{:src => "/assets/team-female.png"}
          %h3
            %strong Amit Kumar
            %br
              %span Director
          .glyph
            .glyph-icon.flaticon-linkedin1
      .col-md-2
%section.team.bod.bg-white
  .container
    %h2 Board of Directors
    .row.text-center
      .col-md-2
      .col-md-8.bg-white
        %img{:src => "/assets/team-male.png"}
          %h3
            %strong ANANT KUMAR
            %br
              %span Founder CEO
          %p Advocate-on-Record, Supreme Court of India,  former Standing Counsel of Medical Council of India.
      .col-md-4
      .col-md-8.bg-white
        %img{:src => "/assets/team-female.png"}
          %h3
            %strong Amit Kumar
            %br
              %span Director
          %p
            \&nbsp;
            %br
              \&nbsp;
              %br
                \&nbsp;
                %br/
      .col-md-2
    .row.text-center
      .col-md-2
      .col-md-8.bg-white
        %img{:src => "/assets/team-male.png"}
          %h3
            %strong ANANT KUMAR
            %br
              %span Founder CEO
          %p Advocate-on-Record, Supreme Court of India , Solicitor, Supreme Court of England and Wales
      .col-md-4
      .col-md-8.bg-white
        %img{:src => "/assets/team-female.png"}
          %h3
            %strong Amit Kumar
            %br
              %span Director
          %p
            Global Chief Operating Officer
            %br
              \&nbsp;
              %br
                \&nbsp;
                %br/
      .col-md-2
%section#get-in-touch{:style => "background-color: #EDEDED;"}
  .container
    .row.text-left
      %h2 Get in touch
      .row
        .col-md-12
          .row
            .col-md-12
              %label Name
              %input{:name => "", :type => "text"}
            .col-md-12
              %label Phone
              %input{:name => "", :type => "phone"}
          .row
            .col-md-24
              %label Email
              %input{:name => "", :type => "email"}
        .col-md-12
          .row
            .col-md-24
              %label Message
              %textarea{:cols => "", :name => "", :rows => ""}
      .row.text-center
        %input{:name => "", :style => "width:auto; margin:30px 0;", :type => "button", :value => "SEND"}/
