#bootstrap-pop-up.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{:class => "close", :data => {:dismis => "modal"}, "area-label" => "close"}
          %span{"area-hidden" => "true"} 
            %times
      .modal-body
        %section{:ui_view => true}
