
.footer1
  .container
    .one_fourth
      %ul.faddress
        %li
          = image_tag 'foot.svg', :style => "height:100%; width:100%"
        %li
          %i.fa.fa-map-marker.fa-lg>
          \&nbsp; House No. 1-166/2,Chanda Nagar
          %br
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hyderabad, Telangana
            %br &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pin: 500050
        %li
          %i.fa.fa-phone>
          \&nbsp; +91 40 2303 8878
        %li
          %i.fa.fa-print>
          \&nbsp; 1 -234 -456 -789
        %a{:href => "mailto:info@yourdomain.com", :style => "color:#FFF;padding:3px"}
          %i.fa.fa-envelope
          admin@lifecircle.in
    / end address
    .one_fourth
      .ftags
        %h3.nocaps Give us a Missed Call
        %ul
          %li
            SIMPLY GIVE US A MISSED CALL
            %br
              ON 040–710-117-44 from your mobile
              %br
                inorder to subscribe to our services.Or simply drop us an email
                / <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i> admin@lifecircle.in</a></li>
    / end tags
    .one_fourth
      .twitter_feed
        %h3.nocaps Quick Links
        %a{:href => "about.html"} About our Services
        %br
          %a{:href => "register.html"} Register Here
          %br
            %a{:href => "#"} About the Founder
            %br
              %a{:href => "#"} Other Details
              %br
                %a{:href => "#"} Other Details
                %br
                  / <div class="clearfix margin_top3"></div>
    / end tweets
    .one_fourth.last
      %h3.nocaps Flickr Photos
      #flickr_badge_wrapper
        %script{:src => "http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=h&amp;source=user&amp;user=93382411%40N07", :type => "text/javascript"}
.clearfix
