%section#inner-page
  .container
    .row.vertical-align
      .col-md-7.text-center
        %img{:src => "/assets/fondation-logo.png"}/
      .col-md-17
        %h2.text-left Life Circle Foundation
        %p Life Circle Senior Citizens Foundation  aims to develop “right-based” innovative solutions for senior citizens so as to enable them to lead an active, healthy and productive life. These  innovative solutions will be developed from time to time by undertaking action research on issues relevant to promotion of health and well-being of senior citizens.
        %p The activities undertaken by the foundation for the welfare of senior citizens will be based on the United Nations Principles of Independence, Participation, Dignity, Care and Self-fulfilment and also based on the three priority directives of the Madrid International Plan of Action on Ageing (2002) namely – Older Persons and Development, Advancing Health and Well-being into Old Age and Enabling and Supportive Environments for older persons.
        %p In addition to developing innovative solutions and right based activities for the welfare of senior citizens, Life Circle Senior Citizens Foundation  aims at building a knowledge repository on ageing issues by undertaking action research, collaborating in welfare and socially relevant projects and disseminating best practices in the area of ageing based on those initiatives.
