%header#header
  / Top header bar
  / end top navigation
  #topheader{:style => "background-color: rgb(38, 106, 46);"}
    .container{:style => "padding-bottom:8px; padding-top:8px"}
      - if(current_user.present? and  current_user.role != 'l_c_agent') or !current_user.present?
        %h{:style => "font-size:20px; "}>
          %a{:href => "tel:04071011744", :style => " color:#FFF;padding:2px; padding-right:82px"}
            For Professional Caregivers give us a missed call on:
            %x{:style => "color:#FFF"} 040-71011744
      \&ensp;&ensp;
      /<a class="fancybox fancybox.ajax" href="register-frame.html" style="background-color:#060; color:#FFF; padding:5px;margin-left:280px"><u>Find Caregiver</u></a>
      \&ensp;&ensp;      
      - if(current_user.present? and  current_user.role != 'l_c_agent') or !current_user.present?       
        %a{:href => "/care_giver_enquiries/new", :style => "margin-left:132px; color:#FFF; padding:5px"}
          = image_tag "careers.png", :style => "height:18px; width:16px"
          &nbsp;Careers
      - if current_user.present?
        
        %a{:href => "/enquiries/new_appointment_for_enquiry" , :style =>"color:#FFF; margin-left:80%"} 
          %i.fa.fa-question
          &nbsp;help
        %a{:href => "#{destroy_user_session_path}",  :style => "color:#FFF; padding:5px", :data => {:method => "DELETE"}}
          %i.fa.fa-lock
          &nbsp;Logout           
        %a{:href =>  "#{edit_user_registration_path}" ,:style => "color:#FFF; padding:5px"}
          Change
      - else
        %a{:href => "#{new_user_session_path}",  :style => "margin-left:10px; color:#FFF; padding:5px"}
          = image_tag "lg.png", :style => "height:15px; width:15px"
          &nbsp;Login

              
