.transparent-bg
%header
  .container-fluid
    .table
      %h1.logo
        %a{:href => "index.html"}
          = image_tag 'logo.png'

      %nav
        .nav_mob_icon
          %span
          %span
          %span
        %ul
          %li
            %a.active{:href => "#{root_path}"} Home
          %li
            %a{:href => "/home/services"} Services
          %li
            %a{:href => "/home/care_giver"} Caregivers
      .contact_info.text-right
        .table
          %span.hide-mobile
            To find a Caregiver Leave a missed call at
            %br
            %strong{:style => "color:#13601D;"} 040-710101744
          %a.btn.login-popup{:href => "#{new_user_session_path}" } Login
