-#= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"
-#= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
-#= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"

-#= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js"
-#= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js"
%script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}  
%div.container{ :id => 'map-container', :style => "text-align: center" }
  #map

%script
  
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();
  $(document).ready(function(){
  $("#map").height(gon.height)
  $("#map").width(gon.width)
  $("#map-container").width(gon.width)
  //calcRoute();
  //var handler = Gmaps.build('Google');
  //handler.buildMap({ internal: {id: 'map'}}, function(){
  //directionsDisplay.setMap(handler.getMap());
  //});
  //alert(gon.gmap_data)
  handler = Gmaps.build('Google')
  handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
  markers = handler.addMarkers(jQuery.parseJSON(gon.gmap_data))
  handler.bounds.extendWith(markers)
  handler.fitMapToBounds()
  })
 

 
  
  
   
  
  
  

  })
  
  
  
  
  
