- if current_user.present?
  %hr
  .container{:style => "background-color:#C3DCC6"}
    .menu_main
      %nav.navbar.navbar-default.fhmm{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#defaultmenu", "data-toggle" => "collapse", :type => "button"}
            Menu
            %i.fa.fa-bars.tbars
        / end navbar-header
        - if current_user.role == 'l_c_agent'
          #defaultmenu.navbar-collapse.collapse
            %ul.nav.navbar-nav{:style => "padding-right:40px"}
              %li.dropdown{:class => "#{controller_name == 'enquiries' ? 'active': ''}"} 
                = link_to raw("Enquiry Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li
                    %a{:href => "/enquiries/new_appointment_for_enquiry?breadcrumb_param=Create Enquiry"} Create Enquiry
                  %li
                    = link_to "Enquiries", enquiries_path(:status => nil, :breadcrumb_param => "Enquiries")
                  %li.dropdown-submenu
                    %a{:href => "#"} Prospects
                    %ul.dropdown-menu
                      %li
                        = link_to "High Potential", enquiries_path(:status => 'Potential-High', :breadcrumb_param => "High Potential")
                      %li
                        = link_to "Low Potential", enquiries_path(:status => 'Potential-Low', :breadcrumb_param => "Low Potential")
                  %li
                    = link_to "Non-Prospect", enquiries_path(:status => 'Non-Prospect', :breadcrumb_param => "Non-Prospects")
                  %li
                    = link_to "Audit", enquiries_path(:status => 'To Audit', :breadcrumb_param => "Audit")
                  %li
                    = link_to "No Matching CG", enquiries_path(:status => 'No Caregiver Found')
                  %li
                    = link_to "Closed", enquiries_path(:status => 'Closed', :breadcrumb_param => "Closed")
                  %li
                    %a{:href => "/enquiries/new_city?breadcrumb_param=New City Request"} New City Request
              %li.dropdown{:class => "#{controller_name == 'enrollments' ? 'active': ''}"} 
                = link_to raw("Patient Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li
                    %a{:href => "/enrollments?breadcrumb_param=Enrolled Patients"} Enrolled Patients
                  %li
                    %a{:href => "/enrollments/incomplete_pcp?breadcrumb_param=Incomplete PCP"} Incomplete PCP
                  %li
                    %a{:href => "/enrollments/closed_form?breadcrumb_param=Closed Patients"} Closed Patients

              %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                = link_to raw("CareGivers Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li.dropdown-submenu
                    %a{:href => "/care_giver_masters?breadcrumb_param="} Recruit
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/care_giver_enquiries/new?breadcrumb_param=New Walk In"} New Walk-in
                      %li
                        = link_to "Job Applicant List", care_giver_enquiries_path(:breadcrumb_param => "Job Applicant List")
                      %li
                        = link_to "Shortlisted List" , recruitment_care_giver_enquiries_path(:breadcrumb_param => "Recruit List")
                      %li
                        = link_to "Not Approved List" , care_giver_masters_path(:status => 'Documents Collected', :breadcrumb_param => "Recruit List")
                      %li
                        = link_to "Hold List" , hold_care_giver_enquiries_path(:breadcrumb_param => "Hold List") 
                      %li
                        = link_to "New City Request" , cg_city_request_care_giver_enquiries_path(:breadcrumb_param => "New City Request") 
                      %li
                        = link_to "Closed List", closed_care_giver_enquiries_path(:breadcrumb_param => "Reject List") 

                  %li.dropdown-submenu
                    %a{:href => "/care_giver_masters"} Update Profile
                    %ul.dropdown-menu
                      %li
                        = link_to "Bench", care_giver_masters_path(:status => 'Active', :breadcrumb_param => ) 
                      %li
                        = link_to "Leave & Return", care_giver_masters_path(:status => 'Leave', :breadcrumb_param => ) 
                      %li
                        = link_to "Alloted to Patient" , care_giver_masters_path(:status => 'Working', :breadcrumb_param => ) 
                      %li
                        = link_to "Closed" , care_giver_masters_path(:status => 'Resign', :breadcrumb_param => ) 
                        
                  %li.dropdown-submenu
                    %a{:href => "#"} Time & Attendance
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/care_giver_masters/payroll"} Payroll
                      %li
                        %a{:href => "/care_giver_daily_attendances"} Attendance
                      %li
                        %a{:href => "/care_giver_daily_attendances/new"} Map
                        
              %li.dropdown{:class => "#{controller_name == 'Tickets' ? 'active': ''}"}
                = link_to raw("Tickets <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                //%a{:href => "/tickets"} Tickets
                %ul.dropdown-menu
                  %li.dropdown-submenu
                    = link_to "Patient", tickets_path(:role => 'Patient',:current_tag => 'New')
                    %ul.dropdown-menu
                      %li
                        = link_to "New Tickets", tickets_path(:role => 'Patient',:current_tag => 'New')
                      %li
                        = link_to "Open Tickets", tickets_path(:role => 'Patient',:current_tag => 'Open')
                      %li
                        = link_to "Waiting for Inputs", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Inputs')
                      %li
                        = link_to "Waiting for Closed", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Closed')
                      %li
                        = link_to "Closed Tickets", tickets_path(:role => 'Patient', :current_tag => 'Closed')
                      %li
                        = link_to "Daily Check", daily_checks_path(:role => 'Patient')
                  %li.dropdown-submenu
                    = link_to "Caregiver", tickets_path(:role => 'Caregiver',:current_tag => 'New')
                    %ul.dropdown-menu
                      %li
                        = link_to "New Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'New')
                      %li
                        = link_to "Open Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'Open')
                      %li
                        = link_to "Waiting for Inputs", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Inputs')
                      %li
                        = link_to "Waiting for Closed", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Closed')
                      %li
                        = link_to "Closed Tickets", tickets_path(:role => 'Caregiver', :current_tag => 'Closed')
                      %li
                        = link_to "Daily Check", daily_checks_path(:role => 'Caregiver')
                  %li
                    = link_to "Daily Check", daily_checks_path
                
              %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                = link_to raw("Masters <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li
                    %a{:href => "/disability_masters"} Disabilities
                  %li
                    %a{:href => "/service_masters"} Services
                  %li
                    %a{:href => "/patient_adaptive_equipment_masters"} Adaptive Equipments
                  %li
                    %a{:href => "/patient_selfcare_ability_masters"} Selfcare Abilities            
                  %li
                    %a{:href => "/routine_masters"} Routines
                  %li
                    %a{:href => "/form_masters"} Forms
                  %li
                    %a{:href => "/route_masters"} Routes
                  %li
                    %a{:href => "/unit_masters"} Units                  
                  %li
                    %a{:href => "/role_creations"} Roles                  
                  %li
                    %a{:href => "/drug_masters"} Drugs
                  %li
                    %a{:href => "/key_vitals_masters"} Key Vitals
                  %li
                    %a{:href => "/ticket_category_masters"} Ticket Category
                  %li
                    %a{:href => "/key_vitals_masters"} Key Vitals
                  %li
                    %a{:href => "/language_masters"} Languages
            

        - if current_user.role == 'care_giver'
          #defaultmenu.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                %a{:href => "/care_giver_masters"} Profile
              %li{:class => "#{controller_name == 'patients' ? 'active': ''}"} 
                %a{:href => "/patients"} Patients
              %li
                %a{:href => "/tickets"} Tickets

        - if current_user.role == 'patient'
          #defaultmenu.navbar-collapse.collapse
            %ul.nav.navbar-nav{:ng_controller => "EnquiryInitController"}
              %li{:class => "#{controller_name == 'enquiries' ? 'active': ''}"} 
                %a{:href => "#", :ng_click => "goTo()"} New Enquries
              %li{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                %a{:href => "/care_giver_masters"} Care Giver Details
              %li{:class => "#{controller_name == 'patients' ? 'active': ''}"} 
                - @id = Patient.where(:user_id => current_user.id)
                %a{:href => "/patients/#{@id[0][:id]}"} Profile
              %li
                %a{:href => "/tickets"} Tickets


