= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
:javascript
  $(document).ready(function(){
  initialize();
  });

.banner
  .transparent-grey2{:style => "margin-top: 100px; height:100%;"}
  .text
    
    %h1 Home nursing &amp; professional caregiving to chronically ill and bed ridden seniors
    .find-caregiver{:ng_controller => "CareGiverBookingsController"}
      %form{:id => "city_and_area_form", :name => "cityAndAreaForm", :class => "sky-form", :ng_submit => "submit_city_and_area()"}
        %input{ :id => "autocomplete", :placeholder => "Enter your area to see if there are Professional Caregivers available...", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.address_str" }
        %input{:id => "place_details_object", :type => "hidden" }
        %input{:name => "", :type => "submit", :value => "Find a Caregiver"}
        %span{:style => "font-size:12px; color:#333; font-weight:500;"} *Currently available only in Hyderabad
  %ul#banner_slider.rslides
    %li
      %img{:alt => "", :src => "/assets/01.png"}/
    %li
      %img{:alt => "", :src => "/assets/02.png"}/
    %li
      %img{:alt => "", :src => "/assets/03.jpg"}/
%br
%section#recognitions
  %h2 Recognitions
  .container
    .row.vertical-align
      .col-md-9
        %h1
          %strong
            More than
            %br
              one lakh hours
              %br
                of professional
                %br
                  caregiving
                  %br
                    services
                    %br provided till date
      .col-md-15
        %blockquote
          %p
            %span.quotes “
            Top 10 Health Innovation in India 2014
            %span.quotes ”
          %footer Millenium Alliance
        %blockquote
          %p
            %span.quotes “
            Profiled and Winner of Learning Exchange Fund
            %span.quotes ”
          %footer Center of Health Market Innovation
        %blockquote
          %p
            %span.quotes “
            Winner of Learn and Launch Fund
            %span.quotes ”
          %footer Center of Health Market Innovation
        %blockquote
          %p
            %span.quotes “
            Featured on the UCLA Global Lab for Health  Innovation Exchange
            %span.quotes ”
%section#services
  %h2 Services
  .container
    .row
      .col-md-1
      .col-md-10.bg-green
        .div-height
          %figure
            %img{:src => "/assets/professional-caregiving.png"}/
          %h4 Professional Caregiving Services
          %ul
            %li Personal Care
            %li Feeding
            %li Dressing
            %li Bathing + hygiene
            %li Help moving around home
            %li Exercise program
      .col-md-2
      .col-md-10.bg-green
        .div-height-asign
          %figure
            %img{:src => "/assets/nursing-services.png"}/
          %h4 Nursing Services
          %ul
            %li Medication management
            %li Monitoring vital signs
            %li Injection & dressings
            %li Bed Sores management
      .col-md-1
%section#partners
  %h2 Partners
  .container
    .row
      .col-md-10.text-center
        %figure
          %a{:href => "http://www.groupe-sos.org/en", :target => "_blank"}
            %img{:src => "/assets/groupe-sos.png"}/
        %p
          With its 10,000 employees and 300 structures, GROUPE SOS is one of Europe’s foremost social and societal undertakings. For 30 years now, GROUPE SOS has been putting economic efficiency at the service of the interests of the general public.
          %br
            In so doing, it provides responses to the issues of today’s society by developing innovative solutions in its five main fields of activity. The actions undertaken by GROUPE SOS influence the lives of over a million people every year.
      .col-md-4
      .col-md-10.text-center
        %figure
          %a{:href => "http://www.lecomptoirdelinnovation.com/", :target => "_blank"}
            %img{:src => "/assets/leComptoir.png"}/
        %p
          Le Comptoir de l’Innovation is an investment and consulting social enterprise. Le Comptoir de l’Innovation is a company approved “social enterprise” created in June 2010 with 850 000€ initial capital. Le Comptoir de l’Innovation is the investment and consulting firm of Group SOS. Its mission is to develop and promote impact investing in Europe.
          %br
            Le Comptoir de l’Innovation chose to promote a philosophy of entrepreneur : the objectives of fight against social exclusion and poverty will only be reached durably thanks to the development of sustainable economic activities.
%section#download-app
  .container
    .row
      .title Download our mobile app
      %img{:src => "/assets/google-play-icon.png", :style => "width:auto; cursor:pointer;"}
/ success stories



= render 'shared/testimonial'
