:css
  li a{
  font-size: 12px;
  
  }
  .nav > li > a:hover, .nav > li > a:active, nav .open > a:hover, nav .open > a:active{background-color: red; color: #000;}
  .dropdown-menu > li > a {

  padding: 5px 20px;
  }
  .dropdown-submenu {
  position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
  left: 100%;
  margin-top: -45px;
  margin-left: 0px;

  }
  .dropdown-submenu.pull-left {
      float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
      //left: -100%;
      margin-left: 100px;
     
    }                                    
- if current_user.present?
  
  .container-fluid
    - @role = RoleMenuMapping.where(:role_id => current_user.role_id)
    .navbar-header{:style =>"padding-bottom:2px"}
      %a.navbar-brand{:href => "#"} Life Circle
      - if current_user.role == 'care_giver'
        %ul.nav.navbar-nav
          %li{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
            %a{:href => "/care_giver_masters"} Profile
          %li{:class => "#{controller_name == 'patients' ? 'active': ''}"} 
            %a{:href => "/patients"} Patients
          %li
            %a{:href => "/tickets"} Tickets
      - if current_user.role == 'super_care_giver'
        %ul.nav.navbar-nav
          %li{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
            %a{:href => "/care_giver_masters"} Profile
          %li{:class => "#{controller_name == 'patients' ? 'active': ''}"} 
            %a{:href => "/patients"} Patients
          %li
            %a{:href => "/tickets"} Tickets
      - if current_user.role == 'patient'
        %ul.nav.navbar-nav{:ng_controller => "EnquiryInitController"}
          %li{:class => "#{controller_name == 'enquiries' ? 'active': ''}"} 
            %a{:href => "#", :ng_click => "goTo()"} New Enquries
          %li{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
            %a{:href => "/care_giver_masters"} Care Giver Details
          %li{:class => "#{controller_name == 'patients' ? 'active': ''}"} 
            - @id = Patient.where(:user_id => current_user.id)
            %a{:href => "/patients/#{@id[0][:id]}"} Profile
          %li
            %a{:href => "/tickets"} Tickets

      - if current_user.role == 'l_c_agent'
        //#defaultmenu.navbar-collapse.collapse{:style => "padding-right:0px; padding-left:0px; margin-left:-90px;"}
        %ul.nav.navbar-nav
          %li.dropdown{:class => "#{controller_name == 'enquiries' ? 'active': ''}"} 
            = link_to raw("Enquiry Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li
                %a{:href => "/enquiry#/city_and_area?breadcrumb_param=Create Enquiry"} Create Enquiry
              %li
                %a{:href => "/enquiries/appointments?breadcrumb_param=Appointments"} Appointments
              %li
                = link_to "Enquiries", enquiries_path(:status => nil, :breadcrumb_param =>"Enquiries")
                  
              %li.dropdown-submenu
                %a{:href => "#"} Prospects
                %ul.dropdown-menu
                  %li
                    = link_to "High Potential", enquiries_path(:status => 'Potential-High', :breadcrumb_param =>"High Potential")
                  %li
                    = link_to "Low Potential", enquiries_path(:status => 'Potential-Low', :breadcrumb_param =>"Low Potential")
              %li
                = link_to "Non-Prospect", enquiries_path(:status => 'Non-Prospect', :breadcrumb_param =>"Non-Prospects")
              %li
                %a{:href => "/enquiries/new_city"} New City Request
              %li
                = link_to "No Matching CG", enquiries_path(:status => 'No Caregiver Found')

              %li
                = link_to "Audit", enquiries_path(:status => 'To Audit', :breadcrumb_param =>"Audit")
                         
              %li
                = link_to "Closed", enquiries_path(:status => 'Closed', :breadcrumb_param =>"Closed")
                 
          %li.dropdown{:class => "#{controller_name == 'enrollments' ? 'active': ''}"} 
            = link_to raw("Patient Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li
                %a{:href => "/enrollments?breadcrumb_param=Enrolled Patients"} Enrolled Patients
              %li
                %a{:href => "/enrollments/incomplete_pcp?breadcrumb_param=Incomplete PCP"} Incomplete PCP
              %li
                %a{:href => "/enrollments/closed_form?breadcrumb_param=Closed Patients"} Closed Patients

          %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
            = link_to raw("CareGivers Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li.dropdown-submenu
                %a{:href => "#"} Empanel
                %ul.dropdown-menu
                  %li
                    %a{:href => "/care_giver_enquiries/new?breadcrumb_param=New Walk-in"} New Walk-in
                  %li
                    = link_to "Job Applicant List", care_giver_enquiries_path(:breadcrumb_param =>"Job Applicant List")
                  %li
                    = link_to "Recruit List" , recruitment_care_giver_enquiries_path(:breadcrumb_param =>"Recruit List")
                  %li
                    = link_to "Approval List" , care_giver_masters_path(:status => 'Documents Collected', :breadcrumb_param =>"Approval List")
                  %li
                    = link_to "Hold List" , hold_care_giver_enquiries_path(:breadcrumb_param =>"Hold List")  
                  %li
                    = link_to "New City Request" , cg_city_request_care_giver_enquiries_path(:breadcrumb_param =>"New City Request")
                  %li
                    = link_to "Reject List", closed_care_giver_enquiries_path(:breadcrumb_param =>"Reject List")

              %li.dropdown-submenu
                %a{:href => "/care_giver_masters"} Update Profile
                %ul.dropdown-menu
                  %li
                    = link_to "Active", care_giver_masters_path(:status => 'Active', :breadcrumb_param =>"Active")
                  %li
                    = link_to "Inactive", care_giver_masters_path(:status => 'Leave', :breadcrumb_param =>"Inactive")
                  %li
                    = link_to "Working" , care_giver_masters_path(:status => 'Working', :breadcrumb_param =>"Working")
                  %li
                    = link_to "Terminated" , care_giver_masters_path(:status => 'Resign', :breadcrumb_param =>"Terminated")
                        
              %li.dropdown-submenu
                %a{:href => "#"} Time & Attendance
                %ul.dropdown-menu
                  %li
                    %a{:href => "/care_giver_masters/payroll?breadcrumb_param=Payroll"} Payroll
                  %li
                    %a{:href => "/care_giver_daily_attendances?breadcrumb_param=Attendance"} Attendance
                  %li
                    %a{:href => "/care_giver_daily_attendances/new"} Map
                        
          %li.dropdown{:class => "#{controller_name == 'Tickets' ? 'active': ''}"}
            = link_to raw("Tickets <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            //%a{:href => "/tickets"} Tickets
            %ul.dropdown-menu
              %li.dropdown-submenu
                = link_to "Patient", tickets_path(:role => 'Patient',:current_tag => 'New', :breadcrumb_param =>"Patient")
                %ul.dropdown-menu
                  %li
                    = link_to "New Tickets", tickets_path(:role => 'Patient',:current_tag => 'New', :breadcrumb_param =>"New Tickets")
                  %li
                    = link_to "Open Tickets", tickets_path(:role => 'Patient',:current_tag => 'Open', :breadcrumb_param =>"Open Tickets")
                  %li
                    = link_to "Waiting for Inputs", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Inputs', :breadcrumb_param =>"Waiting for Inputs")
                  %li
                    = link_to "Waiting for Closed", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Closed', :breadcrumb_param =>"Waiting for Closed")
                  %li
                    = link_to "Closed Tickets", tickets_path(:role => 'Patient', :current_tag => 'Closed', :breadcrumb_param =>"Closed Tickets")
                  %li
                    = link_to "Daily Check", daily_checks_path(:role => 'Patient', :breadcrumb_param =>"Daily Check")
              %li.dropdown-submenu
                = link_to "Caregiver", tickets_path(:role => 'Caregiver',:current_tag => 'New', :breadcrumb_param =>"Care Giver")
                %ul.dropdown-menu
                  %li
                    = link_to "New Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'New', :breadcrumb_param =>"New Tickets")
                  %li
                    = link_to "Open Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'Open', :breadcrumb_param =>"Open Tickets")
                  %li
                    = link_to "Waiting for Inputs", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Inputs', :breadcrumb_param =>"Waiting for Inputs")
                  %li
                    = link_to "Waiting for Closed", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Closed', :breadcrumb_param =>"Waiting for Closed")
                  %li
                    = link_to "Closed Tickets", tickets_path(:role => 'Caregiver', :current_tag => 'Closed', :breadcrumb_param =>"Closed Tickets")
                  %li
                    = link_to "Daily Check", daily_checks_path(:role => 'Caregiver', :breadcrumb_param =>"Daily Check")
        
          %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
            = link_to raw("Masters <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li
                %a{:href => "/count_enquiry_managements/index?breadcrumb_param=Dashboard"} Dashboard 
              %li
                %a{:href => "/role_creations?breadcrumb_param=Roles"} Roles 
              %li
                %a{:href => "/user_creations?breadcrumb_param=Users"} Users 
              %li
                %a{:href => "/service_masters?breadcrumb_param=Services"} Services
              %li
                %a{:href => "/email_templates?breadcrumb_param=Email Templates"} Email Templates
              %li
                %a{:href => "/ticket_category_masters?breadcrumb_param=Ticket Category"} Ticket Category
              %li
                %a{:href => "/reason_for_comings"} References
              %li
                %a{:href => "/city_masters?breadcrumb_param=City Masters"} City Masters
              %li
                %a{:href => "/language_masters?breadcrumb_param=Languages"} Languages
              %li
                %a{:href => "/care_giver_charge_buckets?breadcrumb_param=Charge Buckets"} CG Charge Buckets
              %li.dropdown-submenu
                = link_to "PCP Masters", '#'
                %ul.dropdown-menu
                  %li
                    %a{:href => "/disability_masters?breadcrumb_param=Disabilities"} Disabilities
                  %li
                    %a{:href => "/patient_adaptive_equipment_masters?breadcrumb_param=Adaptive Equipments"} Adaptive Equipments
                  %li
                    %a{:href => "/patient_selfcare_ability_masters?breadcrumb_param=Selfcare Abilities"} Selfcare Abilities            
                  %li
                    %a{:href => "/routine_masters?breadcrumb_param=Routines"} Routines
                  %li
                    %a{:href => "/form_masters?breadcrumb_param=Forms"} Forms
                  %li
                    %a{:href => "/route_masters?breadcrumb_param=Routes"} Routes
                  %li
                    %a{:href => "/unit_masters?breadcrumb_param=Units"} Units                  
                  %li
                    %a{:href => "/drug_masters?breadcrumb_param=Drugs"} Drugs
                  %li
                    %a{:href => "/key_vitals_masters?breadcrumb_param=Key Vitals"} Key Vitals





- else
  %ul.nav.navbar-nav{:ng_controller => 'MenuController' , :ng_init => "menu_bar('#{@role}')"}
    %li.dropdown{:ng_repeat => 'b in bars | filter : {parent_id: 0} :true'}
      = link_to raw("{{b.name}} <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'

      %ul.dropdown-menu
        %li{:ng_repeat => 'y in bars | filter : {parent_id: b.id} :true | filter : {mark_as_parent: "NO"} : true' }
          %a{:href => '{{y.url}}'} {{y.name}}

        %li.dropdown-submenu{:ng_repeat => 'y in bars | filter : {parent_id: b.id} :true | filter : {mark_as_parent: "YES"} : true' }
          %a{:href => '{{y.url}}'} {{y.name}}

          %ul.dropdown-menu
            %li{:ng_repeat => 'z in bars | filter : {parent_id: y.id} :true'}
              %a{:href => '{{z.url}}'} {{z.name}}
