// encoding: utf-8
.footer-wrapper
  .container-fluid
    %footer
      .row
        .col-md-5
          %h3{:style => "padding:0;"}
            Give us a missed call
            %br
              %strong 040-710101744
          %br
            © LifeCircle: All Rights Reserved
            %br
            = image_tag 'secure-website.png'
            
        .col-md-4
          %h6 ABOUT US
          %ul
            %li
              %a{:href => "/home/team", :style =>"color:rgb(238, 238, 238)"} Team
            %li
              %a{:href => "/home/foundation", :style =>"color:rgb(238, 238, 238)"} Foundation
            %li
              %a{:href => "/home/news", :style =>"color:rgb(238, 238, 238)"} News & Press
            %li
              %a{:href => "#", :style =>"color:rgb(238, 238, 238)"} Terms and Conditions
            %li
              %a{:href => "#", :style =>"color:rgb(238, 238, 238)"} Career
        .col-md-4
          %h6 service Location
          %ul
            %li Hyderabad
        .col-md-4
          %h6 REACH US
          %p
            House No. 1-166/2,
            %br
              Chanda Nagar, Hyderabad,
              %br Telangana, PIN - 500050
        .col-md-4
          .row
            %h6 &nbsp;
            .col-md-24
              .contact-details.block
                %span.phone
                  .glyph
                    .glyph-icon.flaticon-call60
                  +91 40 2303 8878
                %span.email
                  .glyph
                    .glyph-icon.flaticon-email19
                  admin@lifecircle.in
        .col-md-3.text-left
          .row
            .col-md-24.col-sm-24
              %h6 GET IN TOUCH
              .social-links.block
                .glyph
                  .glyph-icon.flaticon-twitter1
                .glyph
                  .glyph-icon.flaticon-socialmedia19
                .glyph
                  .glyph-icon.flaticon-logo152


