- if current_user.present?
  .container{:style => "background-color:#C3DCC6"}
    - @role = RoleMenuMapping.where(:role_id => current_user.role_id)
    .menu_main{:style => "padding-left:0px; padding-right:130px;"}
      %nav.navbar.navbar-default.fhmm{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#defaultmenu", "data-toggle" => "collapse", :type => "button"}
            Menu
            %i.fa.fa-bars.tbars
        - if current_user.role == 'care_giver'
          #defaultmenu.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                %a{:href => "/care_giver_masters"} Profile
              %li{:class => "#{controller_name == 'patients' ? 'active': ''}"} 
                %a{:href => "/patients"} Patients
              %li
                %a{:href => "/tickets"} Tickets

        - if current_user.role == 'patient'
          #defaultmenu.navbar-collapse.collapse
            %ul.nav.navbar-nav{:ng_controller => "EnquiryInitController"}
              %li{:class => "#{controller_name == 'enquiries' ? 'active': ''}"} 
                %a{:href => "#", :ng_click => "goTo()"} New Enquries
              %li{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                %a{:href => "/care_giver_masters"} Care Giver Details
              %li{:class => "#{controller_name == 'patients' ? 'active': ''}"} 
                - @id = Patient.where(:user_id => current_user.id)
                %a{:href => "/patients/#{@id[0][:id]}"} Profile
              %li
                %a{:href => "/tickets"} Tickets

        - if current_user.role == 'l_c_agent'
          //#defaultmenu.navbar-collapse.collapse{:style => "padding-right:0px; padding-left:0px; margin-left:-90px;"}
          #menu.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.dropdown{:class => "#{controller_name == 'enquiries' ? 'active': ''}"} 
                = link_to raw("Enquiry Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li
                    %a{:href => "/enquiry#/city_and_area"} Create Enquiry
                  %li
                    %a{:href => "/enquiries/appointments"} Appointments
                  %li
                    = link_to "Enquiries", enquiries_path(:status => nil)
                  
                  %li.dropdown-submenu
                    %a{:href => "#"} Prospects
                    %ul.dropdown-menu
                      %li
                        = link_to "High Potential", enquiries_path(:status => 'Potential-High')
                      %li
                        = link_to "Low Potential", enquiries_path(:status => 'Potential-Low')
                  %li
                    = link_to "Non-Prospect", enquiries_path(:status => 'Non-Prospect')
                  %li
                    %a{:href => "/enquiries/new_city"} New City Request
                  %li
                    = link_to "No Matching CG", enquiries_path(:status => 'No Caregiver Found')   

                  %li
                    = link_to "Audit", enquiries_path(:status => 'To Audit')
                         
                  %li
                    = link_to "Closed", enquiries_path(:status => 'Closed')
                 
              %li.dropdown{:class => "#{controller_name == 'enrollments' ? 'active': ''}"} 
                = link_to raw("Patient Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li
                    %a{:href => "/enrollments"} Enrolled Patients
                  %li
                    %a{:href => "/enrollments/incomplete_pcp"} Incomplete PCP
                  %li
                    %a{:href => "/enrollments/closed_form"} Closed Patients

              %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                = link_to raw("CareGivers Management <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li.dropdown-submenu
                    %a{:href => "#"} Empanel
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/care_giver_enquiries/new"} New Walk-in
                      %li
                        = link_to "Job Applicant List", care_giver_enquiries_path
                      %li
                        = link_to "Recruit List" , recruitment_care_giver_enquiries_path
                      %li
                        = link_to "Approval List" , care_giver_masters_path(:status => 'Documents Collected')
                      %li
                        = link_to "Hold List" , hold_care_giver_enquiries_path  
                      %li
                        = link_to "New City Request" , cg_city_request_care_giver_enquiries_path
                      %li
                        = link_to "Reject List", closed_care_giver_enquiries_path

                  %li.dropdown-submenu
                    %a{:href => "/care_giver_masters"} Update Profile
                    %ul.dropdown-menu
                      %li
                        = link_to "Active", care_giver_masters_path(:status => 'Active')
                      %li
                        = link_to "Inactive", care_giver_masters_path(:status => 'Leave')
                      %li
                        = link_to "Working" , care_giver_masters_path(:status => 'Working')
                      %li
                        = link_to "Terminated" , care_giver_masters_path(:status => 'Resign')
                        
                  %li.dropdown-submenu
                    %a{:href => "#"} Time & Attendance
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/care_giver_masters/payroll"} Payroll
                      %li
                        %a{:href => "/care_giver_daily_attendances"} Attendance
                      %li
                        %a{:href => "/care_giver_daily_attendances/new"} Map
                        
              %li.dropdown{:class => "#{controller_name == 'Tickets' ? 'active': ''}"}
                = link_to raw("Tickets <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                //%a{:href => "/tickets"} Tickets
                %ul.dropdown-menu
                  %li.dropdown-submenu
                    = link_to "Patient", tickets_path(:role => 'Patient',:current_tag => 'New')
                    %ul.dropdown-menu
                      %li
                        = link_to "New Tickets", tickets_path(:role => 'Patient',:current_tag => 'New')
                      %li
                        = link_to "Open Tickets", tickets_path(:role => 'Patient',:current_tag => 'Open')
                      %li
                        = link_to "Waiting for Inputs", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Inputs')
                      %li
                        = link_to "Waiting for Closed", tickets_path(:role => 'Patient',:current_tag => 'Waiting for Closed')
                      %li
                        = link_to "Closed Tickets", tickets_path(:role => 'Patient', :current_tag => 'Closed')
                      %li
                        = link_to "Daily Check", daily_checks_path(:role => 'Patient')
                  %li.dropdown-submenu
                    = link_to "Caregiver", tickets_path(:role => 'Caregiver',:current_tag => 'New')
                    %ul.dropdown-menu
                      %li
                        = link_to "New Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'New')
                      %li
                        = link_to "Open Tickets", tickets_path(:role => 'Caregiver',:current_tag => 'Open')
                      %li
                        = link_to "Waiting for Inputs", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Inputs')
                      %li
                        = link_to "Waiting for Closed", tickets_path(:role => 'Caregiver',:current_tag => 'Waiting for Closed')
                      %li
                        = link_to "Closed Tickets", tickets_path(:role => 'Caregiver', :current_tag => 'Closed')
                      %li
                        = link_to "Daily Check", daily_checks_path(:role => 'Caregiver') 
              %li.dropdown{:class => "#{controller_name == 'reports' ? 'active': ''}"} 
                = link_to raw("Reports <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li.dropdown-submenu
                    %a{:href => "#"}Sales
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/reports"} Sales by Customer
                      %li
                        %a{:href => "/#"} Sales by Item
                      %li
                        %a{:href => "/#"} Sales by Person
                  %li.dropdown-submenu
                    %a{:href => "#"}Receivables
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/reports/balance"} Customer Balance
                      %li
                        %a{:href => "/#"} Aging Summary by Invoice Due Date
                      %li
                        %a{:href => "/reports/due_date"} Aging Details by Invoice Due Date
                      %li
                        %a{:href => "/reports/invoice"} Invoice Details
                  %li.dropdown-submenu
                    %a{:href => "#"}Payments Received
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/reports/payment_received"} Payments Received
                      %li
                        %a{:href => "/#"} Time to get Paid
                      %li
                        %a{:href => "/reports/credit_notes"} Credit Note Details
                      %li
                        %a{:href => "/#"} Refund History
                
              %li.dropdown{:class => "#{controller_name == 'care_giver_masters' ? 'active': ''}"} 
                = link_to raw("Masters <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'
                %ul.dropdown-menu
                  %li
                    %a{:href => "/count_enquiry_managements/index"} Dashboard 
                  %li
                    %a{:href => "/role_creations"} Roles 
                  %li
                    %a{:href => "/user_creations"} Users 
                  %li
                    %a{:href => "/service_masters"} Services
                  %li
                    %a{:href => "/email_templates"}Email Templates
                  %li
                    %a{:href => "/ticket_category_masters"} Ticket Category
                  %li
                    %a{:href => "/city_masters"} City Masters
                  %li
                    %a{:href => "/language_masters"} Languages
                  %li.dropdown-submenu
                    = link_to "PCP Masters", '#'
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/disability_masters"} Disabilities
                      %li
                        %a{:href => "/patient_adaptive_equipment_masters"} Adaptive Equipments
                      %li
                        %a{:href => "/patient_selfcare_ability_masters"} Selfcare Abilities            
                      %li
                        %a{:href => "/routine_masters"} Routines
                      %li
                        %a{:href => "/form_masters"} Forms
                      %li
                        %a{:href => "/route_masters"} Routes
                      %li
                        %a{:href => "/unit_masters"} Units                  
                      %li
                        %a{:href => "/drug_masters"} Drugs
                      %li
                        %a{:href => "/key_vitals_masters"} Key Vitals

               
                
            

        - else
          #defaultmenu.navbar-collapse.collapse
            %ul.nav.navbar-nav{:ng_controller => 'MenuController' , :ng_init => "menu_bar('#{@role}')"}
              %li.dropdown{:ng_repeat => 'b in bars | filter : {parent_id: 0} :true'}
                = link_to raw("{{b.name}} <b class='caret'></b>"), '#', "data-toggle" => "dropdown", :class => 'dropdown-toggle'

                %ul.dropdown-menu
                  %li{:ng_repeat => 'y in bars | filter : {parent_id: b.id} :true | filter : {mark_as_parent: "NO"} : true' }
                    %a{:href => '{{y.url}}'} {{y.name}}

                  %li.dropdown-submenu{:ng_repeat => 'y in bars | filter : {parent_id: b.id} :true | filter : {mark_as_parent: "YES"} : true' }
                    %a{:href => '{{y.url}}'} {{y.name}}

                    %ul.dropdown-menu
                      %li{:ng_repeat => 'z in bars | filter : {parent_id: y.id} :true'}
                        %a{:href => '{{z.url}}'} {{z.name}}
