%br
%section#inner-page
  .container
    .row
      .col-md-3
      .col-md-18
        .row
          %h3.stage-titles Find Professional Caregivers in 3 easy steps taking less than 2 minutes of your time.
          .col-md-3
          .col-md-18
            .stage-status
              .stage-no
                %span 1
                %br Service Required
              .stage-no
                %span 2
                %br Caregiver Preference
              .stage-no
                %span.active 3
                %br Schedule
              / <div class="strike"></div>
          .col-md-3
      .col-md-3
  .container.stage-2{:style => "margin-top:30px;"}
    .row
      .col-md-2
      .col-md-20
        .row
          .col-md-10.col-sm-10 Service Duration
          .col-md-14.col-sm-14
            %input{:type => "radio", :ng_model => "enquiry.open_term", :value => "true"}
            Long Term
            %input{:type => "radio", :ng_model => "enquiry.open_term", :value => "false"}
            Limited Period
        .row
          .col-md-10.col-sm-10 Service Start Date
          .col-md-14.col-sm-14
            %input{:type => "text", :ng_model => "enquiry.service_required_from", :placeholder => "Date From", :my_datepicker => "", :required => true}
        .row{:ng_hide => "enquiry.open_term == true || enquiry.open_term == 'true'"}
          .col-md-10.col-sm-10 Service End Date
          .col-md-14.col-sm-14
            %input{:type => "text", :ng_model => "enquiry.service_required_to", :placeholder => "Date To", :my_datepicker => ""}
      .col-md-2
  .container
    .row
      .col-md-2
      .col-md-20
        %hr/
      .col-md-2
  .container
    .row
      .col-md-2
      .col-md-20
        .row
          .col-md-8
          .col-md-8
          .col-md-8.text-right
            %input.btn.reverse.btn-default{:style => "width:auto;", :type => "submit", :value => "Back"}
              %input.btn.btn-default{:style => "width:auto;", :type => "submit", :value => "Submit"}/
      .col-md-2
