.pull-left
  = link_to "Back", care_giver_master_path(params[:care_giver_master_id]), :class => 'btn btn-primary'
.container{:ng_controller => "careGiverAdditionalDetailsController", :ng_init => "loadCurrentUser()"}
  .content_fullwidth
    %h3.section_title
      %strong Caregiver Registration
  %br
    %ul.nav.nav-tabs{:style => 'backgroud-color:green;'}
      %li{:id => "physical_description_tab", :rel => "tablistElement"}
        %a{:ui_sref => "physicalDescription({ careGiverMasterId: '#{@care_giver_master.id}'})"} Physical Description
      %li{:id => "family_background_tab", :rel => "tablistElement"}
        %a{:ui_sref => "careGiverRelatives({ careGiverMasterId: '#{@care_giver_master.id}'})"} Family Background
      %li{:id => "education_tab", :rel => "tablistElement"} 
        %a{:ui_sref => "careGiverEducation({ careGiverMasterId: '#{@care_giver_master.id}'})"} Education
      %li{:id => "employer_tab", :rel => "tablistElement"}
        %a{:ui_sref => "careGiverEmployer({ careGiverMasterId: '#{@care_giver_master.id}'})"} Employment
      %li{:id => "health_and_life_style_tab", :rel => "tablistElement"}
        %a{:ui_sref => "healthAndLifeStyle({ careGiverMasterId: '#{@care_giver_master.id}'})"} Health & Life-style
      %li{:id => "care_giver_services_tab", :rel => "tablistElement"}
        %a{:ui_sref => "careGiverServices({ careGiverMasterId: '#{@care_giver_master.id}'})"} Caregiver Skills
      %li{:id => "availability_tab", :rel => "tablistElement"}
        %a{:ui_sref => "careGiverAvailability({ careGiverMasterId: '#{@care_giver_master.id}'})"} Availability
      %li{:id => "charges_tab", :rel => "tablistElement"}
        %a{:ui_sref => "careGiverCharges({ careGiverMasterId: '#{@care_giver_master.id}'})"} Charges
      %li{:id => "document_tab", :rel => "tablistElement"}
        %a{:ui_sref => "careGiverDocument({ careGiverMasterId: '#{@care_giver_master.id}'})"} Document
      %li{:id => "approve_tab", :rel => "tablistElement"}
        %a{:ui_sref => "careGiverApproval({ careGiverMasterId: '#{@care_giver_master.id}'})"} Approve
    .tabs-content2
      .row
        %section{:ui_view => true}
