= form_for @application_default do |f|
  - if @application_default.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application_default.errors.count, "error")} prohibited this application_default from being saved:"
      %ul
        - @application_default.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :value
    = f.text_field :value
  .actions
    = f.submit 'Save'
