%h1 Application Defaults
%hr

%table.table.table-borderd.table-hovered
  %thead
    %tr
      %th Description
      %th Value
      %th
      %th
      %th

  %tbody
    - @application_defaults.each do |application_default|
      %tr
        %td= application_default.description
        %td= application_default.value
        %td= link_to 'Show', application_default
        %td= link_to 'Edit', edit_application_default_path(application_default)
        %td= link_to 'Destroy', application_default, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Application default', new_application_default_path, :class => "btn btn-primary"
