%p#notice= notice

%p
  %b Description:
  = @application_default.description
%p
  %b Value:
  = @application_default.value

= link_to 'Edit', edit_application_default_path(@application_default)
\|
= link_to 'Back', application_defaults_path
