.features_sec3
  = image_tag "ssc.png", :style => "width:100%;height:100%; "
.clearfix
.features_sec8
  .container
    %h2.section_title_drakgray.lessmar
      %strong great
      flexibility
    %p.less1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor.
    .content_box
      .left
        %h3.nocaps
          %i.fa.fa-cloud
          Neat and Clean
        %p Lorem ipsum dolor sit amet, consectetuer  elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.
      / end section
      .vline
      .center.active
        %h3.nocaps
          %i.fa.fa-bell
          Easy to use
        %p Lorem ipsum dolor sit amet, consectetuer  elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.
      / end section
      .vline
      .right
        %h3.nocaps
          %i.fa.fa-envelope
          Very flexible
        %p Lorem ipsum dolor sit amet, consectetuer  elit. Suspendisse et justo. Praesent mattis commodo augue aliquam.
      / end section
/ end features section8
.clearfix
