.features_sec1
  .container
    .one_fourth
      %i.fa.fa-coffee
      .clearfix
      %h3.nocaps Responsive Design
      %p There are variations available majoritaey suffered alteration words which look even believable.
      %br/
      %a.readmore_but1{:href => "#"} Read more +
    / end section
    .one_fourth
      %i.fa.fa-leaf
      .clearfix
      %h3.nocaps Five Slideshows
      %p There are variations available majoritaey suffered alteration words which look even believable.
      %br/
      %a.readmore_but1{:href => "#"} Read more +
    / end section
    .one_fourth
      %i.fa.fa-cog
      .clearfix
      %h3.nocaps Multiple Headers
      %p There are variations available majoritaey suffered alteration words which look even believable.
      %br/
      %a.readmore_but1{:href => "#"} Read more +
    / end section
    .one_fourth.last
      %i.fa.fa-trophy
      .clearfix
      %h3.nocaps Ten Home Pages
      %p There are variations available majoritaey suffered alteration words which look even believable.
      %br/
      %a.readmore_but1{:href => "#"} Read more +
    / end section
/ end features section1
.clearfix
.clearfix
