.banner.banner-static{:style => "background-color: #EDEDED;"}
  .text.mobile
    %h2 Home nursing &amp; professional caregiving to chronically ill and bed ridden seniors
  .text
    .transparent-white
    %h2
      %strong Apply to get empanelled as Professional Caregiver with Life Circle.
    .row.hide-mobile
      .col-md-12.text-center
        = image_tag 'caregiver-icon1.png'
        %h5 Give city choice and fill your basic details
      .col-md-12.text-center
        = image_tag 'caregiver-icon2.png'
        %h5 We would call you to fix an appointment
    .row
      .col-md-24.text-center
        %a.btn2.show-mobile{:href => "/care_giver_enquiries/new"} REGISTER NOW
  %ul.rslides{:id => ""}
    %li
      = image_tag '01.png'
      
%section#work-pattern
  .container
    .row
      .col-md-10
        %h3 To qualify to Life Circle Professional Caregiver Network
        %ul.list-icon-1
          %li You should be above 18 years of age,
          %li Have training in nursing or Caregiving or bed side assistance
          %li Have Government provided personal identification and address proof
          %li and most importantly be service minded and really keen in taking care of bed ridden and chronically ill patients.
      .col-md-4
      .col-md-10
        %h3 Benefits of working as a Professional Caregiver
        %ul.list-icon-1
          %li Decide your own work schedule
          %li Decide on  the patient that you want to work with
          %li Decide on how much you want to earn
          %li Decide between Live in or Live out service
%section#charges
  .transparent-green
  .container
    .row.text-center
      %h2
        Why be part of  Life Circle Professional
        %br Caregiver Network ?
      %p
        %strong
          We free your time to focus on providing high quality care without any
          %br hassles. Life Circle would carry out the following services for you
      %ul.list-icon-1.text-left{:style => "margin:0 auto; display:table;"}
        %li Promote your profile through Life Circle’s web & mobile application
        %li Undertake work place safety screening
        %li Guarantee payment for work done
        %li Help negotiate work terms and conditions with your patients
        %li Provide guidance on work
        %li many more
