%section.services-banner.banner.banner-static
  / <div class="transparent-grey"></div>
  .text{:style =>"padding: 0px 38px 0%;"}
    .transparent-white
    %h2{:style =>"margin-bottom: -64.5px;"}
      %strong
        Life Circle Caregivers are independent providers of Caregiving and Home Nursing Services.
        %br
          %br
            All Caregivers empaneled with Life Circle have received training and may have prior experience of providing caregiving
            %br
              %br
                services to bedridden or chronically ill Patients.
%section#service
  %h2 Services provided by Caregivers
  .container
    .row
      .col-md-11.bg-green
        .div-height
          .row
            .col-md-6
              %figure
                = image_tag 'professional-caregiving.png'
                //%img{:src => "/assets/professional-caregiving.png"}/
            .col-md-18
              %h3 Professional Caregiving Services
              %p Professional Caregiving service helps seniors in need by assisting with activities of daily living (ADLs) in order to continue living life from the comfort of his or her own home.
          .row
            .col-md-6
            .col-md-18
              %ul.list-icon-2
                %li Bathing
                %li Brush teeth & Denture care
                %li Dressing & Grooming
                %li Diaper Changing
                %li Assist with commode, bedpan, and urinal
                %li Assistance in feeding
                %li Reposition bed-bound patients to help prevent bed sores
                %li Walking Assistance & Falls prevention
                %li Assisting with oral medication
      .col-md-2
      .col-md-11.bg-green
        .div-height
          .row
            .col-md-6
              %figure
                = image_tag 'nursing-services.png'
                //%img{:src => "/assets/nursing-services.png"}/
            .col-md-18
              %h3 Professional Caregiving Services
              %p Home Nursing Services helps seniors in need of nursing care at home.
          .row
            .col-md-6
            .col-md-18
              %ul.list-icon-2
                %li IV Cannula Care
                %li Oxygen Administration
                %li Tracheostomy care
                %li Wound dressing
                %li Injection
                %li Blood sugar check
                %li Insulin administration
                %li Urinary Catheter care
                %li Blood Pressure monitoring
                %li Home Nasogastric tube feeding
%section#work-pattern
  %h2 Caregiver’s Work Pattern
  .container
    .row
      .col-md-10
        %h3 Live In Caregivers
        %p The caregiver lives in the home of the patient and provides dedicated, one-on-one care. Caregivers receives adequate sleep & rest.
        %ul.list-icon-1
          %li Stay with the patient
          %li One Patient care at a time
          %li Food and stay provided by the
          %li Patient/family
      .col-md-4
      .col-md-10
        %h3 Live Out Caregivers
        %p The Caregiver operates out of her own home or hostel.
        %ul.list-icon-1
          %li Stay at hostel/ home
          %li One or multiple patient care
          %li Food to be carried by the Caregiver
          %li Fixed work timings- Day or night
%section#charges
  .transparent-green
  .container
    .row.text-center
      %h2 Caregiver’s Charges
      %p
        %strong Caregiver’s charges are fixed based on Caregiver’s skills & work timings.
%section#empanelment
  %h2 Caregiver Empanelment
  .container
    %p.text-center
      %strong Life Circle follows a 7 step process before empaneling a Caregiver
    .row
      .col-md-24
        %ul.steps-seven
          %li Application form to establish work history/references
          %li Personal interview and behaviour screening
          %li Competency screening over various skills required for a Caregiver
          %li Verification of identity and address
          %li Verification of educational and training certificates
          %li Work & Personal reference check
          %li Training on Caregiver’s code of conduct
  
