:css
  body {
  background-color: #eee;
  }
:javascript
  $(document).ready(function(){
  $('article').readmore({speed: 500});
  });
%section#inner-page
  %h2 Board of Directors
  .container.team
    .row.text-center
      .col-md-2
      .col-md-8.bg-white
        = image_tag 'team-male.png'
        %h3
          %strong ANANT KUMAR
          %br
          %span Founder CEO
        %article
          %p Anant kumar is the founder CEO of Life Circle Senior Services. Starting from Hyderabad, India, Life Circle Senior Services in collaboration with Groupe SOS (a leading social enterprise in France with expertise in elderly care), provides comprehensive subscription-based home nursing and caregiver services to elders and bed ridden patients.
          %p Prior to Life Circle, He was the founder CEO of LifeSpring maternity hospital chain in India. Under his leadership, LifeSpring was awarded the ‘UN World Business and Development Award’ and also received the Frost & Sullivan award for being the “Mother and Child Health Care Provider of the Year” in India.
          %p In past, he has served on Merck’s expert forum of maternal mortality supported by WHO, USAID’s Market Based Partnership for Health and EU funded committee for strengthening Human Resources for Health in India.
          %p He is a TED India fellow and also the winner of the Entrepreneur of the Year award by Economic Times NOW TV and runners up of Social Entrepreneur of the Year (2010) organised by Schwab Foundation in partnership with World Economic Forum.
        %a{:href => "https://in.linkedin.com/in/anant-kumar-6b3b566", :target => "_blank"}
          .glyph
            .glyph-icon.flaticon-linkedin1
      .col-md-4
      .col-md-8.bg-white
        = image_tag 'atulKumar.jpg' , :width => "200"
        %h3
          %strong Atul Kumar
          %br
          %span Partner
        %article
          %p Dual qualified as an Advocate-on-Record with Supreme court in India and Solicitor with Supreme Court of England and Wales. More than sixteen years of experience in various areas of corporate law, corporate litigation, arbitration and regulatory matters. Worked with full service law firms Fox Mandal little, Associated Law Advisers and rendered legal service to wide array of Indian and MNC clients. Advised clients on matters such as Joint Ventures, M& A, Technology Transfer, Entry routing of foreign investments (FIPB applications) and FDI Norms, facilitated setting up of businesses by foreign entities in India, FEMA regulations and RBI guidelines, Insurance Laws, Health sector regulations, Venture Capital Investment, SEZ laws, External Commercial Borrowings, Infrastructure regulatory issues, Company laws, Employment laws, Food Safety laws, SEBI Regulations and Corporate Litigation & Arbitration etc.
        %a{:href => "https://in.linkedin.com/in/atul-kumar-48831015", :target => "_blank"}
          .glyph
            .glyph-icon.flaticon-linkedin1
      .col-md-2
    %br
    %br
    .row.text-center
      .col-md-2
      .col-md-8.bg-white
        = image_tag 'amitKumar.jpg' , :width => "200"
        %h3
          %strong Amit Kumar
          %br
          %span Managing Partner
        %article
          %p
            Advocate of Supreme Court and High Court for more than 20 years.
            Extensive experience of handing all types of cases including, medical admissions, establishment of medical colleges, medical negligence, professional misconduct of doctors, recognition, Arbitration,Civil and Criminal cases etc. Member of Ethics Committee of Medical Council of India ( MCI) for one year & as part of Committee decided Appeals arising out of the decisions of State Medical Councils on professional misconduct of doctors. Authored several orders Ethics Committee on medical negligence and professional misconducts. Standing Counsel and retainer advocate of MCI in Supreme Court and Delhi High Court for a period of three years and half years [ June, 2010 to December, 2013]. As sole retainer advocate of MCI handled more than 2000 cases every year. Drafted, filed & argued cases in Supreme Court and almost all High Courts of India including High Court of Madras, Andhra Pradesh, Sikkim etc., and advised MCI & Ministry of Health and Family Welfare on number of legal issues. Experience of drafting regulations and arguing batch matters. Argued, drafted and filed cases of PSU like O.N.G.C., N.H.P.C. Central Cottage Industries Corporation, Handicraft and Handloom Export Corporation, Pawan Hans, Railway Land Development Authority etc. Represented Union of India as panel lawyer in Delhi High Court and Supreme Court for more than 3 years. As an Advocate of Supreme Court for more than 15 years drafted, filed and argued variety of cases reported in law journals. I have been providing legal aid to poor & needy through Supreme Court Legal Aid Society. Managing law firm which has vast experience of representing large number of clients in District Court, High Court, Supreme Court, Consumer forum etc. Lawyer of number of Hospitals including Jaypee Hospitals, Metro Group of Hospitals and Indian Institute of Liver and Biliary Sciences. Authored several article on Transfer of property.
        %a{:href => "https://in.linkedin.com/in/amit-kumar-a4aa9813", :target => "_blank"}
          .glyph
            .glyph-icon.flaticon-linkedin1
      .col-md-4
      .col-md-8.bg-white
        = image_tag 'priyaAnant.png'
        %h3
          %strong Priya Anant
          %br
          %span Chief Operating Officer
        %article
          %p Anant kumar is the founder CEO of Life Circle Senior Services. Starting from Hyderabad, India, Life Circle Senior Services in collaboration with Groupe SOS (a leading social enterprise in France with expertise in elderly care), provides comprehensive subscription-based home nursing and caregiver services to elders and bed ridden patients.
          %p Prior to Life Circle, He was the founder CEO of LifeSpring maternity hospital chain in India. Under his leadership, LifeSpring was awarded the ‘UN World Business and Development Award’ and also received the Frost & Sullivan award for being the “Mother and Child Health Care Provider of the Year” in India.
          %p In past, he has served on Merck’s expert forum of maternal mortality supported by WHO, USAID’s Market Based Partnership for Health and EU funded committee for strengthening Human Resources for Health in India.
          %p He is a TED India fellow and also the winner of the Entrepreneur of the Year award by Economic Times NOW TV and runners up of Social Entrepreneur of the Year (2010) organised by Schwab Foundation in partnership with World Economic Forum.
        %a{:href => "https://in.linkedin.com/in/priya-anant-97209323", :target => "_blank"}
          .glyph
            .glyph-icon.flaticon-linkedin1
      .col-md-2
  

%section#get-in-touch
  .container
    .row.text-left
      %h2 Get in touch
      .row
        .col-md-12
          .row
            .col-md-12
              %label Name
              %input{:name => "", :type => "text"}
            .col-md-12
              %label Phone
              %input{:name => "", :type => "phone"}
          .row
            .col-md-24
              %label Email
              %input{:name => "", :type => "email"}
        .col-md-12
          .row
            .col-md-24
              %label Message
              %textarea{:cols => "", :name => "", :rows => ""}
      .row.text-center
        %input{:name => "", :style => "width:auto; margin:30px 0;", :type => "button", :value => "SEND"}/
