.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Unit Masters
  .row{:ng_controller => "UnitController", :ng_init => "loadUnits()"}
    = link_to "Add new", "#", :ng_click => "newUnit()", :class => 'btn btn-primary'
    .row{:ng_show => "unit.isNew"}
      %span New Unit 
      %input{:type => "input", :ng_model => "unit.name"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
  %br
    %table.table.table-list
      %thead
        %th Unit
        %th Action
      %tbody
        - @unit.each do |x|
          %tr
            %td= x.name
            %td
              = link_to "Edit",edit_unit_master_path(x)
              = link_to "Delete", unit_master_path(x), :data => {:method => 'delete' ,:confirm => "Are You Sure to Delete " }
        
               
