.pull-left
  &ensp;
  = link_to "Back", :back, :class => 'btn btn-primary', :style =>"margin-bottom:8px"
.container{:ng_controller => "EnquiryConversationController", :ng_init => "loadEnquiryConversations('#{@conversation_master_id}', '#{@conversation_master_type}', '#{@care_giver_id}','#{@type}', '#{@cg_status}', '#{@cg_leave_id}', '#{@conversation_for}')"}
  .row
    .col-md-24
      .panel.panel-default
        .panel-heading
          %span.fa.fa-comments.fa-lg
            #{@name}
          - if("{{parent_tag}}")
            %h5{:style => "margin-top: -25px; margin-bottom: 0px; margin-left: 614px;" ,:ng_show => "parent_tag"}
              %label.label{:ng_class => "labelClasses[parent_tag]", :ng_show => "parent_tag"} {{parent_tag}}    
          - else
            .pull-right
              %h5
                %label.label{:ng_class => "labelClasses[parent_tag]", :ng_show => "parent_tag"} {{parent_tag}}          

        .panel-body{:style => "max-height:150px; overflow-y: auto;"}
          &nbsp;&nbsp;&nbsp;
          - if @parent.present? and @parent.is_a? MissedCallRequest and @parent.enquiry.nil?
            
            = link_to "Create Enquiry", new_enquiry_from_missed_call_request_enquiries_path(:missed_call_request_id => @parent.id)
            = link_to "Create Appointment", "/enquiries/new_appointment_for_enquiry?mobile_no=#{@parent.mobile_no}&missed_call_request_id=#{@parent.id}"
          - elsif @parent.present? and @parent.is_a? MissedCallRequest
            &nbsp;&nbsp;&nbsp; Enquiry Captured          
          %ul.chat
            %li.right.clearfix{:ng_repeat => "conversation in enquiryConversations"}
              .chat-body.clearfix
                %p
                  {{conversation.description}}
                  %label.label{:ng_class => "labelClasses[conversation.tag]", :ng_show => "conversation.tag"} {{conversation.tag}}
                .header
                  %strong.primary-font {{conversation.author_name}}
                  %small.pull-right.text-muted
                    %span.fa.fa-clock-o.fa-lg
                    {{conversation.formated_entered_at}}
                    
        .panel-footer
          .sky-form
            %form{:name => "conversationForm", :class => "sky-form",  :role => "form", :novalidate => ""}
              %label.textarea
                %textarea{:placeholder => "Type your message here...", :type => "text", :ng_model => "enquiryConversation.description", :rows => 6 , :name => "description" , :required => true}
                %br
                .row
                  %span.error{:ng_show => "description_empty"} Please Provide Description
                %span{:ng_show => "enquiryConversation.tag"}
                  %h5 {{enquiryConversation.tag}}
            - if params[:conversation_for] and params[:status] != "enrollment"
              .row    
                %section
                  .col-md-10
                  .col-md-10
                    .col-md-4
                      %label.text
                        Status: 
                    .col-md-12
                      %label.select
                        %select{:ng_model => "tag", :ng_options => "patient.value as patient.key for patient in patients"}
                        %i
                    .col-md-8
                      = link_to "Add Status", "#", :ng_click => "addTag()", :class => "button"
                 
            - elsif params[:care_giver_id] and params[:status] != "enrollment"     
              %br        
              .row  
                %section
                  .col-md-10
                  .col-md-10
                    .col-md-4
                      %label.text
                        Status: 
                    .col-md-12
                      %label.select
                        %select{:ng_model => "cg_status", :ng_options => "stat.value as stat.key for stat in cg_master_status"}
                        %i
                    .col-md-8
                      = link_to "Update", "#", :ng_click => "eqStatus()", :class => "button"
                  
                    
            - else
              .row
                %section
                  .col-md-2
                  .col-md-10
                                    
                  .col-md-10
                    .col-md-4
                      %label.text
                        Tag: 
                    .col-md-12
                      - if params[:status] == 'Audit'
                        %label.select
                          %select{:ng_model => "tag", :ng_options => "tag.value as tag.key for tag in audit_tags"}
                          %i

                      - elsif params[:status] == 'enrollment'
                      
                      
                      - else
                        %label.select
                          %select{:ng_model => "tag", :ng_options => "tag.value as tag.key for tag in enquiry_tags"}
                          %i
                    .col-md-18
                      %br
                      .pull-right
                     
                        = link_to "Add Tag", "#", :ng_click => "addTag()", :class => "button"
            
            .row
              %footer
                .pull-right
                  %button.button{:ng_show => "enquiryConversation.tag", :ng_click => 'save()'} Save
                
