.row{:ng_controller => "AreasMasterController", :ng_init => "loadAreas(#{@city_master.id})"}
  = link_to "Add Area", "#", :ng_click => "newArea()"
  .row{:ng_show => "area.isNew"}
    %span New Area
    %input{:type => "input", :ng_model => "area.name"}
    = link_to "save", "#", :ng_click => "save()"
  %table.table-list
    %thead
      %th Area
      %th Action
    %tbody
      %tr{"ng-repeat" => "area in areas"}
        %td
          %sapn{:ng_hide => "area.edit"}= "{{area.name}}"
          %input{:type => "text", :ng_model => "area.name", :ng_show => "area.edit"}
        %td
          = link_to "Edit", "#", :ng_click => "edit(area)", :ng_hide => "area.edit"
          = link_to "Update", "#", :ng_click => "update(area)", :ng_show => "area.edit"
          = link_to "Delete", "#", :ng_click => "destroy(area)"
