= form_for @city_master do |f|
  - if @city_master.errors.any?
    #error_explanation
      %h2= "#{pluralize(@city_master.errors.count, "error")} prohibited this city_master from being saved:"
      %ul
        - @city_master.errors.full_messages.each do |msg|
          %li= msg

  
  .row
    .col-md-5
    .col-md-13
      %center
        = f.text_area :address
        
    .col-md-10
    .col-md-2
      %br
      = f.submit 'Save'
