.pull-right
  = link_to 'New City master', new_city_master_path , :class => 'btn btn-primary'
%h3
  %center
    City Masters
.clearfix
.container
  %table.table.table-list
    %thead
      %tr
        %th Name
        %th Address
        %th
          
     

    %tbody
      - @city_masters.each do |city_master|
        %tr
          %td= city_master.name
          %td= city_master.address
          //%td= link_to 'Show', city_master
          %td= link_to 'Edit', edit_city_master_path(city_master)
          //%td= link_to 'Destroy', city_master, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  
