= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true

:javascript
  $(document).ready(function(){
  city_initialize();
  });
%section{:ng_controller => 'CityController' , :ng_submit => 'submit_location_all()' }
  
  %form{:id => "location_form", :name => "locationForm", :class => "sky-form"}
    .row
      .col-md-5
      .col-md-13
        %center 
          %h3
            New City
          %br
          %input{ :id => "autocomplete", :onFocus => "geolocate()", :type => "text", :ng_model => "place_details"}
          %input{:id => "place_details_object", :type => "hidden"}
          %br
          %input{  :type => "text", :ng_model => "address_str" , :class => 'form-control' , :placeholder => 'Enter Address'}
          %br
          %input.btn.btn-default{:style => "width:auto;", :type => "submit", :value => "Save"}
