.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Ticket Category Masters
  .row{:ng_controller => "TicketcategController", :ng_init => "loadTicketcategs()"}
    = link_to "Add new", "#", :ng_click => "newTicketcateg()", :class => 'btn btn-primary'
    .row
      %br
    .row{:ng_show => "ticketcateg.isNew"}
      %span
        &ensp;
        New Ticket Category 
      %input{:type => "input", placeholder: "Name", :ng_model => "ticketcateg.name"}
      %input{:type => "input", placeholder: "Description", :ng_model => "ticketcateg.description"}
      %select{:ng_model => "ticketcateg.category_type", :ng_options => "tag.value as tag.key for tag in type_tags"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %table.table.table-list
      %thead
        %th Name
        %th Description
        %th Type
        %th Action
      %tbody
        %tr{"ng-repeat" => "ticketcateg in ticketcategs"}
          %td
            %sapn{:ng_hide => "ticketcateg.edit"}= "{{ticketcateg.name}}"
            %input{:type => "text", :ng_model => "ticketcateg.name", :ng_show => "ticketcateg.edit"}
          %td
            %sapn{:ng_hide => "ticketcateg.edit"}= "{{ticketcateg.description}}"
            %input{:type => "text", :ng_model => "ticketcateg.description", :ng_show => "ticketcateg.edit"}
          %td
            %sapn{:ng_hide => "ticketcateg.edit"}= "{{ticketcateg.category_type}}"
            %select{:ng_model => "ticketcateg.category_type",:ng_show => "ticketcateg.edit", :ng_options => "tag.value as tag.key for tag in type_tags"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(ticketcateg)", :ng_hide => "ticketcateg.edit"
            = link_to "Update", "#", :ng_click => "update(ticketcateg)", :ng_show => "ticketcateg.edit"
            = link_to "Delete", "#", :ng_click => "destroy(ticketcateg)"
