.col-md-28{:ng_controller => "CareGiverLeaveController", :ng_init => "loadAllCGLeaves()"}
  .col-md-8
    .pull-left.sky-form
      %br
      %button.button{:type => "button", :ng_hide => "care_giver_leave.isNew", :ng_click => "newCareGiverLeave()"} Add New
  .col-md-20{:ng_show => "care_giver_leave.isNew"}
    %form{:ng_submit => "newSave(care_giver_leave)", :no_validate => true, :class => "sky-form"}
      .row
        %section.col.col-6
          %label.input
            = autocomplete_field_tag :first_name, '', auto_search_autocomplete_caregiver_master_names_path, :placeholder =>"Name", :class => 'form-control', :required => true, :id_element => "#id"
            = hidden_field_tag :id, :id => "#{@id}"
        %section.col.col-3
          %label.input
            %input{:type => "text", :ng_model => "care_giver_leave.from_date", :placeholder => "Leave From", :my_datepicker => true}
        %section.col.col-3
          %label.input
            %input{:type => "text", :ng_model => "care_giver_leave.to_date", :placeholder => "Leave To", :my_datepicker => true}
      .row
        %section.col.col-6
          %label.textarea
            %textarea{:ng_model => "care_giver_leave.description", :placeholder => "Reason", :rows => 4}
      %footer
        %section.col.col-6
          %button{:type => "submit", :class=> "button"} Apply Leave
        %section.col.col-6
          %button.button{:type => "reset", :ng_click => "close()"} Close
      //= link_to "Apply Leave", "#", :ng_click => "newCareGiverLeave()", :class => "button"

  -# %form#sky-form.sky-form{:name=>"drugquantitymasterform", :ng_submit => "save()", :novalidate => ""}
  -#     .col-md-9
  -#       .col-md-12.col-md-offset-1
  -#         %header New Sub Service
  -#         .col-md-6
  -#           .row
  -#             %section.col.col-6
  -#               %label.input
  -#                 %input{:type => "text",:size => "5", :ng_model => "patient_routine.time",:placeholder =>"Time", :onFocus => 'getTimepicker(this)'}
  -#             %section.col.col-6
  -#               %label.select
  -#                 %select{:ng_model => "patient_routine.routine_master_id", :placeholder =>"Select", :ng_options => "option.id as option.name for option in routine_masters"}
  -#                   %option{:value => ""} -- choose Routine --
  -#           .row
  -#             %section.col.col-3
  -#               %button.button{:type => "submit"} Add
  -#             %section.col.col-3
  -#               %button.button{:type => "button", :ng_click => "close()"} Close
  -#               //= link_to "Close", "#", :ng_click => "close()"
  -# 
  .col-md-28
    .sky-form
      %header Caregiver Leaves
    %table.table.table-responsive.table-list
      %thead
        %th Caregiver Photo
        %th Caregiver Name
        %th Leave From
        %th Leave To
        %th Applied At
        %th Description
        %th Status
        %th Approve
        %th Action
      %tbody
        %tr{"ng-repeat" => "care_giver_leave in care_giver_leaves"}
          %td 
            %img{:ng_src => "{{care_giver_leave.care_giver_img_url}}"}
          %td {{care_giver_leave.care_giver_name}}
          %td {{care_giver_leave.from_date}}
          %td {{care_giver_leave.to_date}}
          %td {{care_giver_leave.applied_at}}
          %td {{care_giver_leave.description}}
          %td {{care_giver_leave.status}}
          %td 
            %span{:ng_show => "care_giver_leave.status == 'PENDING'"}
              %a{:href => "#", :ng_click => "approve(care_giver_leave)", :class => "btn btn-sm btn-success"} Approve
              %a{:href => "#", :ng_click => "reject(care_giver_leave)", :class => "btn btn-sm btn-danger"} Reject
          %td
            %a{:href => "/enquiry_conversations?conversation_master_id={{care_giver_leave.care_giver_enquiry_id}}&conversation_master_type=CareGiverEnquiry&cg_status={{care_giver_leave.care_giver_status}}&cg_leave_id={{care_giver_leave.id}}&care_giver_id={{care_giver_leave.care_giver_master_id}}", :class => "fa fa-comments fa-lg", :title => "Conversation"}
