%form{:name => "{{payment_master.form_name}}", :novalidate => true, :class => "sky-form", :ng_submit => "sendInvoice(payment_master)"}
  %fieldset
  .col-md-24
    %section
      .row
        %label.label.col.col-8 Invoice No
        .col.col-14
          %label.input
            = text_field_tag :invoice_no, "",:ng_model => "payment_attributes.payment_master.invoice_no", :readonly => true
  .col-md-24
    %section
      .row
        %label.label.col.col-8 Description
        .col.col-14
          %label.input
            = text_field_tag :description, "",:ng_model => "payment_attributes.payment_master.description", :readonly => true

  .col-md-24
    %section
      .row
        %label.label.col.col-8 Date From
        .col.col-14
          %label.input
            = text_field_tag :period_from, "",:ng_model => "payment_attributes.payment_master.period_from", :readonly => true
    %section
      .row
        %label.label.col.col-8 Date To
        .col.col-14
          %label.input
            = text_field_tag "period_to", "",:ng_model => "payment_attributes.payment_master.period_to", :my_datepicker => "", :readonly => true

    %section
      .row
        %label.label.col.col-8 No of Days
        .col.col-14
          %label.input
            = text_field_tag :no_of_days, "",:ng_model => "payment_attributes.payment_master.no_of_days", :readonly => true, :id => "noOfDays"

    %section
      .row
        %label.label.col.col-8 Amount 
        .col.col-14
          %label.input
            = text_field_tag :amount_in_rupees, "",:ng_model => "payment_attributes.payment_master.amount_in_rupees", :readonly => true, :id => "paymentAmountInRupees"
    %section
      .row
        %label.text.col.col-8 Disount 

        .col.col-14
          .col.col-10
            %label.input
              = text_field_tag :discount, "",:ng_model => "payment_attributes.payment_master.discount", :id => "paymentDiscount"
          .col.col-12
            %label.select
              %select{:ng_model => "payment_attributes.payment_master.discount_type", :ng_options => "option.value as option.key for option in discount_options", :ng_change => "broadcast_discount_change(payment_master)"}
              %i
    %section
      .row{:ng_show => "payment_attributes.payment_master.credit_notes.length > 0"}
        %label.label.col.col-8 Credit Note amount(-)
        .col.col-14
          %label.input
            = text_field_tag :credit_note_amount, "",:ng_model => "payment_attributes.payment_master.credit_note_amount", :readonly => true

    %section
      .row
        %label.label.col.col-8 Total
        .col.col-14
          %label.input
            = text_field_tag :total_amount_in_rupees, "",:ng_model => "payment_attributes.payment_master.total_amount", :readonly => true, :id => "paymentTotal"
