= f.object.prev_payment_credit_note.inspect
= f.fields_for :prev_payment_credit_note do |cr_form|
  = cr_form.hidden_field :reason_for_creadit_note, :value => f.object.prev_payment_credit_note.reason_for_creadit_note
  = cr_form.hidden_field :days_of_service_provided, :value => f.object.prev_payment_credit_note.days_of_service_provided
  = cr_form.hidden_field :days_of_service_invoiced, :value => f.object.prev_payment_credit_note.days_of_service_invoiced
  = cr_form.hidden_field :value_of_credit_note, :value => f.object.prev_payment_credit_note.value_of_credit_note
  = cr_form.hidden_field :no_days_service_as_per_client_register, :value => f.object.prev_payment_credit_note.no_days_service_as_per_client_register
  = cr_form.hidden_field :payment_master_id, :value => f.object.prev_payment_credit_note.payment_master_id

  %table.table.table-list
    %tr
      %th Date
      %td= payment_master.invoice_generation_date
    %tr
      %th Client Name
      %td= credit_note.payment_master.enrollment.patient.name
    %tr
      %th Invoice #
      %td= credit_note.payment_master.invoice_no
    %tr
      %th Invoice Amount
      %td= credit_note.payment_master.total_amount_in_rupees
    %tr
      %th Reason for Issuing Credit Note
      %td= credit_note.reason_for_creadit_note
  .row
    .subHeader-clr
      Computation of Credit Note Value
    %table.table.table-list
      %tr
        %th A
        %th Days of service invoiced
        %td= credit_note.payment_master.no_of_days
      %tr
        %th B
        %th Days of service provided
        %td= credit_note.no_days_service_as_per_client_register
      %tr
        %th C
        %th Difference(A-B)
        %td
      %tr
        %th D
        %th Daily service rate
        %td= credit_note.value_details
      %tr
        %th E 
        %th Value of credit note(C*D)
        %td= credit_note.value_of_credit_note
  .row
    .subHeader-clr
      Credit Note Control
    %table.table.table-list
      %tr
        %th 1
        %th No. of  days services provided as per CG register
        %td= credit_note.no_days_service_as_per_client_register
      %tr
        %th 2 
        %th No.of days services provided as per client's register
        %td
      %tr
        %th 3
        %th Is Notice period amount adjusted
        %td
          = cr_form.check_box :is_notice_period_amount_adjusted
      %tr
        %th 4 
        %th Is payment made on client/patient's name
        %td
          = cr_form.check_box :is_payment_made_on_client_or_patient_name
      %tr
        %th 5 
        %th If "NO", is authorization taken from client/patient to make payment on other's name
        %td
          %label.input
            = cr_form.text_field :authorization_token_from_client
