= form_for(@payment_master_form, :url => "/enrollments/#{@enrollment.id}/payment_masters",:html => {:class => "sky-form"}) do |form|
  %fieldset
    %table.table.table-list
      %thead
        %th Caregiver
        %th Caregiver Charge
        %th Travel Distance
        %th TransportCharges
        %th Total
      %tbody
        - g_total = 0
        - @payment_master_form.enquiry_care_givers.each_with_index do |cg, index|
          = form.fields_for "enquiry_care_givers[]",  cg do |cgf|
            %tr
              %td= link_to cg.care_giver_master.name, cg.care_giver_master
              %td
                %label.input
                  = cgf.number_field :caregiver_charge, :id => "cgCharge-#{index}",:onblur => "calculateTotal('#{index}')"
              %td
                %label.input
                  = cgf.number_field :approx_travel_distance, :id => "cgTravelDistance-#{index}",:onblur => "reflectDistanceChange('#{index}')"
              %td
                %label.input
                  = cgf.number_field :transport_charge, :readonly => true, :id => "cgTravelCharge-#{index}"
              %td
                %label.input
                  = text_field_tag :total, cg.total_charge, :readonly => true, :id => "cgTotal-#{index}", :rel => "totalConsiderable"
                  - g_total += cg.total_charge

        %tr
          %td
          %td
          %td
          %th Total
          %td
            %label.input
              = text_field_tag :grand_total,g_total,:readonly => true, :id => "cgGrandTotal"

    .col-md-24
    = form.fields_for @payment_master_form.payment_master do |f|
      = f.hidden_field :enrollment_id
      %section
        .row
          %label.label.col.col-4 Date From
          .col.col-16
            %label.input
              = f.text_field :period_from, :readonly => true
      %section
        .row
          %label.label.col.col-4 Date To
          .col.col-16
            %label.input
              = f.text_field :period_to, :readonly => true
      %section
        .row
          %label.label.col.col-4 No of Days
          .col.col-16
            %label.input
              = f.number_field :no_of_days, :readonly => true, :id => "noOfDays"

      %section
        .row
          %label.label.col.col-4 Amount 
          .col.col-16
            %label.input
              = f.text_field :amount_in_rupees, :readonly => true, :id => "paymentAmountInRupees"

      - unless @payment_master_form.payment_master.enrollment.payments_exists?
        %section
          .row
            %label.label.col.col-4 Enrollment Fee
            .col.col-16
              %label.input
                = f.number_field :enrollment_fee, :readonly => true, :id => "paymentEnrollmentFee"

      %section
        .row
          %label.text.col.col-4 Disount
          .col.col-4
            %label.input
              = f.number_field :discount, :id => "paymentDiscount"
          .col.col-6
            %label.select
              = f.select :discount_type, options_for_select(PaymentMaster::DISCOUNT_TYPES), {}, :id => "paymentDiscountType"
              %i
          .col.col-6
            %label
              = f.check_box :discount_every_time 
              Discount Every Time
              
      %section
        .row
          %label.label.col.col-4 Total
          .col.col-16
            %label.input
              = f.text_field :total_amount_in_rupees, :readonly => true, :id => "paymentTotal"
    %section
      .row
        .col-md-8
        .col-md-6
          = form.submit "Pay", :class => "button"

