%table.table.table-list
  %thead
    %th Date
    %th Description
    %th Amount
    %th Status
    %th Actions
  %tbody
    %tr{:ng_repeat => "credit_note in payment_master.credit_notes"}
      %td {{credit_note.credit_note_date}}
      %td {{credit_note.reason_for_creadit_note}}
      %td {{credit_note.value_of_credit_note}}
      %td {{credit_note.status}}
      %td
        = link_to "Rollback", "#", :ng_click => "mark_as_pending_credit_note(credit_note)", :class => "btn.btn-sm.btn-success", :ng_show => "credit_note.status != 'PENDING'"
        = link_to "Issue", "#", :ng_click => "issue_credit_note(credit_note)", :class => "btn.btn-sm.btn-success", :ng_show => "credit_note.status == 'PENDING'"

