.col-md-12
  = wicked_pdf_image_tag "logo.jpg", width: "100", height: "100"
  %p{:style => "float: right;"}
    %b Life Circle Health Services Private Limited
    %br
    House No. 1-166/2
    %br
    Chandanagar
    %br
    Hyderabad Telangana 500050 India
    %br
    +91 40 2303 8878
    %br
    admin@lifecircle.in
    %br
    www.lifecircle.in
    %br
    CIN-U85100DL2012PTC232872
