.col-md-24.sky-form
  %header 
    = raw "#{link_to(@enrollment.patient.name, @enrollment)} Invoices"
    .pull-right
      = link_to "New Invoice", revise_care_giver_charge_enrollment_payment_masters_path(@enrollment), :class => "button"
      = link_to "Back", @enrollment, :class => "button"
  %table.table.table-list
    %thead
      %th Invoice no
      %th Terms
      %th Due date
      %th Invoice amount
      %th CN amount
      %th Discount
      %th Total to pay
      %th Total paid
      %th Balance
      %th Actions
      
    %tbody
      - @payment_masters.each do |payment_master|
        %tr
          %td= link_to payment_master.invoice_no, enrollment_payment_master_path(@enrollment, payment_master)
          %td= payment_master.description
          %td= payment_master.due_date
          %td
            - amount = (payment_master.enrollment_fee.to_i > 0 ? "#{payment_master.amount_in_rupees} + #{payment_master.enrollment_fee}(Enrollment Fee)" :  payment_master.amount_in_rupees)
            = amount
          %td= payment_master.credit_note_amount
          %td= "#{payment_master.discount} (#{payment_master.discount_type})"
          %td= payment_master.total_amount
          %td= payment_master.total_amount_paid
          %td= payment_master.total_pending_payment
          %td
            - if payment_master.total_pending_payment > 0
              = link_to "Pay", new_enrollment_payment_master_payment_bill_path(@enrollment, payment_master)
