.container
  .row
    = render "enrollments/enrollment_details"
  .row.sky-form
    = form_for(@payment_master, :url => "/enrollments/#{@enrollment.id}/payment_masters/recurring_payment",:html => {:class => "sky-form"}) do |f|
      .col-md-12
        %header Payment Details
        = render :partial => "recurring_form", :locals => {:f => f}
      - if @payment_master.prev_payment_credit_note.present?
        .col-md-12
          %header Credit Note
          = render :partial => "credit_note", :locals => {:credit_note => @payment_master.prev_payment_credit_note, :payment_master => @payment_master, :f => f}
