.col-md-22.col-md-offset-1
  .col-md-20.sky-form
    %header Revise Caregiver Payment
    = form_for(@form_object, :url => "/enrollments/#{@enrollment.id}/payment_masters/recurring_payment",:html => {:class => "sky-form"}) do |form|
      %fieldset
        .row
          %table.table.table-list
            %thead
              %th Caregiver
              %th Caregiver Charge
              %th Travel Distance
              %th TransportCharges
              %th Total
            %tbody
              - g_total = 0
              - @form_object.enquiry_care_givers.each_with_index do |cg, index|
                = form.fields_for "enquiry_care_givers[]",  cg do |cgf|
                  %tr
                    = cgf.hidden_field :old_enquiry_care_giver_id, :value => cgf.object.id
                    = cgf.hidden_field :care_giver_master_id, :value => cgf.object.care_giver_master_id
                    = cgf.hidden_field :consider_modified_charge, :value => true

                    %td= link_to cg.care_giver_master.name, cg.care_giver_master
                    %td
                      %label.input
                        = cgf.number_field :caregiver_charge, :id => "cgCharge-#{index}",:onblur => "calculateTotal('#{index}')"
                    %td
                      %label.input
                        = cgf.number_field :approx_travel_distance, :id => "cgTravelDistance-#{index}",:onblur => "reflectDistanceChange('#{index}')"
                    %td
                      %label.input
                        = cgf.number_field :transport_charge, :readonly => true, :id => "cgTravelCharge-#{index}"
                    %td
                      %label.input
                        = text_field_tag :total, cg.total_charge, :readonly => true, :id => "cgTotal-#{index}", :rel => "totalConsiderable"
                        - g_total += cg.total_charge

              %tr
                %td
                %td
                %td
                %th Total
                %td
                  %label.input
                    = text_field_tag :grand_total,g_total,:readonly => true, :id => "cgGrandTotal"
        %br
        .row
          = form.hidden_field :enrollment_id
          %section
            .row
              %label.label.col.col-4 Date From
              .col.col-16
                %label.input
                  = form.text_field :period_from, :readonly => true, :id => "invoice_from_date"
          %section
            .row
              %label.label.col.col-4 Date To
              .col.col-16
                %label.input
                  = form.text_field :period_to, :my_datepicker => "", :ng_model => "invoice_date_to", :ng_init => "invoice_date_to = '#{form.object.period_to}'", :id => "invoice_to_date"
          %section
            .row
              %label.label.col.col-4 No of Days
              .col.col-16
                %label.input
                  = form.text_field :no_of_days, :readonly => true, :id => "invoice_no_of_days"
          -# %section
          -#   .row
          -#     %label.label.col.col-4
          -#       Invoice Generation Date 
          -#       %br
          -#       (A Temp field to test with future generation date)
          -#     .col.col-16
          -#       %label.input
          -#         = form.text_field :generation_date, :my_datepicker => "", :ng_model => "generation_date"
          %footer
            .pull-right
              = form.submit "Next", :class => "button"
