.container
  .row
    = render "enrollments/enrollment_details"
  .row.sky-form{:ng_controller => "PaymentPreviewController", :ng_init => "loadPaymentDetails(#{@enrollment.id}, '#{@generation_date}')"}
    %header
    .row{:ng_repeat => "payment_master in payment_masters"}
      .col-md-10
        %header Invoice
        = render "recurring_form"
      .col-md-2
      .col-md-10{:ng_show => "payment_master.credit_notes.length > 0"}
        %header Credit Notes
        = render "issued_credit_notes"
        -# %header Pending Credit Notes
        -# = render "payment_credit_notes"
