.row{:ng_controller => 'caregiverEquipmentsController',  :ng_init => "loadEquipments(#{@care_giver.id})"}
  %fieldset
    %form#sky-form.sky-form{:name=>"caregiverEquipmentForm", :ng_submit => "save()", :novalidate => ""}
      .col-md-3{:ng_repeat => "equipment in equipments"}
        %section
          .col-md-2
            %label.checkboxinline
              %input{:type => "checkbox", :name => "equipment_{{$index}}", :ng_model => "equipment.assigned"}
              &nbsp;
          .col-md-10
            %lablel
              {{equipment.adaptive_name}}
      .col-md-12
        .pull-right
          %button.button{:type => "submit", :style => 'margin-right: 36px'} Save  
