%h1 PatientDisabilities#index
%p Find me in app/views/patient_disabilities/index.html.haml
.row{:ng_controller => "PatientDisabilitiesController", :ng_init => "loadDisabilities(#{@enrollment_id})"}
  %fieldset
    .col-md-12
      .col-md-3{:ng_repeat => "disability in disabilities"}
        %section
          .col-md-2
            %label.checkboxinline
              %input{:type => "checkbox", :name => "disability_{{$index}}", :ng_model => "disability.assigned"}
              &nbsp;
          .col-md-10
            %label
              .pullleft
                {{disability.disability_name}}
    .col-md-12
      .pull-right
        %a{:href => "#", :ng_click => "save()", :style => 'margin-right: 36px', :class => "button"} Save
