%table.table-list
  - @enrollment.enquiry_care_givers.each do |enquiry_care_giver|
    %tr
    %td{:style => "vertical-align:top;"} 
      = image_tag enquiry_care_giver.care_giver_master.profile_pic.thumb.url
    %td{:style => "vertical-align:top;"} 
      %span.subHeader-clr= enquiry_care_giver.care_giver_master.name
    %td{:style => "vertical-align:top;"}= enquiry_care_giver.care_giver_master.telephone_no
    %td= enquiry_care_giver.care_giver_master.services_html.html_safe
    %td= enquiry_care_giver.care_giver_master.languages_html.html_safe
    - if @enrollment.closed?
      %td{:style => "vertical-align:top;"}  
        = link_to 'Closed' , '#'

    - else
      %td{:style => "vertical-align:top;"}  
        = link_to "Replace", change_care_giver_enrollment_path(@enrollment, :care_giver_master_id => enquiry_care_giver.care_giver_master_id), :class => "btn btn-danger"
      
