#lifeCircleAccordian.container
  .panel-group{:id => "accordion", :role => "tablist", "aria-multiselectable" => "true"}
    .panel.panel-default
      .panel-heading-active{:id => "headingOne", :role => "tab"}
        %h4.panel-title
          %a{ "role" => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseZero", "aria-expanded" => "true", "aria-controls" => "collapseOne"} Patient Details
      #collapseZero.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
        .panel-body
          = render "enrollments/patient_details"
    .panel.panel-default
      .panel-heading-active{:id => "headingOne", :role => "tab"}
        %h4.panel-title
          %a{ "role" => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseOne", "aria-expanded" => "true", "aria-controls" => "collapseOne"} Service Configuration
      #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
        .panel-body
          = render "enrollments/service_details"
