- unless (defined? after_enrollment)
  - after_enrollment = false
  
%table.table.table-list
  %tr{:ng_repeat => "enquiry_care_giver in enrollment.enquiry.enquiry_care_givers"}
    %td{:style => "vertical-align:top;"} 
      %img{:ng_src => "{{enquiry_care_giver.care_giver_master.profile_pic.thumb.url}}"}
    %td{:style => "vertical-align:top;"} 
      %span.subHeader-clr {{enquiry_care_giver.care_giver_master.name}}
    %td{:style => "vertical-align:top;"}  {{enquiry_care_giver.care_giver_master.telephone_no}}
    %td{:style => "vertical-align:top;"}  {{enquiry_care_giver.care_giver_master.services}}
    %td{:style => "vertical-align:top;"}  {{enquiry_care_giver.care_giver_master.languages}}
    %td{:style => "vertical-align:top;"}  
      %span.subHeader-clr
        %label{:ng_show => "availabilityStatus"} Avaiable
        %label{:ng_hide => "availabilityStatus"} Not Avaiable
.row
  %form{:name => "serviceRequestForm", :class => "sky-form", :no_validate => "", :ng_submit => "checkCgAvailabilityOnModifiedQuery(enquiry)"}
    %header Services
    .row{:ng_show => "enquiryUpdated"} 
      .alert.alert-success{:ng_show => "enquiryUpdatesuccess"} Enqury has been updated successfully
      .alert.alert-danger{:ng_show => "!enquiryUpdatesuccess"} Enqury has not been updated successfully

    .col-md-24
      .col-md-6{:ng_repeat => "service in enquiry.services"}
        %section
          .col-md-6
            %label.checkboxinline
              %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned", :ng_checked => "service.assigned"}
              &nbsp;
          .col-md-6
            %label
              {{service.service}}

    %header Care Giver Enquiry
    .col-md-24
      %fieldset
        .col-md-24
          %section.col-md-6
            %label.text
              Care giver gender?
          %section.col-md-2
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "MALE", :name => "gender"}
              %span Male

          %section.col-md-2
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "FEMALE", :name => "gender"}
              %span Female
          %section.col-md-2
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "ANY", :name => "gender"}
              %span Any
        .col-md-9
          %span.error{:ng_show => "genderCaptured"} Please check the caregiver gender

        .col-md-24
          %section.col-md-6
            %label.text
              Language Proficiency
          .col-md-12
            %section.col.col-3{:ng_repeat => "language in enquiry.languages"}
              %label.checkbox-inline
                %input{:type => "checkbox", :name => "service_request_form_object[language_profficiency][]", :ng_model => "language.assigned"}
                &nbsp;
                {{language.language}}
        .col-md-offset-3.col-md-9
          %span.error{:ng_show => "language_empty"} Please check the required languges
        .col-md-12
          %section.col.col-5
            %label.text Required to do Heavy Patient Lifting
          %section.col.col-4
            %label.checkbox-inline
              %input{:type => "checkbox", :ng_model => "enquiry.require_heavy_patient_lifting"}
        .col-md-12
          %section.col.col-5
            %label.text Number of Care givers required&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %section.col.col-5
            %label.input
              %input{:type => "number", :ng_model => "enquiry.no_of_care_givers"}
        .col-md-24
          %section.col.col-3
            %label.text
              Care giver stay?
          %section.col.col-3.radio-inline
            %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_IN", :name => "caregiver_stay"}
            %span Live In
          %section.col.col-3.radio-inline
            %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_OUT", :name => "caregiver_stay"}
            %span Live Out
    .col-md-24
      %fieldset
        .col-md-24
          .col-md-12
            %header Date Range
            %section.col.col-6
              %label.input
                %input{:type => "text", :ng_model => "enquiry.service_required_from", :placeholder => "Date From", :my_datepicker => "", :required => true}
            %section.col.col-6
              %label.input{:ng_hide => "enquiry.open_term"}
                %input{:type => "text", :ng_model => "enquiry.service_required_to", :placeholder => "Date To", :my_datepicker => ""}
              %input{:type => "checkbox", :ng_model => "enquiry.open_term"} Long Term
            .col-md-12
              %span.error{:ng_show => "invalidDate"} Invalid date range
          .col-md-6{:ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"}
            %header Timeslots
            .col-md-12
              %fieldset
                %time_slot_renderer{:from_name => "'service_request_form_object[timeslots][][from]'", :to_name => "'service_request_form_object[timeslots][][to]'", :slots => "enquiry.requested_time_slots", :invalidTimeSlot => false}

      .col-md-24
        .col-md-3
        .col-md-2
          %button{:type => "Submit", :class => "button"} Search
        .col-md-2
          - if after_enrollment
            %a{:href => "#", :ng_click => "updateChangePlan()", :class=> "button"} Update
          - else
            %a{:href => "#", :ng_click => "updateEnquiry()", :class=> "button"} Update            
