.row
  %br
  .col-md-20.sky-form
    .col-md-10
      %section
        %label.input
          %input{:type => "text", :name => "user_details", :placeholder => "Enter Existing Patient Name to get Details", "data-autocomplete" => "/auto_search/autocomplete_user_details", :id => "patientDetailId", "data-id_element" => '#selectedUserId'}
          %input{:type => "hidden", :id => "selectedUserId"}
    .col-md-6
      %a.button{:href => "#", :ng_click => "fetchPatientDetails()" , :title => "Enter Existing Patient Name to get Details"} Details
      
  .col-md-10
    %header Patient Details
    .row
      %section.col-md-10
        %label.input
          .ash-color
            First Name
          %input{:type => "text", :ng_model => "enrollment.patient.first_name", :placeholder => "First Name", :required => true, :name => "first_name"}
          .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.first_name.$touched"}
            %span.error{:ng_show => "EnrollmentInputForm.first_name.$error.required"} First Name is required
      %section.col-md-10
        %label.input
          .ash-color
            Last Name
          %input{:type => "text", :ng_model => "enrollment.patient.last_name", :placeholder => "Last Name"}
    .row
      %section.col-md-24
        %label.text
          Gender
      %section.col.col-3
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enrollment.patient.gender", :value => "MALE", :name => "gender", :ng_required => "true"}
          %span Male

      %section.col.col-3
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enrollment.patient.gender", :value => "FEMALE", :name => "gender", :ng_required => "true"}
          %span Female
      %section.col.col-3
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enrollment.patient.gender", :value => "ANY", :name => "gender", :ng_required => "true"}
          %span Other
      .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.gender.$touched"}
        %span.error{:ng_show => "EnrollmentInputForm.gender.$error.required"} Gender required

    .row
      %section.col-md-10
        %label.input
          .ash-color
            Date of Birth
          %input{:type => "text", :ng_model => "enrollment.patient.dob", :class => "dobdatepicker",:placeholder => "Date Of Birth" , :ng_blur => "calculatePatientAge(enrollment.patient.dob)"}
      %section.col-md-10
        %label.input
          .ash-color
            Age of Patient
          %input{:type => "number", :ng_model => "enrollment.patient.age", :placeholder => "Age" ,  min: 1, max: 125}
      

    .row
      %header Address
      %section.col.col-10
        %label.input
          .ash-color
            Line 1
          %input{:type => "text", :ng_model => "enrollment.patient.address.line1", :placeholder => "Line 1", :name => "patientAdressLine1", :required => true}
          .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.patientAdressLine1.$touched"}
            %span.error{:ng_show => "EnrollmentInputForm.patientAdressLine1.$error.required"} Address required

      %section.col.col-10
        %label.input
          .ash-color
            Line 2
          %input{:type => "text", :ng_model => "enrollment.patient.address.line2", :placeholder => "Line 2"}
    .row
      %section.col-md-10
        %label.select
          .ash-color
            City
            {{enrollment.patient.address.city}}
          = select_tag :city_master_id, options_from_collection_for_select(CityMaster.all, :id, :name) ,:include_blank=> "Select" , :ng_model => "enrollment.patient.address.city_master_id", :name => "patientAdressCity" , :class => 'form-control'
          -# %input{:type => "text", :ng_model => "enrollment.patient.address.city", :placeholder => "City", :name => "patientAdressCity", :required => true}
            
         
          .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.patientAdressCity.$touched"}
            %span.error{:ng_show => "EnrollmentInputForm.patientAdressCity.$error.required"} City required
      %section.col-md-10
        %label.input
          .ash-color
            State
          %input{:type => "text", :ng_model => "enrollment.patient.address.state", :placeholder => "State"}
    .row
      %section.col-md-10
        %label.input
          .ash-color
            Country
          %input{:type => "text", :ng_model => "enrollment.patient.address.country", :placeholder => "Country"}
      %section.col-md-10
        %label.input
          .ash-color
            Pin
          %input{:type => "text", :ng_model => "enrollment.patient.address.pin_code", :placeholder => "Pin", :ng_pattern => "/^([1-9])([0-9]){5}$/", :name => "patient_pin"}
          .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.patient_pin.$touched"}
            %span.error{:ng_show => "EnrollmentInputForm.patient_pin.$invalid"} Invalid Pin
    .row
      %section.col-md-20
        .input-group
          %span.input-group-addon +91
          %label.input
            %input{:type => "number", :string_to_number => "true", :ng_model => "enrollment.patient.mobile_no", :placeholder => "Mobile", :name => "patientMobile", :required => true, :ng_minlength => 10, :ng_maxlength => 10}
        .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.patientMobile.$touched"}
          %span.error{:ng_show => "EnrollmentInputForm.patientMobile.$error.required"} Mobile required
          %span.error{:ng_show => "EnrollmentInputForm.patientMobile.$error.minlength || EnrollmentInputForm.patientMobile.$error.maxlength || EnrollmentInputForm.patientMobile.$error.number"  } Invalid mobile number
      %section.col-md-20
        .input-group
          %span.input-group-addon +91
          %label.input
            %input{:type => "number", :string_to_number => "true", :ng_model => "enrollment.patient.alternate_contact_no", :placeholder => "Alternate Contact No", :name => "patientAlternateMobile" ,:ng_minlength => 10, :ng_maxlength => 10 }
        .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.patientAlternateMobile.$touched"}
          %span.error{:ng_show => "EnrollmentInputForm.patientAlternateMobile.$error.minlength || EnrollmentInputForm.patientAlternateMobile.$error.maxlength || EnrollmentInputForm.patientAlternateMobile.$error.number "  } Invalid mobile number

  .col-md-2
  .col-md-10
    %header Next of Kin Details
    .row
      %section.col-md-10
        %label.input
          .ash-color
            First Name
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.first_name", :placeholder => "First Name", :name => "nextKinFirstName", :required => true}
          .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.nextKinFirstName.$touched"}
            %span.error{:ng_show => "EnrollmentInputForm.nextKinFirstName.$error.required"} First Name required
      %section.col-md-10
        %label.input
          .ash-color
            Last Name
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.last_name", :placeholder => "Last Name"}
    .row
      %section.col-md-20
        %label.text
          Gender
      %section.col-md-5
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enrollment.patient.guardian.gender", :value => "MALE", :name => "gender1"}
          %span Male

      %section.col-md-5
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enrollment.patient.guardian.gender", :value => "FEMALE", :name => "gender1"}
          %span Female
      %section.col-md-5
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enrollment.patient.guardian.gender", :value => "ANY", :name => "gender1"}
          %span Other
    .row
      %section.col-md-10
        %label.input
          .ash-color
            Relation With Patient
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.relation", :placeholder => "Relation With Patient"}
      %section.col-md-10
        %label.input
          .ash-color
            Age
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.age", :placeholder => "Age"}

    .row
      %header Next Kin Address
      %input{:type => "checkbox", :ng_model => "enrollment.patient.guardian.address_same_as_patient"}
        &nbsp; Same As Patient
    .row{:ng_hide => "enrollment.patient.guardian.address_same_as_patient"}
      %section.col-md-20
        %label.input
          .ash-color
            Line 1
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.address.line1", :placeholder => "Line 1"}
      %section.col-md-20
        %label.input
          .ash-color
            Line 2
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.address.line2", :placeholder => "Line 2"}
    .row{:ng_hide => "enrollment.patient.guardian.address_same_as_patient"}
      %section.col-md-10
        %label.input
          .ash-color
            City
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.address.city", :placeholder => "City"}
      %section.col-md-10
        %label.input
          .ash-color
            State
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.address.state", :placeholder => "State"}
    .row{:ng_hide => "enrollment.patient.guardian.address_same_as_patient"}
      %section.col-md-10
        %label.input
          .ash-color
            Country
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.address.country", :placeholder => "Country"}
      %section.col-md-10
        %label.input
          .ash-color
            Pin
          %input{:type => "text", :ng_model => "enrollment.patient.guardian.address.pin_code", :placeholder => "Pin", :ng_pattern => "/^([1-9])([0-9]){5}$/", :name => "patient_guardian_pin"}
          .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.patient_guardian_pin.$touched"}
            %span.error{:ng_show => "EnrollmentInputForm.patient_guardian_pin.$invalid"} Invalid Pin
    .row
      %section.col-md-20
        .input-group
          %span.input-group-addon +91
          %label.input
            %input{:type => "number", :string_to_number => "true", :ng_model => "enrollment.patient.guardian.mobile_no", :placeholder => "Mobile", :name => "nextKinMobile", :required => true, :ng_minlength => 10, :ng_maxlength => 10}
        .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.nextKinMobile.$touched"}
          %span.error{:ng_show => "EnrollmentInputForm.nextKinMobile.$error.required"} Mobile required
          %span.error{:ng_show => "EnrollmentInputForm.nextKinMobile.$error.minlength || EnrollmentInputForm.nextKinMobile.$error.maxlength || EnrollmentInputForm.nextKinMobile.$error.number"  } Invalid mobile number
      %section.col-md-20
        .input-group
          %span.input-group-addon +91
          %label.input
            %input{:type => "number", :ng_model => "enrollment.patient.guardian.alternate_contact_no", :placeholder => "Alternate Contact No", :name => "nextKinAlternateMobile"}
              
          .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.nextKinAlternateMobile.$touched"}
            %span.error{:ng_show => "EnrollmentInputForm.nextKinAlternateMobile.$error.minlength || EnrollmentInputForm.nextKinAlternateMobile.$error.maxlength || EnrollmentInputForm.nextKinAlternateMobile.$error.number"  } Invalid mobile number
