.col-md-23
  
  %table.table.table-list
    %thead
      %th Services
      %th Caregiver Language Proficiency
    %tbody
      %tr
        %td
          %ul.list1
            - @enrollment.enquiry.requested_services.each do |r_s|
              %li
                %i.fa.fa-chevron-circle-right
                = r_s.service_master.service
        %td
          %ul.list1
            - @enrollment.enquiry.enquiry_languages.each do |e_l|
              %li
                %i.fa.fa-chevron-circle-right
                = e_l.language_master.language               
.col-md-23
  %table.table.table-list
    %thead
      %th No. of Caregivers Reqd
      %th Caregiver Stay
      %th Service Reqd From
      %th Service Reqd To
    %tbody
      %tr
        %td= @enrollment.enquiry.no_of_care_givers
        %td= @enrollment.enquiry.caregiver_stay
        %td= @enrollment.enquiry.service_required_from
        %td= @enrollment.enquiry.service_required_to
.col-md-11
  %table.table.table-list
    %thead
      %th From Time
      %th To Time
    %tbody
      - @enrollment.enquiry.requested_time_slots.each do |ts|
        %tr
          %td= ts.decorated_time_from
          %td= ts.decorated_time_to
