= link_to 'BACK' , enrollment_path(@enrollment) , :class => 'btn btn-primary'
#lifeCircleAccordian.container{:ng_controller => "EnrollmentController", :ng_init => "changeEnrollmentPlan(#{@enrollment.id})"}
  .content_fullwidth
    .col-md-24
      .sky-form
        %header Change Enrollment Plan
      = render :partial => "modify_enquiry", :locals => {:after_enrollment => true}
