.row
  .col-md-1
    .pull-left
      = link_to 'BACK' , enrollment_path(@enrollment) , :class => 'btn btn-primary'
%br
.container
  .row
    = render "enrollments/enrollment_details"
  .row.sky-form
    = form_for(@enrollment, :url => save_close_enrollment_path(@enrollment),:html => {:class => "sky-form"}) do |f|
      %fieldset
        - if f.object.notification_given_date.present?
          %section
            .row
              %label.label.col.col-2 Notification Given On
              .col.col-8
                %label.input
                  = f.text_field :notification_given_date, :readonly => true
          %section
            .row
              %label.label.col.col-2 Close On
              .col.col-8
                %label.input
                  = f.text_field :close_request_date, :readonly => true
          %section
            .row
              %label.label.col.col-2 Notification Comments
              .col.col-8
                %label.textarea
                  = f.text_area :comments_on_notification, :readonly => true
        %section
          .row
            %label.label.col.col-2 Close On
            .col.col-8
              %label.input
                = f.text_field :closed_date
        %section
          .row
            %label.label.col.col-2 Reason for closing
            .col.col-8
              %label.select
                = f.select :reason_for_closing, options_for_select(Enrollment::CLOSE_REASONS, f.object.reason_for_closing), {}
                %i

        %section
          .row
            %label.label.col.col-2 Closing Comments
            .col.col-8
              %label.textarea
                = f.text_area :closing_comments



        %section
          .row
            .col-md-4
            .col-md-3
              = f.submit "Close", :class => "button"

