.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.col-md-24
  %h2{:align => "center"} Incomplete PCP  
  .col-md-20.col-md-offset-2{:ng_controller => "EnrollmentController" , :ng_init => "incomplete_pcp()"}
    %table.table.table-list
      %thead
        %th Patient Name
        %th Adaptive Devices
        %th Self Care Ability
        %th Patient Routine
        %th Daily Care Plan
        %th Drugs
        %th Vitals
        
        %tbody
          %tr{:ng_repeat => "pcp in incomplete_pcp"}
            %td=  link_to "{{pcp.patient_name}}", "/enrollments/{{pcp.enrollment_id}}/patients_care_plans"
            %td {{pcp.adaptive_equipment}}
            %td {{pcp.self_care}}
            %td {{pcp.patient_routine}}
            %td {{pcp.care_to_be_provided}}
            %td {{pcp.drug}}
            %td {{pcp.vital}}
          
  .col-md-4
