  
.col-md-24
  .pull-left
    = link_to "Back", :back, :class => 'btn btn-primary'
  .col-md-3.sky-form
    = link_to "Generate Invoices", schedule_monthly_invoice_job_runs_path, :class => "btn btn-primary"
  .row{:ng_controller => "enquiriesController"}

    .col-md-24
      %form.pull-right{:class => "sky-form", :no_validate => true, :ng_submit => "findEnquiry()"}
        .col-md-16
          %label.input
            = text_field_tag :filter, "", class: "search form-control", placeholder: "Patient Name.", autocomplete: :off, :ng_model => "patientNameFilter"
        
        %button.button{type: :submit}
          %span.fa.fa-search.fa-lg
%h5.green{:align => "center" , :style =>"font-size:26px"} Enrollments
= render "listing"
