#lifeCircleAccordian.container{:ng_controller => "EnrollmentController", :ng_init => "newEnrollment(#{@enquiry.id})"}
  .content_fullwidth
    .col-md-23.col-md-offset-1
      .sky-form
        .panel-group{:id => "accordion", :role => "tablist", "aria-multiselectable" => "true"}
          .panel.panel-default
            .panel-heading-active{:id => "headingOne", :role => "tab"}
              %h4.panel-title
                %a{ "role" => "button", "data-toggle" => "collapse", "data-parent" => "#accordion", "href" => "#collapseZero", "aria-expanded" => "true", "aria-controls" => "collapseOne"} Patient Enquiry
                .pull-right
                  %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collanseOneShown, 'fa-angle-up': !collanseOneShown}"}
            #collapseZero.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              .panel-body
                = render "enquiry_js_rendered"
          
          %form{:name => "EnrollmentInputForm", :ng_submit => "saveEnrollement()", :novalidate => "true", :class => "sky-form", :style => "padding-top: 5px;"} 
            .panel.panel-default
              %div{:id => "headingThree", :role => "tab", :class => "panel-heading-active"}
                %h4.panel-title{:ng_init => "gotoStep0()" } 
                  %a.collapsed{"aria-controls" => "collapseOne", "data-parent" => "#accordion" , :role => "button", :href => "#" , :ng_click => "gotoStep0()"} Safety Check
                  .pull-right
                    %i.fa.fa-2x{:ng_class => "{'fa-angle-up': true}"}
              #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel", "aria-expanded" => "false"}
                .panel-body
                  .row
                    = render "work_environment_form"
                  .col-md-12
                    .pull-right
                      %a{:href => "#", :ng_click => "checkSafety()",:class => "button"} Next
                      

            .panel.panel-default
              %div{:id => "headingOne", :role => "tab", :ng_class => "{'panel-heading': !isStep1Submitted, 'panel-heading-active': isStep1Submitted}"} 
                %h4.panel-title
                  %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", :role => "button", :href => "#" } Patient's condition and illness
                  .pull-right
                    %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collanseTwoShown, 'fa-angle-up': !collanseTwoShown}"}
              #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
                .panel-body
                  %fieldset
                    .row
                      %span.error{:ng_show => "isDisabilitySelectionEmpty"} Please check atleast one illness
                    .row
                      .col-md-5{:ng_repeat => "disability in enrollment.disabilities"}
                        %section
                          .col-md-1
                            %label.checkboxinline
                              %input{:type => "checkbox", :name => "disability_{{$index}}", :ng_model => "disability.assigned"}
                              &nbsp;
                          .col-md-16
                            %label
                              .pullleft
                                {{disability.disability}}
                    .col-md-24
                      .pull-right
                        %a{:href => "#", :ng_click => "gotoStep2()",:class => "button"} Next
                                
            .panel.panel-default
              %div{:id => "headingTwo", :role => "tab", :ng_class => "{'panel-heading': !isStep2Submitted, 'panel-heading-active': isStep2Submitted}"} 
                %h4.panel-title
                  %a.collapsed{"aria-controls" => "collapseThree", "data-parent" => "#accordion", :role => "button", :href => "#"} Patient Details
                  .pull-right
                    %i.fa.fa-2x{:ng_class => "{'fa-angle-down': collapseThreeShown, 'fa-angle-up': !collapseThreeShown}"}
              #collapseThree1.panel-collapse.collapse.in{"aria-labelledby" => "headingTwo", :role => "tabpanel", "aria-expanded" => "false"}
                .panel-body
                  .col-md-24
                    = render "patient_details_form"
                  .col-md-24
                    %header
                    %section.col-md-6
                      %label.input
                        %input{:type => "email", :ng_model => "enrollment.email_for_official_comminication", :placeholder => "Email For Official Comminication", :name => "email_for_official_comminication"}
                      .div{:ng_show => "patientFormSubitted || EnrollmentInputForm.email_for_official_comminication.$touched"}
                        %span.error{:ng_show => "EnrollmentInputForm.email_for_official_comminication.$invalid" } Invalid email address

                        
                    %section.col-md-4
                      %label
                        Primary Contact
                    %section.col-md-3
                      %label
                        %input{:type => "radio", :ng_model => "enrollment.primary_contact", :name => "primary_contact", :value => "patient"}
                          &nbsp; Patient
                    %section.col-md-3
                      %label
                        %input{:type => "radio", :ng_model => "enrollment.primary_contact", :name => "primary_contact", :value => "Kin"}
                        &nbsp; Next of Kin 

                  
                  .col-md-12
                    %section.col-md-5
                      %label Select Nurse Manager
                    %section.col-md-5
                      %select{"ng-model" => "enrollment.super_care_giver_id", "ng-options" => "var.id as var.name for var in super_care_givers"}
                  .col-md-12
                    %section.col-md-5
                      %label  References
                    %section.col-md-5
                      %select{"ng-model" => "enrollment.reason_for_coming_id", "ng-options" => "var.id as var.name for var in reason_for_comings"}

                  .col-md-24
                    .pull-right
                      %input{:type => "submit", :class => "button", :value => "Save", :style => "padding-left: 0px;"}
                    







