.row
  .pull-right
    = link_to 'BACK' , enrollment_path(@enrollment) , :class => 'btn btn-primary'
.container
  .row
    = render "enrollments/enrollment_details"
  .row.sky-form
    = form_for(@enrollment, :url => post_notification_enrollment_path(@enrollment),:html => {:class => "sky-form"}) do |f|
      %fieldset
        %section
          .row
            %label.label.col.col-2 Notification Given On
            .col.col-8
              %label.input
                = f.text_field :notification_given_date, :readonly => true
        %section
          .row
            %label.label.col.col-2 Close On
            .col.col-8
              %label.input
                = f.text_field :close_request_date, :my_datepicker => true, :ng_model => "closeDate"
        %section
          .row
            %label.label.col.col-2 Notification Comments
            .col.col-8
              %label.textarea
                = f.text_area:comments_on_notification

        %section
          .row
            .col-md-4
            .col-md-3
              = f.submit "Save", :class => "button"

