= link_to 'Back' , :back , :class => "btn btn-primary"
%center
  %h2
    = @enrollment.patient.name
  
.row
  %form{:action => "/enrollments/#{params[:id]}/save_patients", :method => "PUT" }
    .col-md-12
      %table.table.table-list
        %thead
          %th{:colspan => 2}
            Patient Details
        %tbody
          %tr
            %th First Name
            %td= text_field_tag :patient_first_name ,@enrollment.patient.first_name 
          %tr
            %th Last Name
            %td= text_field_tag :patient_last_name ,@enrollment.patient.last_name 
          %tr
            %th Age 
            %td= text_field_tag :age , @enrollment.patient.age
          %tr
            %th Gender
            %td
              %label.radio-inline
                
                = radio_button_tag :gender, 'FEMALE', (@enrollment.patient.gender == 'FEMALE') 
                //= radio_button_tag :gender, 'FEMALE' ,@enrollment.patient.gender
                = label_tag "female"
              %label.radio-inline
                = radio_button_tag :gender, 'MALE', (@enrollment.patient.gender == 'MALE') 
                //= radio_button_tag :gender, 'MALE',@enrollment.patient.gender
                = label_tag "male"

            //%td= text_field_tag :gender ,@enrollment.patient.gender
          %tr
            %th Complete address
            %td= text_field_tag :patient_line1 ,@enrollment.patient.address.line1
          %tr
            %td= text_field_tag :patient_line2 ,@enrollment.patient.address.line2
            %td= select_tag "patient_city_master_id", options_from_collection_for_select(CityMaster.all, "id", "name",@enrollment.patient.address.city_master_id )
          %tr
            %td= text_field_tag :patient_state ,@enrollment.patient.address.state
          
            %td= text_field_tag :patient_country ,@enrollment.patient.address.country
          %tr
            %td= text_field_tag :patient_pincode ,@enrollment.patient.address.pin_code
            
           
            
            //%td=  select_tag :patient_city_master_id, @enrollment.patient.address.city_master_id , options_for_select(CityMaster.all, :id, :name) 
            
          %tr
            %th Mobile
            %td= text_field_tag :mobile ,@enrollment.patient.mobile_no
          %tr
            %th Alternate No
            %td= text_field_tag :alternate_no ,@enrollment.patient.alternate_contact_no

    .col-md-12
      %table.table.table-list
        %thead
          %th{:colspan => 2}
            Patient Next Kin Details
        %tbody
          %tr
            %th First Name
            %td= text_field_tag  :guadian_first_name ,@enrollment.patient.guardian.first_name
          %tr
            %th Last Name
            %td= text_field_tag  :guadian_last_name ,@enrollment.patient.guardian.last_name 
          %tr
            %th Relation with patient
            %td= text_field_tag  :guadian_relation , @enrollment.patient.guardian.relation  
          %tr
            %th Age
            %td= text_field_tag  :guadian_age ,@enrollment.patient.guardian.age  
          %tr
            %th Gender
            %td
              = radio_button_tag :guadian_gender, 'FEMALE', (@enrollment.patient.guardian.gender == 'FEMALE') 
              //= radio_button_tag :guadian_gender, 'FEMALE' ,@enrollment.patient.guardian.gender
              = label_tag "female"
              = radio_button_tag :guadian_gender, 'MALE',(@enrollment.patient.guardian.gender == 'MALE')
              = label_tag "male"
          -  if @enrollment.patient.guardian.address_same_as_patient?
          - else
            %tr
              %th Complete address
              %td= text_field_tag :guadian_line1 ,@enrollment.patient.guardian.line1
            %tr
              %td= text_field_tag :guadian_line2 ,@enrollment.patient.address.guardian.line2
          
              %td= text_field_tag :guadian_state ,@enrollment.patient.address.guardian.state
            %tr
              %td= text_field_tag :guadian_country ,@enrollment.patient.address.guardian.country
              //%td= text_field_tag  :guadian_address ,@enrollment.patient.guardian.address_str
          %tr
            %th Mobile
            %td= text_field_tag  :guadian_mobile , @enrollment.patient.guardian.mobile_no  
          %tr
            %th Alternate No
            %td= text_field_tag  :guadian_alternate ,@enrollment.patient.guardian.alternate_contact_no  

    .col-md-22
      %table.table.table-list
        %tr
          %th Email For Official Communication
          %td= text_field_tag  :email , @enrollment.email_for_official_comminication
          %th Primary Contact
          %td
            = radio_button_tag :primary_contact, 'patient' ,(@enrollment.primary_contact == 'patient')
            = label_tag "Patient"
            = radio_button_tag :primary_contact, 'kin',(@enrollment.primary_contact == 'kin')
            = label_tag "Kin"
            //%td= text_field_tag  :primary_contact , @enrollment.primary_contact
       
            
    .col-md-23
      .pull-right
        %button{:type=>"submit" , :class => 'btn btn-primary'} Save
