.container
  .col-md-24
    .col-md-24
      - unless @enrollment.closed?
        = link_to 'Back' , enrollments_path , :class => "btn btn-primary"
        = link_to "PCP" , enrollment_patients_care_plans_path(@enrollment), :class => 'btn btn-primary'
        = link_to "Change Plan", change_plan_enrollment_path(@enrollment), :class => 'btn btn-primary'
        = link_to "Invoices", enrollment_payment_masters_path(@enrollment), :class => 'btn btn-primary'
        = link_to "Bills", "/enrollments/#{@enrollment.id}/payment_bills/enrollment_bills", :class => 'btn btn-primary'
        //= link_to "Add Notification", new_notification_enrollment_path(@enrollment), :class => 'btn btn-primary'
        = link_to "Close", close_enrollment_path(@enrollment), :class => 'btn btn-primary'
        = link_to "Edit" , "/enrollments/#{@enrollment.id}/patient_edit" , :class => 'btn btn-primary'
      - else
        = link_to "Back", closed_form_enrollments_path , :class => "btn btn-primary"
        
        
%h4.green Service Configuration
.row
  .col-md-24.sky-form

    = render "patient_details"
    = render "service_details"
- if @enrollment.notification_given_date.present?
  .col-md-24.sky-form
    %header 
      Close Details
   
    = render "close_details"
.col-md-24
  .sky-form
    %header Care Givers
  .container
    = render "care_givers_list"

-# .col-md-12
-#     = render "enrollment_details"
