%br
.pull-right
  .col-md-8
    = link_to "PCP" , enrollment_patients_care_plans_path(@enrollment), :class => 'button'
.container
  .row
    .col-md-10
      
      %table.table-list
        %thead
          %th{:colspan => 2}
            Patient Details
        %tbody
          %tr
            %th Name
            %td= @patient.name 
          %tr
            %th Age 
            %td= @patient.age
          %tr
            %th Gender
            %td= @patient.gender
          %tr
            %th Complere address
            %td= @patient.address_str 
          %tr
            %th Mobile
            %td= @patient.mobile_no
          %tr
            %th Alternate No
            %td= @patient.alternate_contact_no
      %table.table-list
        %thead
          %th{:colspan => 2}
            Patient Next Kin Details
        %tbody
          %tr
            %th Name
            %td= @patient.try(:guardian).try(:name) 
          %tr
            %th Relation with patient
            %td= @patient.try(:guardian).try(:relation)  
          %tr
            %th Age
            %td= @patient.try(:guardian).try(:age)  
          %tr
            %th Gender
            %td= @patient.try(:guardian).try(:gender)  
          %tr
            %th Complete address
            %td= @patient.try(:guardian).try(:address_str)
          %tr
            %th Mobile
            %td= @patient.try(:guardian).try(:mobile_no)  
          %tr
            %th Alternate No
            %td= @patient.try(:guardian).try(:alternate_contact_no)


      %h3 Address
      %table.table-list
        %thead
          %td Line1
          %td Line2
          %td Area
          %td City
          %td State
          %td Country
          %td PIN Code
        %tbody
          %tr
            %td= @patient.try(:address).try(:line1)
            %td= @patient.try(:address).try(:line2)
            %td= @patient.try(:address).try(:area)
            %td= @patient.try(:address).try(:city)
            %td= @patient.try(:address).try(:state)
            %td= @patient.try(:address).try(:country)
            %td= @patient.try(:address).try(:pin_code)
