.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Language Masters
  .row{:ng_controller => "LanguageController", :ng_init => "loadLanguages()"}
    = link_to "Add new", "#", :ng_click => "newLanguage()", :class => 'btn btn-primary'
    .row
      %br
    .row{:ng_show => "language.isNew"}
      %span New Language
      %input{:type => "input", :ng_model => "language.language"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %table.table.table-list
      %thead
        %th Language
        %th Action
      %tbody
        %tr{"ng-repeat" => "language in languages"}
          %td
            %sapn{:ng_hide => "language.edit"}= "{{language.language}}"
            %label.input{:ng_show => "language.edit"}
              %input{:type => "text", :ng_model => "language.language"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(language)", :ng_hide => "language.edit"
            = link_to "Update", "#", :ng_click => "update(language)", :ng_show => "language.edit"
            = link_to "Delete", "#", :ng_click => "destroy(language)"
