#close-cgm-pop-up.modal.fade 
  .modal-dialog
    .modal-content
      .modal-header
        %h4 
          Close Enquiry 
          %span#closing_name
        %button{:class => "close", :data => {:dismis => "modal"}, "area-label" => "close"}
          %span{"area-hidden" => "true"} 
            %times
      .modal-body
        .sky-form
          %form{:class => "sky-form"}
            = hidden_field_tag :close_caregivermaster_id, :ng_model => "cgm.id"
            %section
              %label.input
                = text_area :close_caregivermaster_comments,"", :ng_model=> "cgm.reason_for_status_change", :placeholder => "Closing Comments...", :cols => 50, :rows => 15
            %footer
              %button.button{:type => "button", :ng_click => "closecgmEnquiry(cgm)"} Close
