.reg_form
  = form_for @care_giver_master, :method => "put", :html => {:class => "sky-form"} do |f|
    %header Registration form
    = render :partial => "shared/error_messages", :locals => {:object => f.object}
    %fieldset
      .row
        %section.col.col-6
          %label.input
            .ash-color
              First Name
            = f.text_field :first_name, :placeholder => "First name"
        %section.col.col-6
          %label.input
            .ash-color
              Last Name
            = f.text_field :last_name, :placeholder => "Last name"
      .row
        %section.col.col-1
          %label.text
            Gender
        %section.col.col-2{:style => 'margin-right: -35px;'}
          %label.radio-inline
            = f.radio_button :gender, "MALE"
            %span Male
        %section.col.col-2{:style => 'margin-right: -30px;'}
          %label.radio-inline
            = f.radio_button :gender, "FEMALE"
            %span Female
        %section.col.col-2
          %label.radio-inline
            = f.radio_button :gender, "OTHER" 
            %span Other
        %section.col.col-2
          %label.text
            Marital Status
        %section.col.col-3
          %label.select
            = f.select :maritual_status, options_for_select([["Single","SINGLE"], ["Married", "MARRIED"]])  
            %i
      .row
        %section.col.col-6
          %label.input
            .ash-color
              Father's Name
            = f.text_field :father_name, :placeholder => "Father's Name"
        %section.col.col-6
          %label.input
            .ash-color
              Mother's Name
            = f.text_field :mother_name, :placeholder => "Mother's Name"
      .row
        %section.col.col-6
          %label.input
            .ash-color
              Place of Birth
            = f.text_field :place_of_birth, :placeholder => "Place Of birth"
        %section.col.col-6
          %label.input
            .ash-color
              Date Of Birth
            = f.text_field :dob, :placeholder => "Date of Birth", :class => "datepicker"
      .row
        %section.col.col-4
          %label.input
            Languages Known
        %section.col.col-8
          .row
            - LanguageMaster.all.each_with_index do |lan, index|
              %section.col.col-4
                %label.checkbox-inline
                  %input{:type => "checkbox", :name => "care_giver_master[languages_known][]", :value => lan.id, :checked => f.object.languages_list.include?(lan.id)}
                  = lan.language
          
      .row
        %section.col.col-2
          %label
            Profile Picture
        %section.col.col-3
          %label
            = f.file_field :profile_pic
        %section.col.col-6
          - if f.object.profile_pic.present?
            = image_tag f.object.profile_pic.url, :width => "130", :height => "130", :alt => "Profile Image"
      %header ID-Proofs
      .row
        %section.col.col-4
          %label.select
            = f.select :id_proof_type, options_for_select([["Aadhar card","AADHAR_CARD"], ["Passport", "PASSPORT"], ["Election/Voter ID", "ELECTION_OR_VOTER_ID"], ["Pancard", "PANCARD"] , ["Household Card", "HOUSEHOLD_CARD"]])
            %i
        %section.col.col-4
          %label.input
            = f.text_field :id_proof_no, :placeholder => "ID card number"
        %section.col.col-4
          %label
            = f.file_field :id_proof_doc
      .row
        %section.col.col-4
          %label.select
            = f.select :address_proof_type, options_for_select([["Aadhar card","AADHAR_CARD"], ["Passport", "PASSPORT"], ["Election/Voter ID", "ELECTION_OR_VOTER_ID"], ["Pancard", "PANCARD"], ["Household Card", "HOUSEHOLD_CARD"]])
            %i
        %section.col.col-4
          %label.input
            = f.text_field :address_proof_id, :placeholder => "ID card number"
        %section.col.col-4
          %label
            = f.file_field :address_proof_doc

    %fieldset
      %header Address
      = f.fields_for :address do |af|
        .row
          %section.col.col-6
            %label.input
              .ash-color
                Line 1
              = af.text_field :line1, :placeholder => "Line 1"
          %section.col.col-6
            %label.input
              .ash-color
                Line 2
              = af.text_field :line2, :placeholder => "Line 2"
        .row
          %section.col.col-6
            %label.input
              .ash-color
                Country
              = af.text_field :country, :value => "India"
          %section.col.col-6
            %label.input
              .ash-color
                State
              = af.text_field :state, :placeholder => "State"
        .row
          %section.col.col-6
            %label.select
              .ash-color
                City
              =  af.select(:city_master_id, CityMaster.all.map{|r| [r.name, r.id]},:include_blank=> "Select")
            %i
              //= af.text_field :city, :placeholder => "City"
          %section.col.col-6
            %label.input
              .ash-color
                Area
              = af.text_field :area, :placeholder => "Area"
        .row
          %section.col.col-6
            %label.input
              .ash-color
                Pincode
              = af.text_field :pin_code, :placeholder => "Pincode"
          %section.col.col-6
            %label.input
              .ash-color
                Phone
              = f.text_field :telephone_no, :placeholder => "Telephone Number", :type => "tel", :value => "#{@care_giver_master.telephone_no}"
              %b.tooltip.tooltip-bottom-right Needed to verify your identity
     
    %fieldset
      %section.col-md-20
        .row
          .col-md-1
            %label
              %input{:type => "checkbox", :name => "type_of_care_giver", :checked => f.object.user.role == 'super_care_giver' }
          .col-md-15
            Click here if the role is Nurse Manager
          //%input{:type => "checkbox", :name => "type_of_care_giver", :value => true}
      
       
    %footer
      = f.submit "Save", :class => "button"
