- if @care_giver_masters.present?
  %table.table-list{:ng_controller => "CareGiverController", :ng_init => "loadCaregivers()"}
    %thead
      %th Photo
      %th Name
      %th Phone#
      %th Last Client
      %th Date of Exit
      - if @params != 'Documents Collected'
        %th Action
    %tbody
      - @care_giver_masters.each do |care_giver|
        %tr
          %td= link_to image_tag((care_giver.profile_pic.present? ? care_giver.profile_pic.thumb.url : "/uploads/default/thumb_user.png"), :alt => "profile_pic"), care_giver
          %td= care_giver.name
          %td= care_giver.telephone_no
          %td= care_giver.patient
          %td= care_giver.status_changed_at        
          - if @params != 'Documents Collected'
            %td
              = link_to raw("<i class='fa fa-comments fa-lg'></i>"), enquiry_conversations_path(:conversation_master_id => care_giver.care_giver_enquiry_id, :conversation_master_type => "CareGiverEnquiry", :care_giver_id => care_giver.id, :cg_status => care_giver.status,  :name => care_giver.name ), :title => "Conversation"          
- else
  %p No Caregivers                  
