- if @care_giver_masters.present?
  %table.table.table-list{:ng_controller => "CareGiverController", :ng_init => "loadCaregivers()"}
    %thead
      %th Photo
      %th Name
      %th # of days
      %th Patients
      %th Risk Factor
      %th Action
    %tbody
      - @care_giver_masters.each do |care_giver|
        %tr
          %td= link_to image_tag((care_giver.profile_pic.present? ? care_giver.profile_pic.thumb.url : "/uploads/default/thumb_user.png"), :alt => "profile_pic"), care_giver
          %td= care_giver.name
          %td= care_giver.no_of_days_working
          %td= care_giver.patient
          %td= care_giver.risk_factor
          %td
            = link_to raw("<i class='fa fa-comments fa-lg'></i>"), enquiry_conversations_path(:conversation_master_id => care_giver.care_giver_enquiry_id, :conversation_master_type => "CareGiverEnquiry", :care_giver_id => care_giver.id, :cg_status => care_giver.status,  :name => care_giver.name ), :title => "Conversation"
          //%select{:ng_model => care_giver.status, :ng_options => "option.key as option.value for option in options", :ng_change => "calculateTotal()"}
          //= select_tag :status, options_for_select([['',''],['Active','Active'],['Leave','Leave'],['Bench','Bench'],['Resign','Resign'],['Working','Working'],['Transfer','Transfer']], care_giver.status), { :onchange => "change_status(this.options[this.selectedIndex].value, \''+ care_giver '\');" }
- else
  %p No Caregivers                  
