%section#inner-page
  .container-fluid.search-result
    %h3.stage-titles (11) Professional caregivers matching your requirements near you
    .row
      .col-md-6
        #MainMenu
          .list-group.panel
            %h5 MODIFY CRITERIA
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#services-menu"} Services
            #services-menu.collapse
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Assisted feeding
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Dialysis care
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Insulin administration
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Oral care/Dental care
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Suctioning
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Walking assistance
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Bed bath/Sponge bath
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Eye Care
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} IV Cannula care
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Oxygen administration
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Tracheostomy care
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Wound dressings
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Vitals checking
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Walking assistance
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Wound dressings
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#gender"} Gender
            #gender.collapse
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Male
              %a.list-group-item{:href => "javascript:;"}
                .checkbox-inline
                  %label
                    %input{:type => "checkbox", :value => ""} Female
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#caregiver-stay"} Caregiver Stay
            #caregiver-stay.collapse
              %a.list-group-item{:href => ""} Subitem 1
              %a.list-group-item{:href => ""} Subitem 2
              %a.list-group-item{:href => ""} Subitem 3
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#languages"} Languages
            #languages.collapse
              %a.list-group-item{:href => ""} Subitem 1
              %a.list-group-item{:href => ""} Subitem 2
              %a.list-group-item{:href => ""} Subitem 3
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#affordable-price"} Affordable Price
            #affordable-price.collapse
              %a.list-group-item{:href => ""} Subitem 1
              %a.list-group-item{:href => ""} Subitem 2
              %a.list-group-item{:href => ""} Subitem 3
            %a.list-group-item.list-group-item-success{"data-parent" => "#MainMenu", "data-toggle" => "collapse", :href => "#date"} Date
            #date.collapse
              %a.list-group-item{:href => ""} Subitem 1
              %a.list-group-item{:href => ""} Subitem 2
              %a.list-group-item{:href => ""} Subitem 3
      .col-md-18
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select
        .row
          .col-md-3.col-sm-3.col-xs-10
            %img{:src => "img/caretaker-profile-icon.png"}/
          .col-md-6.col-sm-6.col-xs-14
            %h5
              %strong Anita Sugumar
            %p
              22 Years | 5KM
              %br
                Professional Qualification: 2010
                %br
                  English, Tamil, Telugu
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Assisted feeding
              %li Bed bath/Sponge bath
              %li Medication
          .col-md-6.col-sm-6
            %ul.list-icon-3
              %li Vitals checking
              %li Walking assistance
              %li Wound dressings
          .col-md-3.col-sm-3
            .price
              ₹ 200
              %br
                %a.btn{:href => "#"} Select

