.col-md-10.col-md-offset-1
  %form.sky-form{:action => "/care_giver_enquiries", :method => "POST", :novalidate => "" }
    .row
      .col-md-12
        %header Details
        .col-md-6
          .row
            %section.col.col-8
              %label.input
                .ash-color
                  First Name
                = text_field_tag "name", '', :class => "form-control", :placeholder => "Name", :required => ""
          .row              
            %section.col.col-8
              %label.input
                .ash-color
                  Home City
                = text_field_tag "location", '', :class => "form-control", :placeholder => "Home City", :required => ""

          .row              
            %section.col.col-8
              %label.input
                .ash-color
                  Email
                = text_field_tag "email", '', :class => "form-control", :placeholder => "email", :required => ""            


        .col-md-1
        .col-md-6
          .row
            %section.col.col-8
              %label.input
                .ash-color
                  Date of Birth
                = text_field_tag "dob", '', :class => "datepicker form-control", :placeholder => "DOB", :required => ""
          .row              
            %section.col.col-8
              %label.input
                .ash-color
                  Phone No.
                = number_field_tag "phone", '',:min => 0, :class => "form-control", :placeholder => "Phone No.", :required => ""
          .row
            %section.col.col-8
              %label.select
                .ash-color
                  Qualification
                = select_tag :highest_qualification, options_for_select([["Post Graduation", "PG"], ["Under Graduation", "UG"], ["Class-12", "CLASS_12"], ["Class 10", "CLASS_10"], ["Class 9", "CLASS_9"], ["Class 8", "CLASS_8"], ["Below Class 8", "BELOW_CLASS_8"]]), {:class => "form-control"}
          
      .row
        %section.col.col-3
          %label.text
            Gender
        %section.col.col-3
          %label.radio-inline
            = radio_button_tag :gender, "MALE"
            %span Male
        %section.col.col-3
          %label.radio-inline
            = radio_button_tag :gender, "FEMALE"
            %span Female
            
    -# .row
    -#   .col-md-12
    -#     %header Appointment Details
    -#     .col-md-6
    -#       .row
    -#         %section.col.col-8
    -#           %label.input
    -#             = text_field_tag "apt_date", '', :class => "datepicker form-control", :placeholder => "Appointment Date"
    -#     .col-md-6
    -#       .row
    -#         %section.col.col-8
    -#           %label.input
    -#             = text_field_tag "apt_time", '', :class => "timepicker form-control", :placeholder => "Appointment Time"
    .row
      %section.col.col-8
        .pull-right
          = hidden_field_tag "new_city" , params[:city]
          %button.button{:type=>"submit"} Set Appointment

