= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
.row{:ng_controller => 'CareGiverBookingsController' }
  %h4.aligncenter Prefered Locations
  %form{:id => "location_form", :name => "locationForm", :class => "sky-form", :ng_submit => "submit_location_all()"}
    .col-md-12
      .col-md-4
      .col-md-4
        %section
          %label.input
            %input{ :id => "autocomplete", :placeholder => "Location1", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.place_details_str1"}
            %input{:id => "place_details", :type => "hidden"}
            %br
          %label.input
            %input{ :id => "autocomplete1", :placeholder => "Location2", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.place_details_str2"}
            %input{:id => "place_object", :type => "hidden"}
            %br
          %label.input
            %input{ :id => "autocomplete2", :placeholder => "Location3", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.place_details_str3"}
            %input{:id => "place_details_object", :type => "hidden"}
      
    .col-md-12
      .col-md-5
      .col-md-3
        .pull-right
          %button{:type => "submit", :value => "Go", :class => "button" } SEARCH
:javascript
  $(document).ready(function(){
  initialize();
  });
