.reg_form
  - flash.each do |key, value|
    .alert.alert-error
      = raw value
  = form_for @care_giver_master, :method => "post", :html => {:class => "sky-form"} do |f|
    %header Registration form
    = render :partial => "shared/error_messages", :locals => {:object => f.object}
    = render :partial => "shared/error_messages", :locals => {:object => f.object.user}
    %fieldset
      .row
        %section.col.col-6
          %label.input
            = f.text_field :first_name, :placeholder => "First name"
        %section.col.col-6
          %label.input
            = f.text_field :last_name, :placeholder => "Last name"
      .row
        %section.col.col-3
          %label.text
            Gender
        %section.col.col-3
          %label.radio-inline
            = f.radio_button :gender, "MALE"
            %span Male
        %section.col.col-3
          %label.radio-inline
            = f.radio_button :gender, "FEMALE"
            %span Female
        %section.col.col-3
          %label.radio-inline
            = f.radio_button :gender, "MALE/FEMALE"
            %span Male/Female
      .row
        %section.col.col-6
          %label.input
            = f.text_field :father_name, :placeholder => "Father's Name"
        %section.col.col-6
          %label.input
            = f.text_field :mother_name, :placeholder => "Mother's Name"
      .row
        %section.col.col-6
          %label.input
            = f.text_field :place_of_birth, :placeholder => "Place Of birth"
        %section.col.col-6
          %label.input
            = f.text_field :dob, :placeholder => "Date of Birth", :class => "datepicker"
      .row
        %section.col.col-4
          %label.input
            Languages Known
        %section.col.col-8
          .row
            - LanguageMaster.all.each_with_index do |lan, index|
              %section.col.col-4
                %label.checkbox-inline
                  %input{:type => "checkbox", :name => "care_giver_master[languages_known][]", :value => lan.id, :checked => f.object.languages_list.include?(lan.id)}
                  = lan.language
      .row
        %section.col.col-6
          Maritual Status
          %label.select
            = f.select :maritual_status, options_for_select([["Single","SINGLE"], ["Married", "MARRIED"]])      
        %section.col.col-6
          Mobile No
          %label.input
            = f.text_field :telephone_no, :placeholder => "Mobile No"
      .row
        %section.col.col-6
          Profile Pic
          %label
            = f.file_field :profile_pic
        %section.col.col-6
          - if f.object.profile_pic.present?
            = image_tag f.object.profile_pic.thumb.url, :alt => "Profile Image"
      %header ID-Proofs
      .row
        %section.col.col-4
          %label.select
            = f.select :id_proof_type, options_for_select([["Aadhar card","AADHAR_CARD"], ["Passport", "PASSPORT"], ["Election/Voter ID", "ELECTION_OR_VOTER_ID"], ["Pancard", "PANCARD"]])
            %i
        %section.col.col-4
          %label.input
            = f.text_field :id_proof_no, :placeholder => "ID card number"
        %section.col.col-4
          %label
            = f.file_field :id_proof_doc
      .row
        %section.col.col-4
          %label.select
            = f.select :address_proof_type, options_for_select([["Aadhar card","AADHAR_CARD"], ["Passport", "PASSPORT"], ["Election/Voter ID", "ELECTION_OR_VOTER_ID"], ["Pancard", "PANCARD"]])
            %i
        %section.col.col-4
          %label.input
            = f.text_field :address_proof_id, :placeholder => "ID card number"
        %section.col.col-4
          %label
            = f.file_field :address_proof_doc
    %fieldset
      %header User Creadentials
      = f.fields_for :user do |uf|
        = render :partial => "user_form", :locals => {:f => uf}
    %fieldset
      .row
        .col-md-5
          %header Communication Address
          = f.fields_for :address do |af|
            = render :partial => "address_form", :locals => {:af => af}
        .col-md-1
        .col-md-5
          %header Permanent Address
          = f.fields_for :permanent_address do |paf|
            = render :partial => "address_form", :locals => {:af => paf}

    %footer
      = f.submit "Save", :class => "button"
