%center
.row{:ng_controller => 'attendanceController' }
  .row
    %center
      %h2 Payroll
  .row
  
    .col-md-2
      %h5 from date
    .col-md-4
      = text_field_tag :from_time , nil , :class => 'datepicker form-control' , :ng_model => 'from_date'
    .col-md-2
      %h5 To date
    .col-md-4
      = text_field_tag :to_time , nil , :class => 'datepicker form-control' , :ng_model => 'to_date'
    .col-md-3 
      = link_to 'Payroll' , '#' , :class => 'btn btn-primary' , :ng_click => 'get_payroll(from_date , to_date)'
      
  .row
    
    .col-md-24
      %table.table.table-list
        %thead
          %tr
            %th Name
            %th Days
            %th Hours
            %th Rate
            %th Amount
        %tbody
          %tr{:ng_repeat => 'x in reports'}
            %td {{x.name}}
            %td {{x.days}}
            %td {{x.hours}}
            %td {{x.rate}}  
            %td 
              = link_to "{{x.amount}}" , '#' , :ng_click => 'amount(x.cg_id)'
           
  .row
    .col-md-8
      #amountModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
        .modal-content
          .modal-header           
            %h4#myModalLabel.modal-title Amount
            .modal-body 
              .row
                .col-md-1 
                .col-md-10 
                  .col-md-3
                    %table.table-list
                      %thead
                        %tr
                          %th Patinet
                          %th Date
                          %th Amount
                          
                      %tbody
                        %tr{:ng_repeat => 'p in amounts'}
                         
                          %td {{p.patinet}}
                          %td {{p.date}}
                          %td {{p.amount}}
                          
