//= render :partial => "shared/page_title", :locals => {:title => "I am looking For"}
.container
  .content_fullwidth
    .login_form
      = form_for(@care_giver_master, url: update_job_type_care_giver_master_path(@care_giver_master), :method => "put", :html => {:class => "sky-form"}) do |f|
        - if f.object.errors.present?
          = render "shared/error_messages", :object => f.object
        %fieldset
          %section
            %label.select
              = f.select :job_type, options_for_select(CareGiverMaster::JOB_TYPE_OPTIONS), {}
              %i
        %footer
          = f.submit "Next", :class => "button"

