.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Adaptive Equiptments Masters
  .row{:ng_controller => "AdaptiveEquipmentController", :ng_init => "loadAdaptiveEquipments()"}
    = link_to "Add new", "#", :ng_click => "newAdaptiveEquipment()", :class => 'btn btn-primary'
    .row{:ng_show => "adaptiveEquipment.isNew"}
      %span New Adaptive Equipment
      %input{:type => "input", :ng_model => "adaptiveEquipment.adaptive_equipment"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
    %table.table.table-list
      %thead
        %th Adaptive Equipment
        %th Action
      %tbody
        %tr{"ng-repeat" => "adaptiveEquipment in adaptiveEquipments"}
          %td
            %sapn{:ng_hide => "adaptiveEquipment.edit"}= "{{adaptiveEquipment.adaptive_equipment}}"
            %input{:type => "text", :ng_model => "adaptiveEquipment.adaptive_equipment", :ng_show => "adaptiveEquipment.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(adaptiveEquipment)", :ng_hide => "adaptiveEquipment.edit"
            = link_to "Update", "#", :ng_click => "update(adaptiveEquipment)", :ng_show => "adaptiveEquipment.edit"
            = link_to "Delete", "#", :ng_click => "destroy(adaptiveEquipment)"
