.container
  .content_fullwidth
    .login_form{:style =>"margin-top: 76px;"}
      = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "sky-form"}) do |f|
        %header{:style =>"box-shadow:none; background-color: rgb(249, 249, 249);"} Login form
        %fieldset
          %section
            .row
              %label.label.col.col-4 User Name
              .col.col-8
                %label.input
                  %i.icon-append.icon-user
                  = f.text_field :user_name, autofocus: true 
          %section
            .row
              %label.label.col.col-4 Password
              .col.col-8
                %label.input
                  %i.icon-append.icon-lock
                  = f.password_field :password, autocomplete: "off"
                .note
                  %a.modal-opener{:href => "#{new_password_path(resource_name)}"} Forgot password?
          %section
            .row
              .col.col-4
              .col.col-8
                %label.checkbox
                  = f.check_box :remember_me
                  %i
                  Keep me logged in
                  %br
                  %br
        %footer
          .loginbttn
            //%a.button.button-secondary{:href => "#{new_registration_path(resource_name, :register_for => 'PT')}"} Register
            = f.submit "Log in", :class => "button"

    %br
