%h3 Patient Routines
.col-md-12{:ng_controller => "PatientActivityController", :ng_init => "loadPatientRoutines(#{@enrollment.id})"}
  .row
    = link_to "Add new", "#", :ng_click => "newPatientRoutine()"
    .row{:ng_show => "patient_routine.isNew"}
      %span New Sub Service
      %input{:type => "text",:size => "5", :ng_model => "patient_routine.time", :onFocus => 'getTimepicker(this)'}
      %select{:ng_model => "patient_routine.routine_master_id", :ng_options => "option.id as option.name for option in routine_masters"}
      //= select_tag :routine_master_id, options_from_collection_for_select(RoutineMaster.all, :id, :name ), { :include_blank => true, :class => 'form-control'}
      = link_to "save", "#", :ng_click => "save()"

    .col-md-10
      %table.table-list
        %thead
          %th Time
          %th Activity
          %th Action
        %tbody
          %tr{"ng-repeat" => "patient_routine in patient_routines"}
            %td
              %sapn{:ng_hide => "patient_routine.edit"}= "{{patient_routine.time}}"
              %input{:type => "text", :ng_model => "patient_routine.time", :ng_show => "patient_routine.edit", :onFocus => 'getTimepicker(this)'}
            %td
              %sapn{:ng_hide => "patient_routine.edit"}= "{{patient_routine.routine_name}}"
              %select{:ng_model => "patient_routine.routine_master_id",:ng_show => "patient_routine.edit", :ng_options => "option.id as option.name for option in routine_masters"}
            %td
              = link_to "Edit", "#", :ng_click => "edit(patient_routine)", :ng_hide => "patient_routine.edit"
              = link_to "Update", "#", :ng_click => "update(patient_routine)", :ng_show => "patient_routine.edit"
              = link_to "delete", "#", :ng_click => "destroy(patient_routine)", :ng_hide => "patient_routine.edit"         

