.clearfix
.container
  .col-md-12{:ng_controller => "TransportChargeController", :ng_init => "loadTransportCharges()"}
    = link_to "Add new", "#", :ng_click => "newTransportCharge()"
    .row{:ng_show => "transport_charge.isNew"}
      %span New Charge
      %input{:type => "input", :ng_model => "transport_charge.from_distance"}
      %input{:type => "input", :ng_model => "transport_charge.to_distance"}
      %input{:type => "input", :ng_model => "transport_charge.charge"}
      = link_to "save", "#", :ng_click => "save()"
    %table.table-list
      %thead
        %th Select
        %th Name
        %th Base Charge
        %th Margin in %
        %th Total
      %tbody
        %tr{"ng-repeat" => "care_giver_charge in care_giver_charges"}
          %td{:ng_show => "isEdit"}
          %td
            %sapn= "{{care_giver_charge.care_giver_name}}"
          %td
            %sapn{:ng_hide => "isEdit"}= "{{care_giver_charge.base_charge}}"
            %label.input{:ng_show => "isEdit"}
              %input{:type => "text", :ng_model => "care_giver_charge.base_charge"}
