.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"}Patient Selfcare Ability Masters
  .row{:ng_controller => "SelfcareController", :ng_init => "loadSelfcares()"}
    = link_to "Add new", "#", :ng_click => "newSelfcare()", :class => 'btn btn-primary'
    .row{:ng_show => "selfcare.isNew"}
      %span New Selfcare Ability
      %input{:type => "input", :ng_model => "selfcare.selfcare_ability"}
      = link_to "save", "#", :ng_click => "save()", :class => 'btn btn-primary'
  %br
    %table.table.table-list
      %thead
        %th Selfcare Ability
        %th Action
      %tbody
        %tr{"ng-repeat" => "selfcare in selfcares"  , "ng-init" => "loadSelfcares()" }
          %td
            %sapn{:ng_hide => "selfcare.edit"}= "{{selfcare.selfcare_ability}}"
            %input{:type => "text", :ng_model => "selfcare.selfcare_ability", :ng_show => "selfcare.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(selfcare)", :ng_hide => "selfcare.edit"
            = link_to "Update", "#", :ng_click => "update(selfcare)", :ng_show => "selfcare.edit"
            = link_to "Delete", "#", :ng_click => "destroy(selfcare)"
