%h1 CareToBeProvidedPlans#index
%p Find me in app/views/care_to_be_provided_plans/index.html.haml

.clearfix
.container

  .row{:ng_controller => "CareprovidesController", :ng_init => "loadCareprovides(#{@enrollment_id})"}
    = link_to "Add new", "#", :ng_click => "newCareprovide()"
    .row{:ng_show => "careprovide.isNew"}
      %input{:type => "text",:size => "5", :placeholder => "Time", :ng_model => "careprovide.care_time", :onFocus => 'getTimepicker(this)'} &nbsp;
      %select{:ng_model => "careprovide.pcp_services_attributies.service_master_id", :ng_options => "option.service_master_id as option.service_name for option in services", :ng_change => "loadSubservice(careprovide.pcp_services_attributies.service_master_id)"} &nbsp;
      //%select{:ng_model => "careprovide.sub_service_id", :ng_options => "option.id as option.service for option in services"} &nbsp;
      %input{:type => "input", placeholder: "Comment", :ng_model => "careprovide.comments"}
      %br
      %select{:ng_model => "careprovide.sub_service_master_id", :ng_options => "option as option.sub_service group by option.service_name for option in sub_services track by option.id", :multiple => true, :size => 5, :class => "form-control"}
      //%div{"extra-settings" => "example4settings", "ng-dropdown-multiselect" => "", :options => "sub_services", "selected-model" => "subservices"}
      %br
      = link_to "save", "#", :ng_click => "save()"
    %br
    %table.table-list
      %thead
        %th Tiime
        %th Services
        %th Comments    
        %th Action
      %tbody
        %tr{"ng-repeat" => "careprovide in careprovides"}
          %td
            %sapn{:ng_hide => "careprovide.edit"}= "{{careprovide.care_time}}"
            %input{:type => "text", :ng_model => "careprovide.care_time", :placeholder => "Time", :onFocus => 'getTimepicker(this)', :ng_show => "careprovide.edit"}
          %td
            %sapn{:ng_hide => "careprovide.edit"}= "{{careprovide.service_id}}"
            %select{:ng_model => "careprovide.service_id",:ng_options => "option.id as option.service for option in services", :ng_show => "careprovide.edit"}
          %td
            %sapn{:ng_hide => "careprovide.edit"}= "{{careprovide.comments}}"
            %input{:type => "text", :ng_model => "careprovide.comments", :ng_show => "careprovide.edit"}
          %td
            = link_to "Edit", "#", :ng_click => "edit(careprovide)", :ng_hide => "careprovide.edit"
            = link_to "Update", "#", :ng_click => "update(careprovide)", :ng_show => "careprovide.edit"
            = link_to "Delete", "#", :ng_click => "destroy(careprovide)"
