= form_for @route , :html => { :class => "form-horizontal", :role => "form"} do |f| 
  .modal-body 
    .row
      .col-sm-4
        = f.label "Name"
      .col-sm-3
        = f.text_field "name", :class => 'form-control'
        %br
      
        
        = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
      
