<%APP_ROOT=  "/home/ubuntu/apps/life_circle/current"%>
<%SHARED_PATH=  "/home/ubuntu/apps/life_circle/shared"%>

check process delayed_job with pidfile /home/ubuntu/apps/life_circle/current/tmp/pids/delayed_job.pid
  start program = "/usr/bin/sudo /bin/su -c 'cd /home/ubuntu/apps/life_circle/current; RAILS_ENV=production ~/.rbenv/bin/rbenv exec bundle exec bin/delayed_job -n4 start' - ubuntu"
  stop program = "/usr/bin/sudo /bin/su -c 'cd /home/ubuntu/apps/life_circle/current; RAILS_ENV=production ~/.rbenv/bin/rbenv exec bundle exec bin/delayed_job -n4 stop' - ubuntu"

