%p#notice= notice

%p
  %b Name:
  = @care_giver_equipment.name
%p
  %b Status:
  = @care_giver_equipment.status

= link_to 'Edit', edit_care_giver_equipment_path(@care_giver_equipment)
\|
= link_to 'Back', care_giver_equipments_path
