.sky-form{"ng-controller" => "AdminPatientCreationController"}
  %form{:name => "AdminPatientCreationForm", :ng_submit => "bookCG()", :novalidate => ""}
    %fieldset
      %section{:ng_show => "error"}
        .error
          .message-box-wrap{:ng_bind_html => "error_msg"}
      %section
        %label.input
          %input{:type => "text", :name => "user_details", :placeholder => "Type User Details", "data-autocomplete" => "/auto_search/autocomplete_user_details", :id => "patientDetailId", "data-id_element" => '#selectedUserId'}
          %input{:type => "hidden", :id => "selectedUserId"}
          %a{:href => "#", :ng_click => "fetchPatientDetails()"} Get Data

      %section
        %label.input
          %input{:type => "text", :name => "login", :ng_model => "user.patient_name", :placeholder => "Name"}

      %section
        %label.input
          %i.icon-append.icon-envelope-alt
          %input{:type => "text", :name => "email", :ng_model => "user.email", :placeholder => "Email"}
      %section
        %label.input
          %i.icon-append.icon-phone
          %input{:type => "text", :name => "mobile_no", :ng_model => "user.mobile_no", :placeholder => "Mobile No"}
      %section
        %label.select
          %i.icon-append.icon-select
          %select{:ng_model => "user.registered_by", :ng_options => "registrar.value as registrar.key for registrar in registrars"}
    %footer
      %input{:type => "submit", :class => "button", :value => "Book"}
