%br
%br
.container
  .col-md-24{:ng_hide => "appointment_captured"}
    .col-md-24.sky-form
      %header Enquiry Details
      %table.table.table-responsive.table-list
        %thead
          %th Service From
          %th ServiceTo
          %th Time
          %th Services
          %th Language Proficiency
          %th Needs Heavy Patient Lifting
          %th Caregiver Stay
          -#%th Total Charge
        %tbody
          %tr
            %td{:style =>"text-align: center" } {{enquiry.service_required_from}}
            %td{:style =>"text-align: center", :ng_if => "enquiry.service_required_to"} {{enquiry.service_required_to}}
            %td{:style =>"text-align: center", :ng_if => "enquiry.service_required_to == null"} 
              = 'NA'
            %td{:style =>"text-align: center" ,:ng_if => "enquiry.time_slots_str"} {{enquiry.time_slots_str}}
            %td{:style =>"text-align: center" ,:ng_if => "!enquiry.time_slots_str"} 
              = 'NA'
            %td{:style =>"text-align: center"}
              .row{:ng_repeat => " x in enquiry.services| filter : {assigned:true}"}
                {{x.service}}
            %td{:style =>"text-align: center"}
              .row{:ng_repeat => " x in enquiry.languages| filter : {assigned:true}"}
                {{x.language}}   
            %td{:style =>"text-align: center" , :ng_if => "enquiry.require_heavy_patient_lifting" } {{enquiry.require_heavy_patient_lifting}}
            %td{:style =>"text-align: center" , :ng_if => "enquiry.require_heavy_patient_lifting == null" }
              = 'NA'
            %td{:style =>"text-align: center"} {{enquiry.caregiver_stay}}
            -#%td{:style =>"text-align: center"} {{enquiry.total_charge}}

    
    .col-md-24.sky-form
      %header Caregivers Selected
      %table.table.table-list
        %thead
          %th Pic
          %th Name
          %th Gender
          %th Age
          %th Proff Qualification
          %th Charges
        %tbody
          %tr{:ng_repeat => "care_giver in selected_care_givers"}
            %td{:style => "vertical-align:top; text-align: inherit;"}
              %img{:ng_src => "{{care_giver.image_url}}", :alt => "cg image", :class => "img-responsive"}
            %td{:style => "vertical-align:top; text-align: inherit"} 
              %span.subHeader-clr {{care_giver.name}}
            %td{:style => "vertical-align:top; text-align: inherit"} 
              %span.subHeader {{care_giver.gender}}
            %td{:style => "vertical-align:top; text-align: inherit"} 
              %span.subHeader {{care_giver.age}}
            %td{:style => "vertical-align:top; text-align: inherit"} 
              %span.subHeader {{care_giver.professional_qualification_str}}
            %td{:style => "vertical-align:top; text-align: inherit"}
              %span.subHeader-clr {{care_giver.total_charge}}
              
          %tr
            %td
            %td
            %td
            %td
            %td{:style =>"text-align: inherit"} Total(per day)
            %td{:style =>"text-align: inherit"}
              %h5
                {{grandTotal}}
    %br
    %br
    .col-md-24.sky-form{:ng_show => "isAdmin()"}
      .col.col-4
        %label Registration Doing at
      %section.col.col-4
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enquiry.form_filled_location", :value => "PATIENT_HOME", :name => "form_filled_location", :ng_click => "showEnroll = true ; appointment_login = false"}
          %span Patient Home
          
      %section.col.col-4
        %label.radio-inline
          %input{:type => "radio", :ng_model => "enquiry.form_filled_location", :value => "OTHER", :name => "form_filled_location", :ng_click => "appointment_login = true;showEnroll = false"}
          %span Other
  .col-md-22.col-md-offset-1.col-xs-12{:ng_show => "showEnroll"}
    .pull-right
      %a{:ng_click => "bookCareGiver(true)", :class => 'btn btn-primary'} Enroll
  .col-md-22.col-md-offset-1.col-xs-12
    %section{:ng_show => "appointment_captured"}
      .divider_dashed9
        %big.green
          %h3{:ng_hide => "isAdmin()"}
            Your Enquiry has been placed. Our representative will approach you soon
      %section
        %br
        %a{:href => "/", :class => "btn btn-primary"} Home
        %br
        %br
        %br

        -# .divider_dashed9{:style => 'margin-left: 0px', :ng_hide => "enquiry.form_filled_location == 'PATIENT_HOME' && isAdmin()"}
          -#   %big.green{:style => 'margin-left: 0px'}
            -#     Our representative would call you and visit your home to complete the enrolment process. Please let us know a Preferred date and  time to visit you next 24 hours.
  
  .col-md-20.col-md-offset-1.col-xs-12
    %br
    .row{:ng_show => "appointment_login"}
      %form{:name => "BookingForm", :novalidate => "true", :class => "sky-form", :style => "padding-top: 5px;", :ng_submit => "bookCareGiver(BookingForm.$valid)"} 
        %header Give us your available time to Enroll
        %section
          %section
            %label.input
              .ash-color
                Name
              %input{:type => "text", :name => "requested_user_name", :ng_model => "enquiry.requested_user_name", :placeholder => "Name", :required => "true", :name => "patient_name"}
              .div{:ng_show => "BookingForm.$submitted || BookingForm.patient_name.$touched"}
                %span.error{:ng_show => "BookingForm.patient_name.$error.required"} Name is required

          %section
            %label.input
              .ash-color
                Mobile No
              %input{:type => "number", :string_to_number => "true", :name => "mobile_no", :ng_model => "enquiry.mobile_no", :placeholder => "Mobile No", :required => true, :ng_minlength => 10, :ng_maxlength => 10}
              .div{:ng_show => " BookingForm.$submitted || BookingForm.mobile_no.$touched"}
                %span.error{:ng_show => "BookingForm.mobile_no.$error.required"} Mobile number is required
                %span.error{:ng_show => "BookingForm.mobile_no.$error.minlength || BookingForm.mobile_no.$error.maxlength || BookingForm.mobile_no.$error.number"  } Invalid mobile number
          %section
            %label.input
              .ash-color
                Email
              %input{:type => "text", :name => "email", :ng_model => "enquiry.email", :placeholder => "Email"}
          %section
            %label.input
              .ash-color
                Address
               
              %input{:type => "text", :name => "address", :ng_model => "enquiry.address_attributes.line1", :placeholder => "Address", :require => "true"}
              .div{:ng_show => " BookingForm.$submitted || BookingForm.address.$touched"}
                %span.error{:ng_show => "BookingForm.address.$error.required"} Address is required
          
          %section
            .col-md-6
              %label.input
                %input{:type => "text", :ng_model => "$parent.appointment_date", :placeholder => "Appointment Date", :my_datepicker => "", :only_tommorow => true, :required => "true", :name => "appointment_date"}
              .div{:ng_show => " BookingForm.$submitted || BookingForm.appointment_date.$touched"}
                %span.error{:ng_show => "BookingForm.appointment_date.$error.required"} Appointment date is required
                
            .col-md-6
              %label.input
                %input{:type => "text", :ng_model => "$parent.appointment_time", :placeholder => "Appointment Time", :class => "timepicker", :onFocus => 'appointmentTimepicker(this)'}
          %section
            .row
              %center
                %button{:type => "submit", :class => 'btn btn-primary'} Book Appointment
