%br
#careGiverListRegion.col-md-24
  .col-md-7
    %a{:href => "#", :ng_click => "list_care_givers()", :class => "button"} Modify your Search
    %ng_include{ :src => "'side_filter_bar.html'"}
  .col-md-12.sky-form
    %header 
      No Caregiver matched with the given criteria. Provide us your details to contact
    %form{:ng_submit => "capture_customer_on_empty_results()", :novalidate => "true", :class => "sky-form", :ng_hide => "appointment_captured"}
      %fieldset
        %section
          %label.input
            %i.icon-append.icon-user
            %input{:type => "text", :name => "requested_user_name", :ng_model => "enquiry.requested_user_name", :placeholder => "Name"}
        %section
          %label.input
            %i.icon-append.icon-envelope
            %input{:type => "text", :name => "email", :ng_model => "enquiry.email", :placeholder => "Email"}
        %section
          %label.input
            %i.icon-append.icon-phone
            %input{:type => "text", :name => "mobile_no", :ng_model => "enquiry.mobile_no", :placeholder => "Mobile No"}
        %section
          %label.input
            %i.icon-append
            %input{:type => "text", :name => "address", :ng_model => "address_final", :placeholder => "Address" ,:id => "place_details_object"}
        %section
          .col-md-10
            %label.input
              %i.icon-append.icon-calendar
              %input{:type => "text", :ng_model => "enquiry.appointment_date", :placeholder => "Appointment Date", :my_datepicker => ""}
          .col-md-1
          .col-md-10
            %label.input
              %i.icon-append.icon-calendar
              %input{:type => "text", :ng_model => "enquiry.appointment_time", :placeholder => "Appointment Time", :class => "timepicker", :onFocus => 'getTimepicker(this)'}

      %footer
        .fright
          %input{:type => "submit", :class => "button"}
    %div{:ng_show => "appointment_captured"}
      %h3 
        Your Enquiry has been placed. Our representative will approach you at {{enquiry.appointment_time}}
      %section
        %br
        %a{:href => "/", :class => "button"} Home
        %br
        %br
        %br




