#example-2-tab-3.tabs-panel2
  .sky-form
    %form#sky-form.sky-form{:name=>"careGiverDocumentForm", :ng_submit => "save()", :novalidate => ""}
      %table.table.table-list{:align => "center"}
        %thead
          %th Name
          %th Supporting Docs
          %th Status
        %tbody
          %tr{:ng_repeat => "document in documents"}
            %td
              %label.input
                %input{:type => "text",:ng_model => "document.document_name", :placeholder => "Name"}
            %td
              %input{:type => "file", "nv-file-select" => true, :uploader => "uploader", :id => "file_field_{{$index}}"}
              %a{:href => "{{document.attachment.url}}", :ng_show => "document.attachment.url", :target => "_blank"} View File
            %td{:ng_show => "document.id"}
              %a{:href => "#", :class => "button", :ng_click => "approve(document)", :ng_disabled => "document.approved"} 
                %span{:ng_hide => "document.approved"} Approve
                %span{:ng_show => "document.approved"} Approved

    
                
      %div
        %footer
          .pull-right
            .col.col-6
              %button{:type => "button", :ng_click =>"addMore()" , :class => 'button'} Add More...
              //%button.button{:type => "submit"} Next
            .col.col-1
              %a{:href => "#", :class => "button", :ng_click => "finish_enquiry()" } 
                %span{:ng_hide => "charge.finished"} Finish
                %span{:ng_show => "charge.finished"} Finished          
