#example-2-tab-3.tabs-panel2
  .sky-form
    %form#sky-form.sky-form{:name=>"careGiverEmployerForm", :ng_submit => "save()", :novalidate => ""}
      -# .row{:style => 'margin: 20px'}
      -#   %input{:type => "checkbox", :ng_model => "employer.fresher"}
      -#   %span
      -#     fresher
      .row
        //{:ng_hide => "employer.fresher" }
        %table.table.table-list{:align => "center"}
          %thead
            %th Employer
            %th Period from
            %th Period to
            %th Nature Of Work
            %th Contact No
            %th Supporting Docs
            %th Status
          %tbody
            %tr{:ng_repeat => "employer in employers"}
              %td{:width => "20%"}
                %label.input
                  %input{:type => "text",:ng_model => "employer.employer"}
              %td{:width => "17%"}
                %label.input
                  %input{:type => "text",:ng_model => "employer.period_from",:my_datepicker => true, :include_past => "true"}
              %td{:width => "17%"}
                %label.input
                  %input{:type => "text",:ng_model => "employer.period_to",:my_datepicker => true, :include_past => "true"}
              %td{:width => "12%"}
                %label.input
                  %input{:type => "text",:ng_model => "employer.nature_of_work"}
              %td{:width => "15%"}
                %label.input
                  %input{:type => "text",:ng_model => "employer.contact_no"}
              %td{:width => "15%"}
                %input{:type => "file", "nv-file-select" => true, :uploader => "uploader", :id => "file_field_{{$index}}"}
                %a{:href => "{{employer.attachment.url}}", :ng_show => "employer.attachment.url", :target => "_blank"} View File
              %td{:ng_show => "employer.id"}
                %a{:href => "#", :class => "button", :ng_click => "approve(employer)", :ng_disabled => "employer.approved" , :ng_show => "$parent.isAdmin()"} 
                  %span{:ng_hide => "employer.approved"} Approve
                  %span{:ng_show => "employer.approved"} Approved

        %div{:align => "left"}
          %button{:type => "button", :ng_click =>"addMore()",:style => 'margin-top: 8px', :class => 'button'} Add More...


      .row
        %br
        %scection.col.col-6
          %label.input
            .ash-color
              Reference 1
              %input{:type => "text",:ng_model => "reference1", :placeholder => "Reference 1"}
        %scection.col.col-6
          %label.input
            .ash-color
              Reference 2
              %input{:type => "text",:ng_model => "reference2", :placeholder => "Reference 2"}
        %footer
          .col-md-1
          .col-md-2
            %button.button{:type => "submit"} Next
      -# .row
      -#   %a{:href => "#", :class => "button", :ng_click => "approve(employer)", :ng_disabled => "employer.approved"} 
      -#     %span{:ng_hide => "employer.approved"} Approve
      -#     %span{:ng_show => "employer.approved"} Approved
          
      -# .row{:ng_show => "employer.fresher"}
      -#   %button.button{:ng_click => "save_fresher()"} Next1
      
