#example-2-tab-3.tabs-panel2
  .sky-form
    %form#sky-form.sky-form{:name=>"careGiverEducationForm", :ng_submit => "save()", :novalidate => ""}
      %table.table-list{:align => "center"}
        %thead
          %th Instution
          %th Period from
          %th Period to
          %th Exam Passed
          %th Marks %
          %th Visible Qualification
          %th Nursing Qualification
          %th Supporting Docs
          %th Status
        %tbody
          %tr{:ng_repeat => "degree in degrees"}
            %td{:width => "20%"}
              %label.input
                %input{:type => "text","my-tooltip" => "", :tooltip => "degree.institute", "tooltip-placement" => "bottom",:ng_model => "degree.institute", :placeholder => "Institute"}
            %td{:width => "17%"}
              %label.input
                %input{:type => "text",:ng_model => "degree.period_from", :placeholder => "From date", :my_datepicker => "true", :include_past => true}
            %td{:width => "17%"}
              %label.input
                %input{:type => "text",:ng_model => "degree.period_to", :placeholder => "To date", :my_datepicker => "true", :include_past => true , :ng_change => 'get_date(degree.period_from , degree.period_to)'}
                
                
                  
            %td{:width => "12%"}
              %label.input
                %input{:type => "text",:ng_model => "degree.exam_passed", :placeholder => "Exam Passed"}
            %td{:width => "10%"}
              %label.input
                %input{:type => "text",:ng_model => "degree.marks_percentage", :placeholder => "Marks %"}
            %td{:width => "9%"}
              %input{:type => "radio", :name => "highestQualification", :ng_model => "degree.highest_qualification"}
            %td{:width => "9%"}
              %input{:type => "checkbox", :ng_model => "degree.professional_nursing_qualification"}
            %td{:width => "15%"}
              %input{:type => "file", "nv-file-select" => true, :uploader => "uploader", :id => "file_field_{{$index}}"}
              %a{:href => "{{degree.attachment.url}}", :ng_show => "degree.attachment.url", :target => "_blank"} View File
            %td{:ng_show => "degree.id"}
              %a{:href => "#", :class => "button", :ng_click => "approve(degree)", :ng_disabled => "degree.approved" , :ng_show => "$parent.isAdmin()"} 
                %span{:ng_hide => "degree.approved"} Approve
                %span{:ng_show => "degree.approved"} Approved
       
      %footer{:style => ''}
        %br
        .pull-right
          .col.col-6
            %button{:type => "button", :ng_click =>"addMore()",:style => 'margin-top: 8px', :class => 'button'} Add More...
          .col.col-1 
            %button.button{:type => "submit",:style => 'margin-top: 8px'} Next
