%section#inner-page
  .container
    .row
      .col-md-3
      .col-md-18
        .row
          %h3.stage-titles Find Professional Caregivers in 3 easy steps taking less than 2 minutes of your time.
          .col-md-3
          .col-md-18
            .stage-status
              .stage-no
                %span 1
                %br Service Required
              .stage-no
                %span.active 2
                %br Caregiver Preference
              .stage-no
                %span 3
                %br Schedule
              / <div class="strike"></div>
          .col-md-3
      .col-md-3
  
  %br
  .container.stage-2{:style => "margin-top:30px;"}
    %form{:name => "caregiverPreferenceForm", :class => "sky-form", :ng_submit => "gotoStep2()" , :role => "form", :novalidate => ""}
      .row
        .col-md-1
        .col-md-20
          .row
            .col-md-10{:align =>"justify "} Preferred gender of the caregiver
            .col-md-12{:align =>"justify "}
              %label.radio-inline
                %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "MALE", :name => "gender", :ng_required => "true"}
                Male
              %label.radio-inline
                %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "FEMALE", :name => "gender", :ng_required => "true"}
                Female
              %label.radio-inline
                %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "ANY", :name => "gender", :ng_required => "true"}
                No Preference
            .col-md-12{:ng_show => "caregiverPreferenceForm.$submitted || caregiverPreferenceForm.caregiverStay.$touched"}
              %span.error{:ng_show => "caregiverPreferenceForm.caregiverStay.$error.required"} Please check the caregiver gender
         
          .row
            .col-md-10{:align =>"justify "} Preferred place for the caregiver to stay
            .col-md-12{:align =>"justify "}
              %label.radio-inline
                %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_IN", :name => "caregiverStay", :ng_required => "true"}
                  Live In
              %label.radio-inline
                %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_OUT", :name => "caregiverStay", :ng_required => "true"}
                  Live Out
            .col-md-12
              %div{:ng_show => "caregiverPreferenceForm.$submitted || caregiverPreferenceForm.caregiverStay.$touched"}
                %span.error{:ng_show => "caregiverPreferenceForm.caregiverStay.$error.required"} Please select caregiver stay

        
          .row{:style =>"padding-bottom:4px"}
            .col-md-10{:align =>"justify "} Preferred language spoken/understood by caregiver
            .col-md-12{:align =>"justify "}
              %div.col.col-3{:ng_repeat => "language in enquiry.languages",:style =>"padding-left: 0px;"}
                %label.checkbox-inline
                  %input{:type => "checkbox", :name => "service_request_form_object[language_profficiency][]", :ng_model => "language.assigned"}
                  
                  {{language.language}}
              .col-md-12
                %span.error{:ng_show => "language_empty"} Please check the required languges
         
          .row{:style =>"padding-bottom:4px"}
            .col-md-10{:align =>"justify "} Preferred number of caregiver (s) required
            .col-md-12{:align =>"justify "}
              %input{:type => "number", :ng_model => "enquiry.no_of_care_givers" , :name => "no_of_care_givers", :ng_min => 1, :ng_max => 2, :ng_required => "true"}
              %div{:ng_show => "caregiverPreferenceForm.$submitted || caregiverPreferenceForm.no_of_care_givers.$touched"}
                %span.error{:ng_show => "caregiverPreferenceForm.no_of_care_givers.$invalid"} Invalid no of caregivers
                %br
                %span.error{:ng_show => "caregiverPreferenceForm.no_of_care_givers.$error.required"} Please give no of care givers
         
          .row{:style =>"padding-bottom:4px"}
            .col-md-10{:align =>"justify "} Preferred daily budget for the Caregiver in Rupees
            .col-md-12{:align =>"justify "}
              %select{:name => "affordable_price" ,:ng_model => "enquiry.affordable_price", :ng_options => "value as value.key for value in price_ranges" }
              %br
              .col-md-12
                %span.error{:ng_show => "price_empty"} Please give Affordable Price
         
          .row
            .col-md-12
              .checkbox-inline
                %div
                  %input{:type => "checkbox", :ng_model => "enquiry.require_heavy_patient_lifting"} Caregiver should be able to do HEAVY patient lifting
          
          .row
            %hr
            .pull-right{:style => "margin-top:20px;"}
              %a{:href => "#/service_request", :style => "max-width:30px"}
                %input{:type=> "button",:value=>"Back",  :style => "max-width:30px"}
                          
              
              %input.btn.btn-primary{:style => "width:auto;color:#266a2d;", :type => "submit", :value => "NEXT"}/
   
    
