#example-2-tab-2.tabs-panel2
  .reg_form
    %form#sky-form.sky-form{:name=>"careGiverRelativesForm", :ng_submit => "save()", :novalidate => ""}
      %fieldset
        .row{:ng_repeat => "relative in relatives"}
          %header 
            Relative {{$index+1}}
            .pull-right{:ng_show => "$parent.isAdmin()"}
              %a{:href => "#", :class => "button", :ng_click => "approve(relative)", :ng_disabled => "relative.approved"} 
                %span{:ng_hide => "relative.approved"} Approve
                %span{:ng_show => "relative.approved"} Approved

          %section
            %label.input
              .ash-color
                Relative Name
              %input{:type => "text", :ng_model => "relative.name", :name => "name{{$index}}", :placeholder => "Relative Name"}
          .row
            %section.col.col-6
              %label.input
                .ash-color
                  Age
                %input{:type => "number", :ng_model => "relative.age", :name => "age{{$index}}", :placeholder => "Age"}
            %section.col.col-6
              %label.input
                .ash-color
                  Occupation
                %input{:type => "text", :ng_model => "relative.occupation", :name => "occupation{{$index}}", :placeholder => "Occupation"}
          .row
            %section.col.col-6
              %label.input
                .ash-color
                  Relation
                %input{:type => "text", :ng_model => "relative.relation", :name => "relation{{$index}}", :placeholder => "Relation"}
            %section.col.col-6
              %label.input
                .ash-color
                  Contact No
                %input{:type => "text", :ng_model => "relative.contact_no", :name => "contact_no{{$index}}", :placeholder => "Contact No"}
            %section.col.col-6
              %input{:type => "checkbox", :ng_model => "relative.emergency_contact", :name => "Emergency Contact{{$index}}"}
              Emergency Contact?
          .row
            %header Address
            %section
              %label.textarea
                .ash-color
                  Address
                %textarea{:ng_model => "relative.address", :name => "address{{$index}}", :placeholder => "Address"}
      %footer
        .pull-right
          .col.col-6
            %input{:type => "button", :ng_click => "addMore()", :value => "Add More" , :class => 'button'} 
          .col.col-1
            %button.button{:type => "submit"} Next

