#example-2-tab-6.tabs-panel2
  %form#sky-form.sky-form{:name=>"careGiverServiceForm", :ng_submit => "save()", :novalidate => ""}
    .row
      %div{:ng_repeat => "service in services"}
        .col-md-3
          %section
            %label.checkboxinline
              %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned"}
              &nbsp;
              {{service.service}}
    .row
      %footer
        .pull-right
          .col.col-6
            %button.button{:type => "submit"} Next
          .col-md-2{:ng_show => "$parent.isAdmin()"}
            %center
              %a{:href => "#", :class => "button", :ng_click => "approve()", :ng_disabled => "approved"} 
                %span{:ng_hide => "approved"} Approve
                %span{:ng_show => "approved"} Approved

        
