%script{:src => "http://code.jquery.com/jquery-latest.js", :type => "text/javascript"}
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
:javascript
  $(document).ready(function(){
  initialize();
  });

#welcomeCity.container
  .col-md-24
    %br
    -# %h2
    -#   .aligncenter
    -#     %span We provide service in 
    -#     %span.green  Hyderabad and Secunderabad
    -# %h4.aligncenter Enter your area to see if there are Professional Caregivers available near you.
    %form{:id => "city_and_area_form", :name => "cityAndAreaForm", :class => "sky-form", :ng_submit => "submit_city_and_area()"}
      //%header Looking In...
      .col-md-12
        %section
          
          %label.input
            %input{ :id => "autocomplete", :placeholder => "Enter your Area", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.address_str" }
            %input{:id => "place_details_object", :type => "hidden" }
      .col-md-12
        .pull-right
          %button{:type => "submit", :value => "Go", :class => "button" } SEARCH

