#example-2-tab-5.tabs-panel2
  .reg_form
    %form#sky-form.sky-form{:name=>"healthAndDescriptionForm", :ng_submit => "save()", :novalidate => ""}
      %header Caregiver Health & Lifestyle
      %fieldset
        %section
          .ash-color
            Blood Group
          %label.select
            %select{:name => "blood_group", :ng_options => "grp.value as grp.name for grp in bloodGroups", :ng_model => "health_and_life.blood_group"}
            %i
        %section
          %label.input
            .ash-color
              Known Allergy
            %input{:placeholder => "Known Allergy", :type => "text", :ng_model => "health_and_life.known_allergy"}
        %section
          %label.input
            .ash-color
              Current Health Problem
            %input{:placeholder => "Current Health Problem", :type => "text", :ng_model => "health_and_life.current_health_problem"}
        %section
          %label.input
            .ash-color
              Past Health Problem
            %input{:placeholder => "Past Health Problem", :type => "text", :ng_model => "health_and_life.past_health_problem"}
        .row
          %br
            %section.col.col-7
              %label.text
                Smoking Habit
            %section.col.col-3
              %label.radio-inline
                %input{:name => "smoking_habit", :type => "radio", :ng_model => "health_and_life.smoking_habit", :ng_value => "true"} &nbsp;Yes
            %section.col.col-2
              %label.radio-inline
                %input{:name => "smoking_habit", :type => "radio", :ng_model => "health_and_life.smoking_habit", :ng_value => "false"} &nbsp;No
        .row
          %br
            %section.col.col-7
              %label.text
                Chewing Tobacco
            %section.col.col-3
              %label.radio-inline
                %input{:name => "chewing_tobacco", :type => "radio", :ng_model => "health_and_life.chewing_tobacco", :ng_value => "true"} &nbsp;Yes
            %section.col.col-2
              %label.radio-inline
                %input{:name => "chewing_tobacco", :type => "radio", :ng_model => "health_and_life.chewing_tobacco", :ng_value => "false"} &nbsp;No
        .row
          %br
            %section.col.col-7
              %label.text
                Consume Liquor
            %section.col.col-3
              %label.radio-inline
                %input{:name => "consume_liquor", :type => "radio", :ng_model => "health_and_life.consume_liquor", :ng_value => "true"} &nbsp;Yes
            %section.col.col-2
              %label.radio-inline
                %input{:name => "consume_liquor", :type => "radio", :ng_model => "health_and_life.consume_liquor", :ng_value => "false"} &nbsp;No
      %fieldset
        %h4 Caregiver Undertakings
        .row
          %br
          %section.col.col-7
            %label.text
              Have you ever been convicted in any court of law ?
          %section.col.col-3
            %label.radio-inline
              %input{:name => "convicted_any_court_of_law", :type => "radio", :ng_model => "health_and_life.convicted_any_court_of_law", :ng_value => "true"} &nbsp;Yes
          %section.col.col-2
            %label.radio-inline
              %input{:name => "convicted_any_court_of_law", :type => "radio", :ng_model => "health_and_life.convicted_any_court_of_law", :ng_value => "false"} &nbsp;No
        .row
          %br
            %section.col.col-7
              %label.text
                Is there any civil/criminal proceeding against you in court of law ?
            %section.col.col-3
              %label.radio-inline
                %input{:name => "civil_or_criminal_proceeding_in_court_of_law", :type => "radio", :ng_model => "health_and_life.civil_or_criminal_proceeding_in_court_of_law", :ng_value => "true"} &nbsp;Yes
            %section.col.col-2
              %label.radio-inline
                %input{:name => "civil_or_criminal_proceeding_in_court_of_law", :type => "radio", :ng_model => "health_and_life.civil_or_criminal_proceeding_in_court_of_law", :ng_value => "false"} &nbsp;No
      %footer
        .pull-right
          .col.col-6
            %button.button{:type => "submit"} Next
          .col-md-2{:ng_show => "$parent.isAdmin()"}
            %center
              %a{:href => "#", :class => "button", :ng_click => "approve(health_and_life)", :ng_disabled => "health_and_life.approved"} 
                %span{:ng_hide => "health_and_life.health_approved"} Approve
                %span{:ng_show => "health_and_life.health_approved"} Approved

        
