#careGiverListRegion.col-md-24
  .row
    .col-md-6
      %a{:href => "#", :ng_click => "list_care_givers()", :class => "btn btn-primary", :style =>"width:auto"} Modify
      %ng_include{ :src => "'side_filter_bar.html'"}
    
  
   
    .col-md-18
      .row
        .col-md-24.text-right
          %h5{:style => 'line-height:50px;'} care givers selected : {{selected_care_givers.length}}
          %a{:href => "#", :class => "btn btn-success", :ng_click => "gotoAppointment()", :ng_show => "enquiry.no_of_care_givers > 1"} Book
      .row{:ng_repeat => "care_giver in care_givers"}
        .col-md-3.col-sm-3.col-xs-10
          %img{:ng_src => "{{care_giver.image_url}}", :alt => "", :class => "image-radius"}
        .col-md-8.col-sm-6.col-xs-14
          %h5
            %strong {{care_giver.name}}
          %p
            Age: {{care_giver.age}}
            %br
            Professional Qualification: {{care_giver.professional_qualification_str}}

        .col-md-5.col-sm-6
          %ul.list-icon-3
            %li{:ng_repeat => "language in care_giver.language_name_list"}
              %i.fa.fa-chevron-circle-right
                {{language}}
        .col-md-3.col-sm-3
          .price
            ₹ {{care_giver.total_charge}}
        .col-md-5.col-sm-5
          %a{:href => "#collapse_{{$index}}", :data => {:toggle => "collapse"}, "aria-expanded" => "false", "aria-controls" => "collapse_{{$index}}", :class => "btn btn-primary" , :style => 'margin-bottom:10px;'} Details
          %a{:href => "#", :class => "btn", :ng_class=>"{'btn-success': !care_giver.selected, 'btn-danger': care_giver.selected}",:ng_click => "toggleCgInSelectList(care_giver)", :ng_init => "care_giver.selected = false"} 
            %span{:ng_show => "care_giver.selected"} Remove
            %span{:ng_show => "!care_giver.selected"} Select
        .col-md-24
          %div{:class => "collapse", :id => "collapse_{{$index}}"}
            .panel.panel-default
              .panel-body
                .row
                  .col-md-8
                    %strong
                      Services
                    %ul.list1
                      %li{:ng_repeat => "service in care_giver.services_list"}
                        %i.fa.fa-chevron-circle-right
                        {{service}}
                  .col-md-6
                    %strong
                      Language Profficiency
                    %ul.list1
                      %li{:ng_repeat => "language in care_giver.language_name_list"}
                        %i.fa.fa-chevron-circle-right
                        {{language}}
                  .col-md-6
                    %strong
                      Education
                    %ul.list1
                      %li{:ng_repeat => "education in care_giver.education_details_list"}
                        %i.fa.fa-chevron-circle-right
                        {{education}}
                  .col-md-4
                    %strong
                      ID Type
                    %ul.list1
                      %li
                        %i.fa.fa-chevron-circle-right
                        {{care_giver.id_proof_type}}


    -# .col-md-13
    -#   .pull-right 
    -#     %h5 care givers selected : {{selected_care_givers.length}}
    -#     %a{:href => "#", :class => "btn btn-success", :ng_click => "gotoAppointment()", :ng_show => "enquiry.no_of_care_givers > 1"} Book
    -# .col-md-13
    -#   .row{:ng_repeat => "care_giver in care_givers"}
    -#     .col-md-3.col-sm-3.col-xs-10
    -#       %img{:ng_src => "{{care_giver.image_url}}", :alt => "", :class => "img-responsive img-thumbnail"}
    -#     .col-md-6.col-sm-6.col-xs-14
    -#       %h5
    -#         %strong {{care_giver.name}}
    -#       %p
    -#         Age: {{care_giver.age}}
    -#         %br
    -#           Professional Qualification: {{care_giver.professional_qualification_str}}
    -#           %br
    -#           //References :{{care_giver.references_count}}


    -#     .col-md-8.col-sm-8
    -#       %ul.list-icon-3
    -#         %li{:ng_repeat => "language in care_giver.language_name_list"}
    -#           %i.fa.fa-chevron-circle-right
    -#             {{language}}


    -#     .col-md-8.col-sm-8
    -#       .price
    -#         ₹ {{care_giver.total_charge}}
    -#         %br
    -#         %a{:href => "#collapse_{{$index}}", :data => {:toggle => "collapse"}, "aria-expanded" => "false", "aria-controls" => "collapse_{{$index}}", :class => "grey-button"} Details
    -#         %a{:href => "#", :class => "btn", :ng_class=>"{'btn-success': !care_giver.selected, 'btn-danger': care_giver.selected}",:ng_click => "care_giver.selected = !care_giver.selected; toggleCgInSelectList(care_giver)", :ng_init => "care_giver.selected = false"} 
    -#           %span{:ng_show => "care_giver.selected"} Remove
    -#           %span{:ng_show => "!care_giver.selected"} Select





    -# .col-md-18
    -#   %h4.stage-titles  {{care_givers.length}} Professional caregivers matching your requirements
    -#   %br
    -#   .pull-right 
    -#     %h5 care givers selected : {{selected_care_givers.length}}
    -#     %a{:href => "#", :class => "btn btn-success", :ng_click => "gotoAppointment()", :ng_show => "enquiry.no_of_care_givers > 1"} Book
    -#   #caregiverBlock.row{:ng_repeat => "care_giver in care_givers"}
    -#     .col-md-2.col-xs-12
    -#       %img{:ng_src => "{{care_giver.image_url}}", :alt => "", :class => "img-responsive img-thumbnail"}
    -#     .col-md-9
    -#       .row
    -#         .col-md-4.col-xs-6
    -#           %span.subHeader Name
    -#           %header-lg {{care_giver.name}}
    -#           %span
    -#             .subHeader-inline Age 
    -#             .subHeader-clr {{care_giver.age}}
    -#           .subHeader
    -#             .subHeader-inline References
    -#             .subHeader-clr {{care_giver.references_count}}

    -#         .col-md-3
    -#           %span.subHeader Prof Qualification
    -#           %header {{care_giver.professional_qualification_str}}

    -#           %span.subHeader{:ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"} Approx Travel Distance
    -#           %header{:ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"} {{care_giver.approximate_travel_distance}} KM's
    -#         .col-md-3.pull-right
    -#           %span.subHeader Charges
    -#           %header-lg {{care_giver.total_charge}}
    -#           %a{:href => "#collapse_{{$index}}", :data => {:toggle => "collapse"}, "aria-expanded" => "false", "aria-controls" => "collapse_{{$index}}", :class => "grey-button"} Details
    -#           %a{:href => "#", :class => "btn", :ng_class=>"{'btn-success': !care_giver.selected, 'btn-danger': care_giver.selected}",:ng_click => "care_giver.selected = !care_giver.selected; toggleCgInSelectList(care_giver)", :ng_init => "care_giver.selected = false"} 
    -#             %span{:ng_show => "care_giver.selected"} Remove
    -#             %span{:ng_show => "!care_giver.selected"} Select
    -#           //%a{:href => "#", :class => "btn btn-danger", :ng_click => "uncheckUserExists(care_giver)"  } Remove
    -#     .col-md-11
    -#       %div{:class => "collapse", :id => "collapse_{{$index}}"}
    -#         .panel.panel-default
    -#           .panel-body
    -#             .row
    -#               .col-md-4
    -#                 %header Services
    -#                 %ul.list1
    -#                   %li{:ng_repeat => "service in care_giver.services_list"}
    -#                     %i.fa.fa-chevron-circle-right
    -#                     {{service}}
    -#               .col-md-3
    -#                 %header Language Profficiency
    -#                 %ul.list1
    -#                   %li{:ng_repeat => "language in care_giver.language_name_list"}
    -#                     %i.fa.fa-chevron-circle-right
    -#                     {{language}}
    -#               .col-md-3
    -#                 %header Education
    -#                 %ul.list1
    -#                   %li{:ng_repeat => "education in care_giver.education_details_list"}
    -#                     %i.fa.fa-chevron-circle-right
    -#                     {{education}}
    -#                 %header ID Type
    -#                 %ul.list1
    -#                   %li
    -#                     %i.fa.fa-chevron-circle-right
    -#                     {{care_giver.id_proof_type}}

  -# #bootstrap-pop-up.modal.fade
  -#   .modal-dialog
  -#     .modal-content
  -#       .modal-header
  -#         %h4 
  -#           Not have an account? 
  -#           %a.button.button-secondary{:ui_sref => "list_care_givers.registration"} Register
  -#         %button{:class => "close", :data => {:dismis => "modal"}, "area-label" => "close"}
  -#           %span{"area-hidden" => "true"} 
  -#             %times
  -#       .modal-body
  -#         %div{:ui_view => true}
