.banner
  .transparent-grey2
  .text
    %h1
      Sorry we are not available in {{newCityRequest.city}}.
      %br We would be coming soon...
      .row{:ng_show => "new_city_request_saved"}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thankyou for your interest
    
    %form{:id => "new_city_request_form", :name => "newCityRequestForm", :class => "", :ng_submit => "submit_new_City_request()", :novalidate => true, :ng_hide => "new_city_request_saved"}
      .row
       
        .col-md-6
          %input{:placeholder => "Name", :type => "text", :ng_model => "newCityRequest.name"}
        
        .col-md-6
          %input{:placeholder => "Email", :type => "email", :ng_model => "newCityRequest.email", :required => "true", :name => "email"}
          .error{:ng_show => "newCityRequestForm.$submitted || newCityRequestForm.email.$touched"}
            %span.error{:ng_show => "newCityRequestForm.email.$error.required"} Please provide email
        .col-md-6
          %input{:placeholder => "Phone no", :type => "text", :ng_model => "newCityRequest.mobile_no"}
        
        .col-md-6
          %button{:type => "submit", :value => "Go", :class => "btn"}  Submit
  %ul#banner_slider.rslides
    %li
      = image_tag '01.png'
      //%img{:alt => "", :url => "01.png"}/
    %li
      = image_tag '02.png'
      //%img{:alt => "", :url => "02.png"}/
    %li
      = image_tag '03.jpg'
%br
%section#recognitions
  %h2{:style =>"color: #165E1E;font-weight: 400;"} Recognitions
  %br
  .container
    .row.vertical-align
      .col-md-9
        %h1{:style =>"font-size:55px"}
          %strong{:style =>"box-sizing:none"}
            More than
            %br
            one lakh hours
            %br
            of professional
            %br
            caregiving
            %br
            services
            %br
            provided till 
            %br
            date
      .col-md-15
        %blockquote
          %p{:style =>"font-size: 24px;"}
            %span.quotes “
            Top 10 Health Innovation in India 2014
            %span.quotes ”
          %footer Millenium Alliance
        %blockquote
          %p{:style =>"font-size: 20px;"}
            %span.quotes “
            Profiled and Winner of Learning Exchange Fund
            %span.quotes ”
          %footer Center of Health Market Innovation
        %blockquote
          %p{:style =>"font-size: 20px;"}
            %span.quotes “
            Winner of Learn and Launch Fund
            %span.quotes ”
          %footer Center of Health Market Innovation
        %blockquote
          %p{:style =>"font-size: 20px;"}
            %span.quotes “
            Featured on the UCLA Global Lab for Health  Innovation Exchange
            %span.quotes ”

%section#services
  %h2 Services

  .container
    .table
      .table-cell.empty
      .table-cell.bg-green
        %figure
          = image_tag 'professional-caregiving.png'
        %h4 Professional Caregiving Services
        %ul
          %li Personal Care
          %li Feeding
          %li Dressing
          %li Bathing + hygiene
          %li Help moving around home
          %li Exercise program
      .table-cell.empty
      .table-cell.bg-green
        %figure
          = image_tag 'nursing-services.png'

        %h4 Nursing Services
        %ul
          %li Medication management
          %li Monitoring vital signs
          %li Injection & dressings
          %li Bed Sores management
      .table-cell.empty

%section#partners
  %h2 Partners
  .container
    .row
      .col-md-10.text-center
        %figure
          %a{:href => "http://www.groupe-sos.org/en", :target => "_blank"}
            = image_tag 'groupe-sos.png'

        %p
          With its 10,000 employees and 300 structures, GROUPE SOS is one of Europe’s foremost social and societal undertakings. For 30 years now, GROUPE SOS has been putting economic efficiency at the service of the interests of the general public.
          %br
            In so doing, it provides responses to the issues of today’s society by developing innovative solutions in its five main fields of activity. The actions undertaken by GROUPE SOS influence the lives of over a million people every year.
      .col-md-4
      .col-md-10.text-center
        %figure
          %a{:href => "http://www.lecomptoirdelinnovation.com/", :target => "_blank"}
            = image_tag 'leComptoir.png'

        %p
          Le Comptoir de l’Innovation is an investment and consulting social enterprise. Le Comptoir de l’Innovation is a company approved “social enterprise” created in June 2010 with 850 000€ initial capital. Le Comptoir de l’Innovation is the investment and consulting firm of Group SOS. Its mission is to develop and promote impact investing in Europe.
          %br
            Le Comptoir de l’Innovation chose to promote a philosophy of entrepreneur : the objectives of fight against social exclusion and poverty will only be reached durably thanks to the development of sustainable economic activities.
%section#download-app
  .container
    .row
      .title Download our mobile app
      = image_tag 'google-play-icon.png' , :style => "width:auto; cursor:pointer;"

%section.success-stories
  .container
    %h2 Testimonials
    #carousel-example.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example"}
      .carousel-inner
        .item.active
          .carousel-caption
            %p The medical attenders for patient’s bedside care are providing adequate support. They are highly co-operative and good at their work.
            %p.text-right
              %strong S. Subrahmanyam
              / Principal Architect &amp; Full Stack Developer
        .item
          .carousel-caption
            %p Life Circle team has provided very good services for last 6 months. Especially I appreciate the work done by caretaker Saraswati for the last few months. She was able to take care of the patient's daily activities (brushing, food, cleaning, etc.) very well. I am happy that I was able to get to know about Life Circle team.
            %p.text-right
              %strong Polimera Satish Babu
              / Principal Architect &amp; Full Stack Developer
        .item
          .carousel-caption
            %p Life Circle is a very good organisation. This organisation’s team members have a very good nature, are caring, trained and have a well behaviour. They are taking care of the patient very well.
            %p.text-right
              %strong Maitree Mishra
              / Principal Architect &amp; Full Stack Developer
