#example-2-tab-1.tabs-panel2
  .reg_form
    %form#sky-form.sky-form{:name=>"physicalDescriptionForm", :ng_submit => "save()", :novalidate => ""}
      %header Physical Descrption
      %fieldset
        %section
          %label.input
            .ash-color
              Height in cm
            %input{:type => "number", :class => "form-control", :ng_model => "description.height_in_cms", :name => "height_in_cms", :placeholder => "Height In CMs" , :min => "0"}
        %section
          %label.input
            .ash-color
              Hair Color
            %input{:type => "text", :class => "form-control", :ng_model => "description.hair", :name => "hair", :placeholder => "Hair"}
            %b.tooltip.tooltip-bottom-right Hair Color
        %section
          %label.input
            .ash-color
              Eye Color
            %input{:type => "text", :class => "form-control", :ng_model => "description.eyes_color", :name => "Eyes Color", :placeholder => "Eyes Color"}
            %i
        %section
          %label.input
            .ash-color
              Complexion
            %input{:type => "text", :class => "form-control", :ng_model => "description.complexion", :name => "Complexion", :placeholder => "Complexion"}
        %section
          %label.input
            .ash-color
              Identification Tatoo
            %input{:type => "text", :class => "form-control", :ng_model => "description.identification_tatoo", :name => "identification_tatoo", :placeholder => "Identification Tatoo"}
        %section
          %label.input
            .ash-color
              Any DeoFormity
            %input{:type => "text", :class => "form-control", :ng_model => "description.any_deoformity", :name => "any_deoformity", :placeholder => "Any DeoFormity"}
      %footer
        .pull-right
          .col.col-6
            %button.button{:type => "submit"} Next
            //.col-md-2
          .col-md-2{:ng_show => "$parent.isAdmin()"}
            %center
              %a{:href => "#", :class => "button", :ng_click => "approve()", :ng_disabled => "description.physical_description_approved"} 
                %span{:ng_hide => "description.physical_description_approved"} Approve
                %span{:ng_show => "description.physical_description_approved"} Approved
