%br
%section#inner-page
  .container
    .row
      .col-md-3
      .col-md-18
        .row
          %h3.stage-titles Find Professional Caregivers in 3 easy steps taking less than 2 minutes of your time.
          .col-md-3
          .col-md-18
            .stage-status
              .stage-no
                %span 1
                %br Service Required
              .stage-no
                %span 2
                %br Caregiver Preference
              .stage-no
                %span.active 3
                %br Schedule
              / <div class="strike"></div>
          .col-md-3
      .col-md-3

  .container.stage-2{:style => "margin-top:30px;" }
    %form{:name => "caregiverScheduleForm", :class => "sky-form", :ng_submit => "list_care_givers()" , :role => "form", :novalidate => true}
      .row
        .col-md-2
        .col-md-20
          .row
            .col-md-10.col-sm-10 Service Duration
            .col-md-12.col-sm-14
              %input{:type => "radio", :ng_model => "enquiry.open_term", :value => "true", :ng_required => "true", :name => "open_term"}
              Long Term
              %input{:type => "radio", :ng_model => "enquiry.open_term", :value => "false", :ng_required => "true", :name => "open_term"}
              Limited Period
              %div{:ng_show => "caregiverScheduleForm.$submitted || caregiverScheduleForm.open_term.$touched"}
                %span.error{:ng_show => "caregiverScheduleForm.open_term.$error.required"} Please provide service duration

        
          .row
            .col-md-10.col-sm-10 Service Start Date
            .col-md-12.col-sm-14
              %input{:type => "text", :ng_model => "enquiry.service_required_from", :placeholder => "Date From", :my_datepicker => "", :ng_required => true, :name => "service_required_from"}
              %div
                %span.error{:ng_show => "invalidServiceRequiredFromDate"} Please provide start date

     
          .row{:ng_hide => "enquiry.open_term == true || enquiry.open_term == 'true'"}
            .col-md-10.col-sm-10 Service End Date
            .col-md-12.col-sm-14
              %input{:type => "text", :ng_model => "enquiry.service_required_to", :placeholder => "Date To", :my_datepicker => ""}
              %div
                %span.error{:ng_show => "invalidDate"} Invalid date range
        
          .row{:ng_hide => "enquiry.caregiver_stay == 'LIVE_IN'"}
            .col-md-10.col-sm-10 Time Slots
            .col-md-12.col-sm-14
              .pull-left
                %time_slot_renderer{:from_name => "'service_request_form_object[timeslots][][from]'", :to_name => "'service_request_form_object[timeslots][][to]'", :slots => "enquiry.requested_time_slots", :invalid_time_slot => "invalidTimeSlot"}
              .row
                %span.error{:ng_show => "requiredTimeSlotsError"} You have selected service as Live out. Please provide timeslots
          .row
            %hr
            .pull-right{:style => "margin-top:20px;"}
              %a{:href => "#/care_giver_preference", :style => "max-width:30px"}
                %input{:type=> "button",:value=>"Back",  :style => "max-width:30px"}
                       
              
             
              %input.btn.btn-default{:style => "width:auto;", :type => "submit", :value => "Submit"}
        
  
