
%section#inner-page
  .container
    .row
      .col-md-3
      .col-md-18
        .row
          %h3.stage-titles Find Professional Caregivers in 3 easy steps taking less than 2 minutes of your time.
          .col-md-3
          .col-md-18
            .stage-status
              .stage-no
                %span.active 1
                %br Service Required
              .stage-no
                %span 2
                %br Caregiver Preference
              .stage-no
                %span 3
                %br Schedule
              / <div class="strike"></div>

  .container
   
    %form{:name => "serviceRequestForm", :class => "sky-form", :no_validate => "", :ng_submit => "gotoStep1()" , :role => "form",:style =>"margin-left:7%"}
      .row.checklist
        .col-md-6{:ng_repeat => "service in enquiry.services"}
          %input{:type => "checkbox" ,:name => "service_{{$index}}", :ng_model => "service.assigned", :ng_checked => "service.assigned"}
          &nbsp;
          {{service.service}}
      %hr
      .pull-right{:style => "margin-top:20px;"}
        %a{:href => "/" , :style => "max-width:30px"}
          %input{:type=> "button",:value=>"Home",  :style => "max-width:30px"}
          
        %input.btn.btn-primary{:style => "width:auto; color:#266a2d;", :type => "submit", :value => "Next"}
        
      

            









