.col-md-12{:ng_controller => 'PatientabilitiesController',  :ng_init => "loadselfcares(#{@enrollment.id})"}
  %br
  %button.button{:type => "button", :ng_hide => "patient_ability.isNew", :ng_click => "newPatientabilities()"} Add New
  //= link_to "Add new", "#",:ng_hide => "patient_ability.isNew", :ng_click => "newPatientRoutine()"    
  .col-md-12.col-md-offset-1{:ng_show => "patient_ability.isNew"}
    %form#sky-form.sky-form{:name=>"patientabilitiesform", :ng_submit => "save()", :novalidate => ""}
      .col-md-9
        .col-md-12.col-md-offset-1
          %header New Patient Routine
          .col-md-6
            .row
              %section.col.col-6
                %label.select
                  %select{:ng_model => "patient_ability.patient_selfcare_ability_master_id", :ng_options => "option.id as option.selfcare_ability for option in selfcare_masters"}
                    %option{:value => ""} -- choose Abilities --
                  %i
              %section.col.col-6                
                %label.radio-inline
                  Independent: &nbsp;&nbsp;
                  %input{:name => "independent", :type => "radio", :ng_model => "patient_ability.independent", :ng_value => "true"} Yes &nbsp;&nbsp;
                  %input{:name => "independent", :type => "radio", :ng_model => "patient_ability.independent", :value => "false"} No
          .col-md-1
          .col-md-6
            .row
              %section.col.col-11
                %label.textarea
                  %textarea{:type => "text", :ng_model => "patient_ability.description", :rows => '1'}
            .row
              %section.col.col-3
                %button.button{:type => "submit"} Add
              %section.col.col-3
                %button.button{:type => "button", :ng_click => "patient_ability.isNew = false"} Close
                //= link_to "Close", "#", :ng_click => "close()"
          

          
      -# %span New Sub Service
      -# //= select_tag :routine_master_id, options_from_collection_for_select(RoutineMaster.all, :id, :name ), { :include_blank => true, :class => 'form-control'}
      -# = link_to "save", "#", :ng_click => "save()"
      -# = link_to "Close", "#", :ng_click => "close()"
  %br
  %br
  .col-md-10
    %table.table-list.sky-form
      %tr
        %th Ability
        %th Independent
        %th Description
        %th Action
      %tr{"ng-repeat" => "ability in patient_abilities"}
        %td {{ability.ability_name}}
        %td
          %sapn{:ng_hide => "ability.edit"}= "{{ability.independent === true ? 'Yes' : 'No'}}"
          %input{:name => "independent{{$index}}", :type => "radio", :ng_model => "ability.independent", "ng-value" => "true", :ng_show => "ability.edit"}
          %span{:ng_show => "ability.edit"}Independent
          %br
          %input{:name => "independent{{$index}}", :type => "radio", :ng_model => "ability.independent", "ng-value" => "false", :ng_show => "ability.edit"}
          %span{:ng_show => "ability.edit"}Unable
        %td
          %sapn{:ng_hide => "ability.edit"}= "{{ability.description}}"
          %textarea{:type => "text", :ng_model => "ability.description", :ng_show => "ability.edit", :columns => '14', :rows => '2', :style => "margin-bottom: -27px;"}
        %td
          = link_to "Edit", "#", :ng_click => "ability.edit = true", :ng_hide => "ability.edit"
          = link_to "Update", "#", :ng_click => "update(ability)", :ng_show => "ability.edit && ability.id"
          = link_to "Close", "#", :ng_click => "ability.edit = false", :ng_show => "ability.edit && ability.id"
           
           
            
