.col-md-8.sky-form{:ng_controller => "careGiverChargeBucketsController", :ng_init => "loadBuckets()"}
  %table.table.table-list
    %thead
      %th Hours From
      %th Hours To
      %th Percentage
    %tbody
      %tr{:ng_repeat => "charge_bucket in charge_buckets"}
        %td
          %section
            %label.input
              %input{:type => "number", :ng_model => "charge_bucket.hrs_from", :min => 0}
        %td
          %section
            %label.input
              %input{:type => "number", :ng_model => "charge_bucket.hrs_to", :min => 0}
        %td
          %section
            %label.input
              %input{:type => "number", :ng_model => "charge_bucket.charge_percentage", :min => 0}
  .row
    .col-md-5
    .col-md-2
      = link_to "Save", "#", :class => "button", :ng_click => "saveBuckets()"
