#lifeCircleAccordian .panel-group .panel-heading-active{
    position: relative;
    width: 97%;
    font-size: 18px;
    padding: 11px 20px 11px 25px;
    color: #FFF;
    background-color: #286E30;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

#lifeCircleAccordian .panel-group .panel-heading{
    position: relative;
    width: 97%;
    font-size: 18px;
    padding: 11px 20px 11px 25px;
    color: inherit;
    //background-color: #286E30;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}


#lifeCircleAccordian .panel-group .panel-heading-active{
    position: relative;
    width: 97%;
    font-size: 18px;
    padding: 11px 20px 11px 25px;
    color: #FFF;
    background-color: #286E30;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}


#lifeCircleAccordian .panel-group .panel {
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
}

#lifeCircleAccordian .panel-group .panel .panel-body{
    padding-left: 3%;
}
#lifeCircleAccordian .panel-group .panel .panel-heading .panel-title .pull-right {
    padding-right: 5%;
}

#lifeCircleAccordian .panel-group .panel .panel-heading-active .panel-title .pull-right{
    padding-right: 5%;
}