@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-arrow483:before {
	content: "\e000";
}
.flaticon-calendar-icons:before {
	content: "\e001";
}
.flaticon-call60:before {
	content: "\e002";
}
.flaticon-chevrons:before {
	content: "\e003";
}
.flaticon-circle108:before {
	content: "\e004";
}
.flaticon-directional25:before {
	content: "\e005";
}
.flaticon-down67:before {
	content: "\e006";
}
.flaticon-download8:before {
	content: "\e007";
}
.flaticon-email131:before {
	content: "\e008";
}
.flaticon-email19:before {
	content: "\e009";
}
.flaticon-fastforward4:before {
	content: "\e00a";
}
.flaticon-headphones11:before {
	content: "\e00b";
}
.flaticon-keyboard53:before {
	content: "\e00c";
}
.flaticon-linkedin1:before {
	content: "\e00d";
}
.flaticon-location74:before {
	content: "\e00e";
}
.flaticon-logo152:before {
	content: "\e00f";
}
.flaticon-magnifying-glass34:before {
	content: "\e010";
}
.flaticon-menu53:before {
	content: "\e011";
}
.flaticon-mic:before {
	content: "\e012";
}
.flaticon-microphone13:before {
	content: "\e013";
}
.flaticon-notification5:before {
	content: "\e014";
}
.flaticon-right11:before {
	content: "\e015";
}
.flaticon-rupee1:before {
	content: "\e016";
}
.flaticon-rupee2:before {
	content: "\e017";
}
.flaticon-socialmedia19:before {
	content: "\e018";
}
.flaticon-tick2:before {
	content: "\e019";
}
.flaticon-tool239:before {
	content: "\e01a";
}
.flaticon-twitter:before {
	content: "\e01b";
}
.flaticon-twitter1:before {
	content: "\e01c";
}
.flaticon-two200:before {
	content: "\e01d";
}
.flaticon-woman245:before {
	content: "\e01e";
}
