@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);

/* font icons */
@import url("flaticon.css");
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {font-family: Flaticon; font-size: 30px; font-style: normal; margin-left: 20px; color: #333;}
.glyph { display: inline-block; text-align: center; vertical-align: top; }
.glyph .glyph-icon { display: block; font-family:"Flaticon"; font-size: 64px; line-height: 1; }
.glyph .glyph-icon:before { font-size: 64px; color: #666; margin-left: 0;}
.vertical-align { display: flex; align-items: center; justify-content: center; flex-direction: row;}
.overflow_none{ overflow:hidden;}
hr { display: block; margin: 10px 0 !important; border:0 none; background-color:#ccc; height:1px;} 
/* styles */
/* CSS Document */

*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0;}
body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-size:14px; color:#333333; line-height:normal; font-weight:400;}
p {	line-height: 22px;}
a{ color:inherit; text-decoration:none;}
a:hover{background-color: transparent !important; color: inherit !important; text-decoration: none !important;}
ul, li{ margin:0; padding:0; list-style:none;}
img{ max-width:100%;}
h1, h2, h3, h4, h5, h6{ margin:0; font-weight:300;}
figure figcaption{ line-height:22px; margin-top:20px;}
input[type="text"], input[type="email"], input[type="phone"], textarea{ background:rgba(255,255,255,1); border:1px solid #ccc; height:40px; line-height:40px; padding:0 10px; width:100%; font-family: 'Open Sans', sans-serif; font-size:14px; transition: all 0.5s ease;}
#get-in-touch input[type="text"], #get-in-touch input[type="email"], #get-in-touch input[type="phone"], #get-in-touch textarea{border:1px solid #cbcbcb;}
textarea{ height:105px; resize:none;}
input[type="submit"], input[type="button"], button[type="submit"]{ box-shadow: none; width:100%; border:1px solid #13601D; height:40px; text-align:center; background-color:#13601D; color:#fff; font-size:14px; cursor:pointer; transition: all 0.5s ease; text-transform:uppercase; padding:0 30px;}
input[type="submit"]:hover, input[type="button"]:hover{ background-color:#fff; color:#13601D;}
.bg_none{ background-color:transparent !important;}
.btn { border: 1px solid #13601D; padding:0 20px; line-height:normal; line-height:30px; text-transform:uppercase; border-radius:2px; color:#13601D; font-size:14px;transition: all 0.5s ease;}
.btn2 {background-color:#13601D; color:#fff; border: 1px solid #13601D; padding:10px 20px; line-height:normal; line-height:30px; text-transform:uppercase; border-radius:2px; font-size:14px;transition: all 0.5s ease}
.btn2:hover {background-color:#fff; color:#13601D;}
.btn.reverse{ background-color:#fff; color:#13601D;}
.link{ font-size:14px; color:#13601D; line-height:30px;}
.link:hover{ text-decoration:underline; color:#13601D;}
.btn-primary{ background-color: transparent !important;}
.btn:hover, .btn.btn-primary:hover { background-color:#13601D !important; color:#fff !important;}
.table { display: table; margin: 0 auto; width: 100%;}
.table .table{ background-color:transparent;}
.table_row { display: table-row; width: 100%;}
.table_cell { display: table-cell; vertical-align:top;}
#first-slide{ display:table-cell; vertical-align:middle; text-align:center; padding-top:100px;}
.download_brochure .table_cell, .form_table .table_cell{ width:45%;}
header{ box-shadow: 0 0 6px rgba(0, 0, 0, 0.25); background:rgba(255, 255, 255, 0.95); position: relative;
    width: 100%;
    z-index: 9999;}

#home{box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);}
header#float{ position: fixed;}
h1{ font-size:50px; padding:0 0 50px; font-weight:300;}
h2{ text-align:center; font-size:40px; padding:0 0 0px; line-height:38px; font-weight:300;}
h3{ font-size:30px; padding:0 0 15px; font-weight:400;}
h4{ font-size:22px;}
section, .content_area, .content{ padding:5% 0;}
.mobile{ display:none;}
section h3{ margin-bottom:20px;}
#inner-page{ }
#inner-page p{ font-size:15px; font-weight:300; line-height:normal;}
.bg-white{ background-color:#fff; padding:5% 10%; }
.bg-white p{ font-size:16px !important;}

/* home */
#home{ overflow:hidden;}
#home header{ position:absolute; z-index:9999999;}
section#home{ padding:0; background:url(../assets/03.jpg) 50% 0 no-repeat;}
.banner {position: relative; width: 100%; overflow: hidden;}
.banner .gallery_logo { height: auto; left: 5%; padding: 10px; position: absolute; top: 15%; max-width: 350px; z-index: 999; color:#fff;}
.banner .gallery_logo img { height: auto; width: 150px; }
.banner img{/* width:100%;*/ }
.banner .mobile{ display:none;}
.banner .text{ position:absolute; right:0; left:0; margin:0 auto; bottom:5%; z-index:9; padding:0 15px; max-width:1000px;}
.banner .text h1{ line-height:normal; text-align:center; font-weight: 600; padding-bottom:10px; font-size:45px; color:#fff; text-shadow:0px 1px 1px #888; margin-bottom:5%;}

.logo, nav, .contact_info{ display:table-cell !important ; vertical-align:middle; padding:10px 0; height:45px;}
.logo a{ float:none;}
.logo{ width:340px;}
header#float .logo img, header#float .logo a{ }
.contact_info{ width:340px;}
.contact_info strong{ font-size:20px;}
.login-popup{ margin-top:-10px;}
.logo img{ max-width:80px;}
#menu {bottom: 0; position: absolute; width: 100%;}
nav{ text-align:center;}
nav li{ display:inline; padding:0 10px;}
/*nav a{ padding:20px 0; transition: all 0.5s ease;}
nav a.active { color: #f69323; opacity:1; border-bottom: 2px solid #f69323; }
nav a:hover { color: #f69323; opacity:1; border-bottom:5px solid #f69323;  }*/

nav a { position: relative; padding:0; font-weight:300; font-size:20px;}
nav a:after { display: block; position: absolute; right: 0; left:0; margin:0 auto; bottom: -5px; width: 0; height: 2px; background-color: #0D6118; content: ""; transition: width 0.4s;}
nav a:hover, nav a.active {
    color: #0d6118;
    background-color: transparent;
    text-decoration: none;
}
nav a:hover:after, nav a.active:after { width: 100%;}

.table-cell {
    display: table-cell;
    width: 35%;
}
.table-cell.empty{width: 10%;}
.contact_info .table{ padding-left:30px; height:45px; line-height:35px; background-color: transparent !important;}
.contact_info .table_cell{ padding-left:18px; vertical-align:middle; font-size:12px;}
.phone{ background:url(../images/icons/phone.png) no-repeat left center; background-size:16px;}
.email{background:url(../images/icons/mail.png) no-repeat left center; background-size:18px; }

/* completed projects */
#completed_projects { background-color:#fff;}
#completed_projects h3{ text-align:left;}
#completed_projects .table_cell{ width:25%;}

/* ongoing projects */
#ongoing_projects{ background-color:#eeeeee;}
#ongoing_projects .block:first-child{ margin-bottom:60px; width:100%;}
#ongoing_projects .table{ background-color:#603917; color:#fff;}
#ongoing_projects .table_cell{ width:50%; vertical-align:middle;}
#ongoing_projects .table_cell:last-child{ padding:0 5%; font-size:18px;}
#ongoing_projects .title .table_cell:last-child{ vertical-align:bottom;}
#ongoing_projects h4{ text-align:right; color:#f69323;}
#ongoing_projects .title{ margin-bottom:30px;}
#ongoing_projects p{ line-height:26px; font-size:16px; font-weight:300;}
.download_brochure { padding-top:50px;}
.download_brochure a{ font-size:14px; padding:10px 20px; float:left; border:1px solid #fff; margin-right:20px; border-radius:3px;}
.download_brochure a:hover{ background-color:#f69323; border-color:#f69323;}
.download_brochure .view{ background-image:url(../images/icons/view2.png); background-repeat:no-repeat; background-position:10px center; background-size:18px; padding-left:35px !important;  transition: all 0.5s ease;}
.download_brochure .view:hover{background-image:url(../images/icons/view2.png); background-repeat:no-repeat; background-position:10px center; background-size:18px;}
.download_brochure .download{ background-image:url(../images/icons/download2.png); background-repeat:no-repeat; background-position:10px center; background-size:18px; padding-left:35px !important;  transition: all 0.5s ease;}
.download_brochure .download:hover{background-image:url(../images/icons/download2.png); background-repeat:no-repeat; background-position:10px center; background-size:18px; }
.download_brochure input[type="submit"], .download_brochure input[type="button"]{ width:auto; padding:0 20px; border:1px solid #fff; color:#fff;}
.ongoing_logo img{ max-width:150px; margin:0 auto; display:table;}
#ongoing_projects .block:last-child{ margin-top:120px;}
.title .table_cell{ padding:0 !important;}

/* client testimonials */
#testimonials { background-color:#eeeeee; position:relative; display:table; width:100%;}
#testimonials h2{ position:absolute; top:90px; width:100%; text-align:center; left:0;}
#testimonials .testiminials-cell{ display:table-cell; vertical-align:middle; padding-top:60px;}
#testimonials .rslides_tabs { bottom:inherit;}
.testimonial_slider img {width: auto !important; max-width: 100%; float: left;	margin-right: 50px;}

.testimonial_slider .name_company {	padding: 50px 0 0; font-weight: 700; font-size: 18px;}
#testimonials .table_cell{ width:33.33%; padding:0 5%; text-align:center;}
#testimonials figure img{ max-width:150px;}
#testimonials figure { font-style:italic;}
#testimonials figure span{ font-size:26px; font-weight:700; padding:20px 0; float:left; width:100%; text-align:center;}
#testimonials figure figcaption img { margin-right: 10px; width: 36px; height:25px !important; opacity:0.4;}

/* about */
#about{ background-color:#f69323; color:#fff;}
#about h2{ color:#fff;}
#about p{ font-size:15px;}
#about .table_cell{ width:50%;}
#about .table_cell:first-child{ text-align:center; vertical-align:middle; width:35%;}
.about_logo{ max-width:150px;}
#about h3{ text-align:left; font-weight:300;}
#about .block{ margin-bottom:30px;}


/* contact */
#contact{ background-color:#302f35; color:#fff; padding:5% 0 0;}
#contact #map_div{ margin-top:80px;}
.gm-style img{ width:auto;}
.infoBox .map-address{ background-color:#fff; padding: 10px;}
.infoBox p{ color:#333333; font-size:14px;}
.form_table .table_cell:first-child{ text-align:right;}
.form_field{ padding-top:40px; position:relative; max-width:350px; width:100%;}

.form_section{ float:right; width:350px;}
.page_middle_table { display:table;}
.page_middle_table .table_cell{ vertical-align:middle;}
footer a:hover{ color:#fff; text-decoration:underline;}
footer .table_cell{ vertical-align:middle;}
footer .social_icons{ font-size:16px; float:left; margin-top:10px;}
footer .social_icons a{ padding:0 5px;}
footer .social_icons a:hover{ color:#f69323;}
footer .ddby{ text-align:right; line-height:30px;}
footer .ddby img {float: right; max-width:65px; margin:5px 0 0 10px;}
footer .ddby img

/* nav */
.nav_mob_icon{ display:none;}
nav .nav_mob_icon{-webkit-border-radius:1px;-moz-border-radius:1px;float:right;border-radius:1px;cursor:pointer; display:none; margin-bottom:5px;}
nav .nav_mob_icon span{-webkit-border-radius:1px;-moz-border-radius:1px;width:30px;height:3px;margin:3px;display:table;border-radius:1px;background-color:#13601d;}


.content_area.location { background: #333; float: left; width: 100%; color:#fff;}
.specifications {  background:url(../images/bg/02.jpg) center center no-repeat fixed; background-size: cover; color:#fff; position:relative;}
.spec_box h3{ color:#f69323; text-align:left;}
.spec_box {
    float: left;
    padding: 20px;
    width: 33.33%;
}
.spec_box:nth-child(3n+1){ clear:left; }
.spec_box_cont{ float:left; width:100%;}
.location p { font-size: 15px;}
.location .table_cell{ width:33.33%;}
.location address {
    font-weight: 300;
    margin-bottom: 30px;
}
.location address strong{ font-size:16px; text-decoration:underline;}
.krinss-banner .gallery_logo{ background:rgba(0,0,0,.8); padding:20px !important;}


/* new */

.find-caregiver {
    margin: 0 auto;
    max-width: 900px;
	width:100%; position:relative;
}
.find-caregiver input[type="submit"] {
    margin-left: -5px;
    width: 29%;
    line-height:60px; height:60px; font-size:16px; background-image:url(../assets/right-arrow.png); background-position: 90% center; background-repeat: no-repeat; padding-right:35px; transition: all 0.5s ease;
}
.find-caregiver input[type="button"]:hover {background-image:url(../assets/right-arrow2.png);}
.find-caregiver input[type="text"] {
    width: 70%; height:60px; line-height:60px; float:left; border:1px solid #999;
}
blockquote{ border:0; padding:0; font-size:24px; color:#115F19;}
blockquote p{ margin:0; font-weight:600;}
blockquote footer, blockquote small, blockquote .small{ font-size:15px; padding:0;}
figure {
    display: table;
    margin: 0 auto 30px;
}
.bg-green{ background-color:#165E1E; color:#fff; font-size:15px; line-height:22px; padding:5%; margin-bottom:20px;} 
.bg-green p{ font-size:16px; min-height:120px;}
#services{ background-color:#eee; text-align:center;}
#services .bg-green{ cursor:pointer;}
#services h4{  font-weight: 600; margin-bottom: 7%; }
#services li{ line-height:30px; font-size:16px;}
#download-app{ background:url(banner-mobile-app.png) top left no-repeat; background-size:cover;}
.title {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	margin-bottom:100px;
}

/* success stories */
.success-stories{padding:5% 0 8%;}
.carousel-caption {
    color: #333; font-size:20px; font-weight:300; position:static; /*width:80%;*/ 
    text-align: inherit;
    text-shadow: inherit; padding:0; display:table-cell; vertical-align:middle;
}
.carousel-caption p{ font-weight:400; line-height:30px;font-size:20px;}
.carousel-inner > .item{ height: 150px;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img{ max-width:150px; max-height:150px;}
.carousel-indicators{ bottom:-40px; z-index:1;}
.carousel-indicators .active{ background-color: #B7B7B7; height:10px; width:10px; margin:1px;}
.carousel-indicators li{border: 1px solid #B7B7B7;}
.carousel-caption strong{ display:block; padding-top:20px;}

.footer-wrapper{ background-color:#666; color:#eee; padding:43px 0;}
.footer-wrapper h6{ text-transform:uppercase; font-weight:700; margin-bottom:20px;}
.footer-wrapper span{ display:block; margin-bottom:15px;}
.footer-wrapper span.phone{}
.footer-wrapper span.email{}
.footer-wrapper span.phone .glyph, .footer-wrapper span.email .glyph{ background: none; border-radius:100%; width:auto; margin-right:10px;}
.footer-wrapper span.phone .glyph .glyph-icon, .footer-wrapper span.phone .glyph .glyph-icon:before, 
.footer-wrapper span.email .glyph .glyph-icon, .footer-wrapper span.email .glyph .glyph-icon:before { font-size:20px; color:#fff;}

.social-links a{ display:inline-block; height:20px; vertical-align:middle; text-indent:-5000px; background-repeat:no-repeat; background-position:center center; margin:0 15px;}
.social-links a:first-child{ margin:0 15px 0 0;}
.social-links a.twitter{ background-image:url(../assets/icon/twitter.png); width:18px;}
.social-links a.facebook{ background-image:url(../assets/icon/facebook.png); width:10px;}
.social-links a.google-plus{ background-image:url(../assets/icon/google-plus.png); width:24px;}
.footer-wrapper .table-cell{ height:189px; vertical-align:middle;}
.contact-details{ border-right:1px solid #eee; padding-right:30px;}
.footer-wrapper .table-cell .block{ height:55px;}
.social-links.block { display: table-cell; vertical-align: middle;}
.social-links .glyph{ background: none; border-radius:100%; width:auto; margin-right:10px;}
.social-links .glyph .glyph-icon, .social-links .glyph .glyph-icon:before { font-size:20px; color:#fff; cursor:pointer; transition: all 0.5s ease;}
.social-links .glyph .glyph-icon:hover:before{ color:#165E1E;}
.list-icon-3 li{list-style-image:url(list-icon3.png); margin-left:30px; margin-bottom:5px; padding-left:10px;}
.list-icon-2 li{list-style-image:url(list-icon.png); margin-left:30px; margin-bottom:20px; padding-left:10px;}
.list-icon-1 li{ background:url(list-icon2.png) left center no-repeat; margin-bottom:20px; padding-left:40px; font-weight:500;}
.list-icon-1{ padding-top:20px;}
#work-pattern p{ margin:20px 0 40px; min-height:50px; font-size:16px; }
.transparent-bg{ background:rgba(0,0,0,.5); position:fixed; z-index:99999999; width:100%; height:100%; display:none;}
.transparent-white{ background:rgba(255,255,255,0.30); position:absolute; left:0; top:0; width:100%; height:100%; z-index:9;}
.transparent-grey2{ background:rgba(136,136,136,0.30); position:absolute; left:0; top:0; width:100%; height:111%; z-index:9;}
.transparent-grey{background:rgba(204,204,204,0.70); position:absolute; left:0; top:0; width:100%; height:100%; z-index:9;}
.transparent-green{background:rgba(22,94,30,0.70); position:absolute; left:0; top:0; width:100%; height:100%; z-index:9;}
.banner-static .text{ max-width:47%; right:5%; padding:3%; margin:0; left:inherit;}
.banner-static .transparent-white{  z-index:-1;}
.team h3 { padding:30px 0 0;}
.team h3 span{ font-size:20px;}
.team h3 strong{ font-weight:500;}
.team .bg-white{ padding:5%;}
label{ font-weight:500; margin-right:30px;} 
.stage-titles{ text-align:center; color:#266A2D; font-weight:500;}
form h5{ font-weight:500;}
.team .glyph .glyph-icon::before{ font-size:37px; cursor:pointer;}
.team .glyph{ margin:0 10px;}
.team.bg-white{ padding:60px;}

/* pop up */
.popupContainerFixed{ position: fixed; left:0px; top:0px; display: none;  z-index: 999999999; width:100%;}
.popupContainer { display: table-cell; vertical-align: middle;}
.popup_div{ margin: 0 auto; background-color:#fff; max-width:450px; padding:20px; border-radius:3px; position:relative;}
.popup_div .row div{ margin-bottom:20px; }
.popup_div label{ font-weight:500; line-height:40px; margin:0;}
.cancel{ background:url(../assets/close.png) no-repeat; width:24px; height:24px; position:absolute; right:10px; top:10px; cursor:pointer; text-indent:-5000px;}

.registration h5{ margin:20px 0; font-weight:600;}
.registration input[type="text"], .registration input[type="email"], .registration input[type="phone"], .registration textarea{ border:1px solid #dadada;}
.confirmation{ background-color:#FFEFBF; padding:5%;}
.stage-status {
  position:relative;
  /*max-width:500px;*/ width:100%;
  text-align:center;
  margin:0 auto;
  
}
.stage-no {display:inline-block; font-weight:600; width:30%; position:relative; vertical-align:top;}
.stage-no:after{ content:""; border-bottom:1px solid #ccc; position:absolute; top:25px; left:50%; width:100%; z-index:-1;}
.stage-no:last-child:after{ left:0; width:50%;}
.stage-no span {
  width:30px;
  height:30px;
  border:1px solid #296931; background-color:#fff;
  margin:10px auto; display:inline-block;
  border-radius:100%;
  line-height:30px;
  text-align:center; font-weight:300;
}
.stage-no span.active{ background-color:#13601D; color:#fff;}
.stage-no span:before, .stage-no span:after { border-bottom:1px solid #296931; position:absolute; }
/*.stage-no:first-child { float:left;}
.stage-no:nth-child(3) { float:right;}*/
/*.strike {
  position:absolute;
  width:100%;
  height:2px;
  background:black;
  top:20%;
  left:0px;
  z-index:-1
}*/
.radio label, .checkbox label{ min-height:30px;}
.stage-2 input{ max-width:250px;}
.stage-2 .row{ margin-bottom:20px;}
.stage-2 .row:last-child{ margin-bottom:0px;}
.stage-2 .row [class*='col-']:first-child{ font-weight:600; font-size:16px;}
.search-result h5{ font-weight:300; }
.search-result p{ font-size:13px !important; font-weight:300; }
.price{ font-size:22px; font-weight:500;}
.price .btn{ padding:0 10px;}
.search-result .row{ border-bottom:1px solid #eee; padding:20px 0 10px;}
.search-result .row:first-child{padding:0px 0 10px;}
.search-result .row:last-child{ border-bottom:0px solid #eee;}
.data{ padding:2%; margin:0 2%; border:1px solid #ccc;}

.quotes{ font-family:Arial, Helvetica, sans-serif;}
#empanelment p{ margin-bottom:50px;}
.banner-static .text h5 {
    font-weight: 600;
    margin: 20px 0;
}
#get-in-touch label{ margin-top:20px;}
#get-in-touch textarea{ height:125px;}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{ margin-right:10px; margin-left:0;}
.list-group-item-success{background-color:#eee; }
#MainMenu .panel{background-color:#eee; padding:20px;}
a.list-group-item-success, button.list-group-item-success{ font-weight:600;}
a.list-group-item-success, button.list-group-item-success{ color:#333;}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
  color: #333;
  background-color:#eee;
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
  color: #333;
  background-color:#eee;
  border-color: #3c763d;
}
.list-group-item{ border:0 none;  margin-bottom:0; background-color:transparent; padding:2px 0px;}
.list-group-item-success{border-top:1px solid #ccc; padding: 10px 0px;}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  background-color: transparent;
}
.panel h5{ padding:10px 0px; font-weight:500;}
.services-banner{ background:url(03-1.jpg) top center no-repeat; position:relative;}
.services-banner .container{ position:relative; z-index:10;}
.services-banner h3 strong{ font-weight:600; font-size:25px;}
section h2{ color:#165E1E; font-weight:400; padding-bottom:50px;}
#charges { background:url(charges.png) center center no-repeat; position:relative;}
#charges .container{ position:relative; z-index:10; color:#fff;}
#charges h2{ color:#fff;}

#charges p strong{font-size: 22px; font-weight:300;}
#empanelment strong{ font-weight:400; font-size:18px;}
.banner-static h2{text-align:left; font-size:35px;}
.banner-static h2 strong{ color:#333; line-height:normal; }
.list-group-item.list-group-item-success{background:url(right-arrow1.png) 100% center no-repeat;}
.arrow-down{background:url(down-arrow.png) 100% center no-repeat !important;}
#forgotPassword{ display:none;}
.div-height{ min-height:335px;}
@media screen and (min-width:767px) and (max-width:1024px){
.logo {width: 250px;}
.contact_info {width: 300px;}
.banner .text h1{ font-size:26px;}
.find-caregiver{ max-width:500px;}
.find-caregiver input[type="button"]{ max-width:40px; padding:0; background-position:center center; height:30px; line-height:30px; text-indent:-5000px; position:absolute; right:0;}
	.find-caregiver input[type="text"]{height:30px; line-height:30px; border:0; width:100%;}
		.banner-static h2{ font-size:14px; line-height: 20px; display:none;}
	.hide-mobile{ display:none;}
	.show-mobile{ display:block !important;}
	.text .transparent-white{ display:none;}
	.hide-mobile{ display:block;}
	.team.bg-white{ padding:0;}
}
@media screen and (max-width:768px){
.logo { width: 150px;}
.hide-mobile{ display:none;}
.contact_info { width: 150px;}
.team.bg-white{ padding:0;}
.contact-details{ border:0 none;}
footer [class*="col-"]{ padding-bottom:5%;}
[class*="col-"]:last-child{ padding-bottom:0;}
.bg-green p{ min-height:inherit;}
#work-pattern p{ margin:5px; min-height:inherit;}
section h3{margin-bottom:0;}
.footer-wrapper h6{ margin-bottom:5px; }
.btn{ padding:0 10px;}
}
/* responsive */
@media screen and (max-width:767px){
	section{ width:100%; min-width:0; padding:10% 5%;}	
	header{ position:static;}
	.form_table{ padding:0 5%;}
	#completed_projects .table_cell, .form_table .table_cell, #ongoing_projects .table_cell, #testimonials .table_cell, #about .table_cell, .form_section{ width:100%;}	
	#testimonials .table_cell, #completed_projects .table_cell{ margin-bottom:40px; border-bottom:1px solid #ccc; padding-bottom:40px;}
	#completed_projects .table_cell:last-child, #testimonials .table_cell:last-child{ border:0 none; margin:0; padding:0;}
	.table_cell{ display:table; margin:0 auto;}
	#completed_projects .table_cell:nth-child(2){ display:none !important;}
	.download_brochure .table_cell{ width:auto !important; margin:0 auto 20px;}
	h1{ font-size:30px;}
	h2{ font-size:25px; padding-bottom:20px;}
	h3{ font-size:18px; padding-bottom:10px; line-height:normal;}
	#ongoing_projects p{ font-size:inherit; line-height:inherit;}
	footer .table_cell { margin: 0 auto 10px; text-align: center;}
	footer .social_icons{ float:none;}
	.logo, nav, .contact_info{ display:table; width:100%;}
	.logo { margin-left: 20px; width: auto;}
	nav{ height:auto; padding:0; position:absolute; margin-top:-26px; z-index:9999;}
	nav a:hover, nav a.active {color: #fff; }
	.logo a{ display:table; margin:0 auto; float:none;}
	.banner .text h1, .banner .text{ width:100%; right:0; text-align:center;}
	.banner .text h1{ font-size:18px; padding:0;}
	.banner .text{ bottom:0; max-width:inherit;}
	.banner .text a, nav a::after{ display:none;}
	.form_table .table_cell{ padding-bottom:0 !important;} 
	.form_field{ margin:0 auto;}
	
	.download_brochure a{ float:none; display:table; margin:0 auto 20px;}
	.table .table_cell{ padding-bottom:30px;}
	footer{ padding:5% 0;}
	footer.table .table_cell{ padding-bottom:0px;}
	/* nav */
	.table .table_cell{ margin-bottom:0; padding-bottom:0;}
	.contact_info { position: absolute; right: 10px; top: 0; width: auto !important;}
	nav > ul{display:none;width:100%;clear:both;}
	nav > .nav_mob_icon{display:block !important;}
	nav > ul{background-color:#13601d;float:left;}
	nav > ul li{display:block;}
	nav > ul li a{width:100%; padding:10px 0; text-align:center; margin:0; display:table; color:#fff; font-size:16px;}
	nav li {border-top: 1px solid #0a4c12;}
	.vertical-align{ display:block;}
	
	.radio-inline, .checkbox-inline{ display:block;}
	#home header{ position:relative;}
	.find-caregiver input[type="button"]{ max-width:40px; padding:0; background-position:center center; height:30px; line-height:30px; text-indent:-5000px; position:absolute; right:0;}
	.find-caregiver input[type="text"]{height:30px; line-height:30px; border:0; width:100%;}
	.banner .text h1{ line-height:20px; font-size:14px;}
	.item .row{ margin:0;}
	#first-slide{ padding:10% 0;}
	.text .transparent-white{ display:none;}
	
	blockquote footer, blockquote small, blockquote .small{ line-height:normal;}

	.bg-green{ padding:10%;}
	
	#home .container-fluid{ padding:0;}
	#inner-page h2{ text-align:center;}
	#charges br{ display:none;}
	#charges h2{ font-size:18px; line-height:normal; font-weight:400;}
	
	
	
	.search-result .row .row [class*="col-"]:last-child{ text-align:right;}
	.search-result .row .row:nth-child(2n+2){ background-color:#eee;}
	.carousel-caption{ font-size:15px;}
	.title { font-size: 30px;}
	#charges p strong{ font-size:16px; font-weight:400;}
	.banner-static h2{ font-size:14px; line-height: 20px; display:none;}
	.hide-mobile{ display:none;}
	.show-mobile{ display:block !important;}
	.btn2 {float: right; max-width: 130px; padding: 0 10px; width: auto;}
	ul{ clear:both;}
	.popup_div{ width:90%;}
	.popup_div .row div{ margin-bottom:10px;}
	.popup_div label{ text-align:left; width:100%; line-height:normal;}
	header .container-fluid{ padding:0;}
	footer [class*="col-"]{ padding-bottom:10%;}
}

.alert-success
{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}


.steps-seven {
	counter-reset: my-badass-counter;
}
.steps-seven li{ line-height:30px; margin:15px 0; width:50%; float:left;}
.steps-seven li:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	background-color: #165e1e;
    border-radius: 30px;
    clear: both;
    float: left;
    font-weight: 600;
    height: 30px;
    text-align: center;
    width: 30px;
	margin-right:15px;
	color:#fff;
}
.services-banner h2 strong{ font-size:22px;}
.services-banner h2{ padding-bottom:0;}
.team.bod .bg-white{
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4); margin-bottom:50px;	
}
.careers-page{ padding-top:120px;}
.panel{ background-color:transparent; padding:0; box-shadow:none;}
.panel-title{ font-weight:500;}
.footer-wrapper h3{ font-size:25px;}
.checklist {
    line-height: 32px;
    padding: 20px 0;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin-left: 0;	
    position: static;}
.image-radius{
border: 1px solid #ccc;
    border-radius: 100%;
    height: 80px;
    width: 80px;}
