/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


.rslides_tabs {
  	bottom: 0;
    display: table;
    font-size: 18px;
    left: 48%;
    list-style: outside none none;
    margin: 0 auto;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    z-index: 9999; display:none;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }



.rslides_tabs li:first-child {
  margin-left: 0;
  }



.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url(../images/icons/themes.gif) no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #f69323;
}

#slider3-pager a {
  padding: 0;
}

.rslides_tabs li a {
    border-radius: 50%;
    float: left;
    height: 12px;
    margin: 0 2px;
    text-indent: -5000px;
    width: 12px;
	border:1px solid #fff;
}
.rslides_tabs li.rslides_here a{ background-color:#f69323; border:1px solid #f69323;}
#testimonial_slider{ max-width:400px; margin:0 auto; display:table; height:250px; position:relative;}
#testimonial_slider figcaption {
    font-size: 20px;
    line-height: 30px;
    text-align: center; min-height:130px;
}
.rslides_nav{ display:inline-block; text-indent:-5000px; width:30px; height:30px; background-repeat:no-repeat; background-position:0 0; position:relative;}
.rslides_nav.prev{ background-image:url(../images/icons/left.png); left:50%; margin-left:-35px;}
.rslides_nav.prev:hover{ background-image:url(../images/icons/left2.png);}
.rslides_nav.next{ background-image:url(../images/icons/right.png); left:50%; margin-left:15px;}
.rslides_nav.next:hover{ background-image:url(../images/icons/right2.png);}
.rslides_tabs li a {
    float: left;
    text-indent: -5000px;
}