#close-cg-pop-up.modal.fade 
  .modal-dialog
    .modal-content
      .modal-header
        %h4 
          Close Enquiry 
          %span#closing_name
        %button{:class => "close", :data => {:dismis => "modal"}, "area-label" => "close"}
          %span{"area-hidden" => "true"} 
            %times
      .modal-body
        .sky-form
          %form{:class => "sky-form"}
            = hidden_field_tag :closing_caregiver_id, "", :id => "closing_caregiver_id"
            %section
              %label.input
                = text_area :closing_comments,"", :id => "closing_comments", :placeholder => "Closing Comments...", :cols => 50, :rows => 15
            %footer
              %button.button{:type => "button", :onclick => "closecgEnquiry()"} Close
