%section#inner-page
  .container
    .row
      .col-md-3
      .col-md-18
        .row
          %h3.stage-titles Find Professional Caregivers in 3 easy steps taking less than 2 minutes of your time.
          .col-md-3
          .col-md-18
            .stage-status
              .stage-no
                %span 1
                %br Service Required
              .stage-no
                %span.active 2
                %br Caregiver Preference
              .stage-no
                %span 3
                %br Schedule
              / <div class="strike"></div>
          .col-md-3
      .col-md-3
  .container.stage-2{:style => "margin-top:30px;"}
    .row
      .col-md-2
      .col-md-20
        .row
          .col-md-10 Preferred gender of the caregiver
          .col-md-14
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "MALE", :name => "gender"}
              Male
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "FEMALE", :name => "gender"}
              Female
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.care_giver_gender", :value => "ANY", :name => "gender"}
              No Preference
          .col-md-12
            %span.error{:ng_show => "genderCaptured"} Please check the caregiver gender
        .row
          .col-md-10 Preferred place for the caregiver to stay
          .col-md-14
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_IN", :name => "caregiver_stay"}
                Live In(To stay with patient)
            %label.radio-inline
              %input{:type => "radio", :ng_model => "enquiry.caregiver_stay", :value => "LIVE_OUT", :name => "caregiver_stay"}
                Live Out(To stay at her own home)
        .row
          .col-md-10 Preferred language spoken/understood by the caregiver
          .col-md-14
            %section.col.col-3{:ng_repeat => "language in enquiry.languages"}
              %label.checkbox-inline
                %input{:type => "checkbox", :name => "service_request_form_object[language_profficiency][]", :ng_model => "language.assigned"}
                &nbsp;
                {{language.language}}
            .col-md-12
              %span.error{:ng_show => "language_empty"} Please check the required languges
             
        .row
          .col-md-10 Preferred number of caregiver (s) required
          .col-md-14
            %input{:type => "number", :ng_model => "enquiry.no_of_care_givers" , :name => "no_of_care_givers", :min => 0}
            {{no_of_caregivers_exceeded}}
          .col-md-2
            %span.error{:ng_show => "no_of_care_givers_exceeded"} Upto Two care givers are allowed
            %span.error{:ng_show => "no_of_care_givers_empty"} Atleast One care giver is required
        .row
          .col-md-10 Preferred daily budget for the Caregiver in Rupees
          .col-md-14
            %select{:ng_model => "enquiry.affordable_price", :ng_options => "value as value.key for value in price_ranges"}
            %i
            Per Care Giver
        .row
          .col-md-24
            .checkbox-inline
              %label
                %input{:type => "checkbox", :ng_model => "enquiry.require_heavy_patient_lifting"} Caregiver should be able to do HEAVY patient lifting
      .col-md-2
  .container
    .row
      .col-md-2
      .col-md-20
        %hr/
      .col-md-2
  .container
    .row
      .col-md-2
      .col-md-20
        .row
          .col-md-8
          .col-md-8
          .col-md-8.text-right
            %input.btn.reverse.btn-default{:style => "width:auto;", :type => "submit", :value => "Back"}
              %input.btn.btn-default{:style => "width:auto;", :type => "submit", :value => "NEXT"}/
      .col-md-2
