.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"} Caregiver List
  .col-md-24
  
    %table.table.table-list
      %thead
        %th Name
        %th Email
        %th Phone
        %th City
      %tbody
        - @enquiries.each do |care_giver|
          %tr
            %td= care_giver.name
            %td= care_giver.email
            %td= care_giver.phone
            %td= care_giver.city
