.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
.clearfix
.container
  %h2{:align => "center"} Reject List
  .col-md-24
    %table.table.table-list
      %thead
        %th Name
        %th Location
        %th DOB
        %th Phone
        %th Email
        %th Qualification
        %th Gender
        %th Prefered Location
        %th Reason for closing
        %th Action
      %tbody
        - @enquiries.each do |care_giver|
          %tr
            %td= care_giver.name
            %td= care_giver.location
            %td= care_giver.dob
            %td= care_giver.phone
            %td= care_giver.email
            %td= care_giver.highest_qualification
            %td= care_giver.gender
            %td= care_giver.city
            %td= care_giver.reason_for_closing
            %td
              = link_to raw("<i class='fa fa-comments fa-lg'></i>"), enquiry_conversations_path(:conversation_master_id => care_giver.id, :conversation_master_type => "CareGiverEnquiry", :conversation_for => "CareGiverEnquiry",  :name => care_giver.name), :title => "Conversation"
