-# = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
-# .row{:ng_controller => 'CareGiverEnquiryController' }
-#   .col-md-4
-#   .col-md-5
-#     %h2.green.aligncenter Prefered Locations
-#   %form{:id => "location_form", :name => "locationForm", :class => "sky-form", :ng_submit => "submit_location_all(enquiry)"}
-#     .col-md-12
-#       .col-md-4
-#       .col-md-4
-#         %section
-#           %label.input
-#             %input{ :id => "autocomplete", :placeholder => "Location1", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.place_details_str1"}
-#             %input{:id => "place_details", :type => "hidden"}
-#             %br
-#           %label.input
-#             %input{ :id => "autocomplete1", :placeholder => "Location2", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.place_details_str2"}
-#             %input{:id => "place_object", :type => "hidden"}
-#             %br
-#           %label.input
-#             %input{ :id => "autocomplete2", :placeholder => "Location3", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.place_details_str3"}
-#             %input{:id => "place_details_object", :type => "hidden"}
      
-#     .col-md-12
-#       .col-md-5
-#       .col-md-3
-#         .pull-right
-#           %button{:type => "submit", :value => "Go", :class => "button" } SEARCH


= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
//%script{:src => "http://code.jquery.com/jquery-latest.js", :type => "text/javascript"}

:javascript
  $(document).ready(function(){
  care_giver_initialize();
  });
%br
%section#inner-page{:ng_controller => 'CareGiverEnquiryController' , :ng_submit => 'submit_all()' }
  .container.registration
    %h3.stage-titles Registration Process for a Caregiver
    %form{:id => "location_form", :name => "locationForm", :class => "sky-form", :ng_submit => "submit_location_all()"}
      .row
        .col-md-3
        .col-md-8
          %h5 Preferred Location
          .form-group
            %input{ :id => "autocomplete", :onFocus => "geolocate()", :type => "text", :ng_model => "enquiry.place_details"}
            %input{:id => "place_details_object", :type => "hidden"}
            
            
        .col-md-2
        .col-md-8
        .col-md-3
      .row
        .col-md-3
        .col-md-8
          %h5 Personal Details
        .col-md-2
        .col-md-8
        .col-md-3
      .row
        .col-md-3
        .col-md-8
          .form-group
            %label{:for => "fname"} First Name
            %input#fname{:ng_model => "enquiry.name" ,:placeholder => "Name", :type => "text"}
          .form-group
            %label{:for => "hcity"} Home City
            %input#hcity{:ng_model => "enquiry.location" , :placeholder => "Home City", :type => "text"}
          .form-group
            %label{:for => "email"} Email
            %input#email{:ng_model => "enquiry.email" ,:placeholder => "Email", :type => "email"}
          .form-group
            %label{:for => "radio"} Gender
            %div
              %label
                %input#RadioGroup1_0{:ng_model => "enquiry.gender" ,:name => "RadioGroup1", :type => "radio", :value => "Male"}
                  Male
              %label
                %input#RadioGroup1_1{:ng_model => "enquiry.gender" ,:name => "RadioGroup1", :type => "radio", :value => "Female"}
                  Female
        .col-md-2
        .col-md-8
          .form-group
            %label{:for => "fname"} Date of Birth
            %input#DOB{ :ng_model => "enquiry.dob" ,:placeholder => "Date of Birth", :type => "text" , :class => 'datepicker'}
          .form-group
            %label{:for => "hcity"} Phone No
            %input#phoneNO{:ng_model => "enquiry.phone_no" ,:placeholder => "Phone", :type => "text"}
          .form-group
            %label{:for => "email"} Qualification
            %br
            = select_tag :highest_qualification, options_for_select([["Post Graduation", "PG"], ["Under Graduation", "UG"], ["Class-12", "CLASS_12"], ["Class 10", "CLASS_10"], ["Class 9", "CLASS_9"], ["Class 8", "CLASS_8"], ["Below Class 8", "BELOW_CLASS_8"]]), {:class => "btn btn-warning",:ng_model => "enquiry.qualification"  , :style => "background-color: white; color:black; border-color: rgb(207, 206, 206); width:100%"}
            //%input{:ng_model => "enquiry.qualification" ,:id => "", :placeholder => "Qualification", :type => "text"}
        
        
        .col-md-3
      .row
        .col-md-2
        .col-md-20
          %hr/
        .col-md-2
      .row
        .col-md-2
        .col-md-8
        .col-md-2
        .col-md-10.text-right
          %input.btn.btn-default{:style => "width:auto;", :type => "submit", :value => "Register"}
        .col-md-2
