#welcomeCity.container
  .col-md-24
    .row
      %form{:class => "sky-form",:action => "/care_giver_enquiries/new_city", :method => "POST" }
        %header= "We are coming to #{params[:city]} soon..."
        .col-md-24
          .col-md-6.col-xs-12
            %section
              %label.input
                = text_field_tag "name", '' , {:value => params[:name] , :class => "form-control" , :placeholder => 'Name'}
                  
          .col-md-6.col-xs-12
            %section
              %label.input
                = text_field_tag "email", '', {:value => params[:email] ,:class => "form-control" , :placeholder => 'email'}
          
          .col-md-6.col-xs-12
            %section
              %label.input
                = text_field_tag "phone", '', {:value => params[:phone] , :class => "form-control" , :placeholder => 'Phone'}
        .col-md-12
          .pull-right
            = hidden_field_tag "new_city" , params[:city]
            %button{:type => "submit",  :class => "button"}  Submit

