.clearfix
.container
  .row{:ng_controller => 'PatientAdaptiveEquipmentsController',  :ng_init => "newloadAdaptiveEquipments(#{@enrollment_id})"}
    
    .col-md-2
    .col-md-10
      %form#sky-form.sky-form{:name=>"patientAdaptiveEquipmentsForm", :ng_submit => "save()", :novalidate => ""}
        .row
          %div{:ng_repeat => "equipment in equipments"}
            .col-md-4
              %section
                %label.checkboxinline
                  %input{:type => "checkbox", :name => "equipment_{{$index}}", :ng_model => "equipment.assigned"}
                  &nbsp;
                  {{service.service}}
        .row
          %footer
            %button.button{:type => "submit"} Next
