.clearfix
.container
  .row
    %center 
      %h2 Email and SMS Templates
    .pull-right
      //= link_to 'new' , new_email_template_path   , :class => 'btn btn-primary'
%br
.row
  .col-md-24
    %table.table.table-list
      %thead
        %tr
          %th Id
          %th Name
          %th Email 
          %th SMS 
         

      %tbody
        - @emails.each do|email|
          %tr
            %td= email.id
            %td= email.name
            %td
              //= sanitize(email.text1[0,225])
              - if email.text1.present?
                = link_to "Email", email_template_path(email)
            %td
              //= sanitize(email.text2[0,225])
              - if email.text2.present?
                = link_to "SMS", show_sms_email_template_path(email)
              //= link_to raw("Edit") , edit_email_template_path(email), :title => "Edit"
