.pull-left
  = link_to 'Back' , email_templates_path , :class => 'btn btn-primary'
  
%br
%br
%center
  %h3
    %b
      = @email.name
.row
  .col-md-24
    %b
      = @template.text1 
      
    %br
    %br
    .row
      
      .col-md-16{:style => 'border:solid' }
        %h3
          = @email.text1.try(:html_safe)
      .col-md-2
        = link_to raw("Edit") , edit_email_template_path(@email), :title => "Edit" , :class => 'btn btn-primary'
    %br
    .row
      = @template.text2
      %br
      = @template.text3
      %br
      = @template.text4
      %br
      = @template.text5
      %br
      = @template.text6
