:css
  .table-style {
  float: left;
  width: 100%;
  }
  .table-li {
  float: left;
  background-color: #fff;
  border: 1px solid #dddddd;
  margin-bottom:15px;
  width: 100%;
  }
  .table-li th {
  padding: 8px 5px;
  background-color: #266A2E;
  color: #fff;
  }
  .table-li td {
  padding: 13px 10px;
  text-align: center;
  background-color: #f5f5f5;
  }
  .table-li tr:hover td {
  background-color: #f9f9f9;
  }
.clearfix
.container
  .col-md-12{:ng_controller => "ReportsController" , :ng_init => "due_report()"}
    .row
      .row{:ng_show => 'dueReport'}
        %center
          .bold
            %h1{:style => 'margin-bottom:10px'}
              Life Circle Health Services Private Limited
            %h2{:style => 'color:#000;margin-bottom:10px;'}
              Aging Details of Invoice Due Date
            As of 
            = Date.today
              
        %br
        .col-md-11
          %table.table-li
            %tr
              %th Customer Name
              %th Invoice Balance
              %th Available Credits
              %th Balance
              %th Age
            %tr{:ng_repeat => 'r in due_reports'}
              %td {{r.name}}
              %td {{r.amount}}
              %td {{r.credits}}
              %td {{r.balance}}
              %td {{r.age}}
            
         
