%table.table.table-list
  %thead
    %th Patient Name
    %th Address
    %th Phone
    %th Email
    %th Services Required
    %th CG Blocked[Y/N]
    %th Source
    - if params[:status] == 'To Audit' 
      %th Closed By
    %th Action
  %tbody
    %tr{:ng_repeat => "enquiry in enquiries"}
      %td= link_to "{{enquiry.requested_user_name}}", "/enquiries/{{enquiry.id}}"
      %td{:style => 'color:red;' , :ng_show => "enquiry.current_tag == 'Flag'"} {{enquiry.address_str}}
      %td{:ng_show => "enquiry.current_tag != 'Flag'"} {{enquiry.address_str}}
      %td{:style => 'color:red;' , :ng_show => "enquiry.current_tag == 'Flag'"} {{enquiry.mobile_no}}
      %td{:ng_show => "enquiry.current_tag != 'Flag'"} {{enquiry.mobile_no}}
      
      %td{:style => 'color:red;' , :ng_show => "enquiry.current_tag == 'Flag'"} {{enquiry.email}}
      %td{ :ng_show => "enquiry.current_tag != 'Flag'"} {{enquiry.email}}
      %td{:style => 'color:red;' , :ng_show => "enquiry.current_tag == 'Flag'"} {{enquiry.services_str}}
      %td{:ng_show => "enquiry.current_tag != 'Flag'"} {{enquiry.services_str}}
      %td{:style => 'color:red;' , :ng_show => "enquiry.current_tag == 'Flag'"} {{enquiry.blocked}}
      %td{:ng_show => "enquiry.current_tag != 'Flag'"} {{enquiry.blocked}}
      %td{:style => 'color:red;' , :ng_show => "enquiry.current_tag == 'Flag'"} {{enquiry.source}}
      %td{ :ng_show => "enquiry.current_tag != 'Flag'"} {{enquiry.source}}
      %td{ :ng_show => "enquiry.current_tag == 'To Audit'"} {{enquiry.closed_by}}
      %td{:style => 'color:red;' , :ng_show => "enquiry.current_tag == 'Flag'"} {{enquiry.closed_by}}
      %td
        = link_to raw("<i class='fa fa-comments fa-lg'></i>"), "/enquiry_conversations?conversation_master_id={{enquiry.id}}&conversation_master_type=Enquiry&status=Audit&name={{enquiry.requested_user_name}}", :title => "Conversation", :ng_show => "enquiry.current_tag == 'To Audit'"
        = link_to raw("<i class='fa fa-comments fa-lg'></i>"), "/enquiry_conversations?conversation_master_id={{enquiry.id}}&conversation_master_type=Enquiry&status=#{params[:status]}&name={{enquiry.requested_user_name}}", :title => "Conversation", :ng_hide => "enquiry.current_tag == 'To Audit'"

