%table.table.table-list
  %thead
    %th Mobile No
    %th Requested at
    %th
  %tbody
    %tr{:ng_repeat => "missed_call in missedCallRequests"}
      %td {{missed_call.mobile_no}}
      %td {{missed_call.requested_at}}
      %td
        = link_to raw("<i class='fa fa-comments fa-lg'></i>"), "/enquiry_conversations?conversation_master_id={{missed_call.id}}&conversation_master_type=MissedCallRequest&status=Audit&name={{missed_call.mobile_no}}", :title => "Conversation", :ng_show => "missed_call.current_tag == 'To Audit'"
        = link_to raw("<i class='fa fa-comments fa-lg'></i>"), "/enquiry_conversations?conversation_master_id={{missed_call.id}}&conversation_master_type=MissedCallRequest&name={{missed_call.mobile_no}}", :title => "Conversation", :ng_hide => "missed_call.current_tag == 'To Audit'"
