.accrodation
  / section 1
  %span.acc-trigger.active{:ng_init => "loadServices()"}
    %a{:href => "#"} Services
  .acc-container
    .content
      .row{:ng_repeat => "service in services"}
        %section
          %label.checkbox
            %input{:type => "checkbox", :name => "service_{{$index}}", :ng_model => "service.assigned"}
            &nbsp;
            {{service.service}}
  / section 2
  %span.acc-trigger{:ng_init => "loadLanguages()"}
    %a{:href => "#"} Languages
  .acc-container
    .content
      .row{:ng_repeat => "language in languages"}
        %section
          %label.checkbox
            %input{:type => "checkbox", :name => "language_{{$index}}", :ng_model => "language.assigned"}
            &nbsp;
            {{language.language}}
  / section 3
  %span.acc-trigger
    %a{:href => "#"} Gender Required
  .acc-container
    .content
      .row
        %section
          %label
            %input{:type => "radio", :ng_model => "gender", :value => "MALE"}
            %span Male
      .row
        %section
          %label
            %input{:type => "radio", :ng_model => "gender", :value => "FEMALE"}
            %span Female
      .row
        %section
          %label
            %input{:type => "radio", :ng_model => "gender", :value => "MALE/FEMALE"}
            %span Male/Female
      .row
        %section
          %label
            %input{:type => "radio", :ng_model => "gender", :value => "ANY"}
            %span Any
  %span.acc-trigger
    %a{:href => "#"} Date 
  .acc-container
    .content
      .sky-form
        .row
          %section.col.col-6
            %label.input
              %input{:type => "text", :ng_model => "date_from", :class => "datepicker", :placeholder => "Date From"}
          %section.col.col-6
            %label.input
              %input{:type => "text", :ng_model => "date_to", :class => "datepicker", :placeholder => "Date To"}
  %span.acc-trigger
    %a{:href => "#"} Time Slots
  .acc-container
    .content
      .sky-form
        .row
          .col-md-10
            %time_slot_renderer{:from_name => "'service_request_form_object[timeslots][][from]'", :to_name => "'service_request_form_object[timeslots][][to]'"}
  %span.acc-trigger
    %a{:href => "#"} Price Range
  .acc-container
    .content
      .sky-form
        .row
          %section.col.col-5
            %label.input
              %input{:type => "numeric", :ng_model => "min_price", :placeholder => "Min Price"}
          %section.col.col-2
            %label
              To 
          %section.col.col-5
            %label.input
              %input{:type => "numeric", :ng_model => "max_price", :placeholder => "Max Price"}
