.pull-right
  .col-md-1
    = link_to "Create New" , new_appointment_for_enquiry_enquiries_path , :class => 'btn btn-primary'
%center
  %h2 Appointments
  
%table.table.table-list{:ng_controller => "EnrollmentController" , :ng_init => "all_appointments()"}
  %thead
    %th Patient Name
    %th Address
    %th Phone
    %th Email
    %th Services Required
    %th CG Blocked[Y/N]
    %th Apponintment Time  
    %th Source
    %th Action
    
  %tbody
    %tr{:ng_repeat => "enquiry in  all_appointments"}
      %td= link_to "{{enquiry.requested_user_name}}" , "/enquiries/{{enquiry.id}}/appointment_edit"
      //%td= link_to (enquiry.patient_name.present? ? enquiry.patient_name : enquiry.requested_user_name), appointment_edit_enquiry_path(enquiry) 
      %td {{enquiry.address_str}}
      %td {{enquiry.mobile_no}}
      %td {{enquiry.email}}
      %td {{enquiry.services_str}}
      %td {{enquiry.blocked}}
      %td {{enquiry.appointment_time}}
      %td {{enquiry.source}}
      %td
        = link_to raw("<i class='fa fa-comments fa-lg'></i>"), "/enquiry_conversations?conversation_master_id={{enquiry.id}}&conversation_master_type=Enquiry&status=Audit&name={{enquiry.requested_user_name}}", :title => "Conversation", :ng_show => "enquiry.current_tag == 'To Audit'"
        = link_to raw("<i class='fa fa-comments fa-lg'></i>"), "/enquiry_conversations?conversation_master_id={{enquiry.id}}&conversation_master_type=Enquiry&status=#{params[:status]}&name={{enquiry.requested_user_name}}", :title => "Conversation", :ng_hide => "enquiry.current_tag == 'To Audit'"
