.pull-left
  = link_to "Back", :back, :class => 'btn btn-primary'
%br
%br
.row.sky-form{:ng_controller => "EnrollmentController" , :ng_init => "edit(#{@id})" }
  %fieldset
    .row
      %section.col.col-2
        %label.select
          //%select{:ng_model => "update_enquiries.appointment_status", :placeholder =>"Select", :ng_options => "option.key as option.value for option in status"}
            
          //%i
          = select_tag :appointment_status , options_for_select([["Open","OPEN"], ["Close", "CLOSED"]]) , {:ng_model => "update_enquiries.apponitment_status"  , :value => "{{update_enquiries.apponitment_status}}" } 
          //%i
      .col.col-3{:ng_show => "update_enquiries.apponitment_status == 'OPEN'"}
        %label.input
          %input{:type => "text", :ng_model => "update_enquiries.appointment_date", :placeholder => "Appointment Date", :my_datepicker => "", :only_tommorow => true}
      .col.col-3{:ng_show => "update_enquiries.apponitment_status == 'OPEN'"}
        %label.input
           
          %input{:type => "text", :ng_model => "update_enquiries.appointment_time", :placeholder => "Appointment Time", :class => "timepicker", :onFocus => 'getTimepicker(this)'}
      .col.col-1
        %button.btn.btn-primary{:ng_click => "save_appointment()"} Update
        -# %section.col.col-3
        -#   %label.input
        -#     = f.text_field :appointment_time  ,:value => @enquiry.appointment_time.strftime('%d/%m/%Y') , :class => "datepicker"
        -#     = hidden_field_tag "appointment" , f.object.appointment_time.strftime('%d/%m/%Y') 
        -# %section.col.col-3
        -#   %label.input
        -#     = f.text_field :appointment_time , :value => @enquiry.appointment_time.strftime("%H:%M") , :onFocus => 'getTimepicker(this)'
        %section.col.col-24
          -# = f.hidden_field :appointment_time , :value => f.object.appointment_time.strftime("%d/%m/%Y") 
          
          //= hidden_field_tag "appointment_def" , f.object.appointment_time.strftime("%H:%M") 
          //= f.submit "Update", :class => "button"
%br
= render 'enquiry'
