= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places", 'data-turbolinks-track' => true 
.sky-form
  %header
    = "Enquiry Capture for: #{@enquiry.patient_name.present? ? @enquiry.patient_name : @enquiry.requested_user_name}, #{@enquiry.mobile_no}"
.row{:ng_controller => "CareGiverBookingsController", :ng_init => "load_existing_enquiry('#{@enquiry.id}')"}
  %section{:ui_view => true}
