.col-md-24{:ng_controller => "missedCallRequestsController", :ng_init => "page_status = '#{@params}'; getMissedCallRequests(1)"}
  %h4{:align => "center", :style =>"font-size:25px"} 
    MissedCalls - #{@params.present? ? @params.to_s : "Pending"} 
  .row
    .col-md-8
      %form{:class => "sky-form", :no_validate => true, :ng_submit => "findMissedCallRequests()"}
        .col-md-12
          %label.input
            = text_field_tag :filter, params[:filter], class: "search form-control", placeholder: "Mobile No.", autocomplete: :off, :ng_model => "mobile_no_filter"
        .col-md-3
          %button.button{type: :submit}
            %span.fa.fa-search.fa-lg
    .col-md-24{:ng_show => "missedCallRequests.length > 0"}
      .pull-right
        %my-pagination{:from => "from_index", :to => "to_index", :current_page => "current_page", :total=> "total_entries", :action => "getMissedCallRequests(page)"}
      = render "missed_call_requests"
  .row{:ng_hide => "missedCallRequests.length > 0"}
    
    .col-md-24
      %center
        %big{:align =>"center"}
          %b
            No Records Found

.col-md-24{:ng_controller => "enquiriesController", :ng_init => "page_status = '#{@params}'; getEnquiries(1)"}
  %h4{:align => "center", :style =>"font-size:25px"} Enquiries - #{@params.present? ? @params.to_s : "Pending"} 
  .row
    .col-md-12
      %form{:class => "sky-form", :no_validate => true, :ng_submit => "findEnquiry()"}
        .col-md-12
          %label.input
            = text_field_tag :filter, "", class: "search form-control", placeholder: "Patient Name.", autocomplete: :off, :ng_model => "patientNameFilter"
        .col-md-3
          %button.button{type: :submit}
            %span.fa.fa-search.fa-lg
  .col-md-24{:ng_show => "enquiries.length > 0"}
    .pull-right
      %my-pagination{:from => "from_index", :to => "to_index", :current_page => "current_page", :total=> "total_entries", :action => "getEnquiries(page)"}

    = render "enquiries"
  .row{:ng_hide => "enquiries.length > 0"}
    .col-md-4
    .col-md-6
      %h4{:align =>"center", :style =>"font-size:25px"}
        %b No Records Found
