.col-md-4
.col-md-14.col-md-offset-1
  .col-md-20.sky-form
    %header{:style =>"box-shadow:none"}
      Provide us your details to contact
    = form_for @enquiry, :url =>  create_appointment_for_enquiry_enquiries_path, :class => "sky-form", :method => "POST" do |f|
      = render :partial => "shared/error_messages", :locals => {:object => f.object}
      = f.hidden_field :missed_call_request_id, :placeholder => "Name"
      %fieldset
        %section
          .ash-color
            Name
          %label.input
            %i.icon-append.icon-user
            = f.text_field :requested_user_name, :placeholder => "Name"
        %section
          .ash-color
            Email
          %label.input
            %i.icon-append.icon-envelope
            = f.text_field :email, :placeholder => "Email"
        %section
          .ash-color
            Mobile
          %label.input
            %i.icon-append.icon-phone
            = f.text_field :mobile_no, :placeholder => "Mobile"
        %section
          .ash-color
            Address
          %label.input
            %i.icon-append.icon-pin
            = f.text_field :address, :placeholder => "Address"
        %section
          .col-md-8
            .ash-color
              Appoinment Date
            %label.input
              %i.icon-append.icon-calendar
              = f.text_field :appointment_date, :placeholder => "Appointment Date", :my_datepicker => "", :only_tommorow => true, :ng_model => "appointment_date"
          .col-md-1
          .col-md-8
            .ash-color
              Appointment Time
            %label.input
              %i.icon-append.icon-calendar
              = f.text_field :appointment_time, :placeholder => "Appointment Time", :class => "timepicker", :onFocus => 'appointmentTimepicker(this)'

      %footer
        .row
          .col-md-4
          .col-md-6
            = f.submit "Save", :class => "btn btn-primary", :style =>"width:auto"
          .col.md-4
            = link_to "Back", :back, :class => "btn btn-primary"
