.pull-right
  %a{:href => "/enquiries/new_appointment_for_enquiry" , :class => 'btn btn-primary' , :style =>"width:auto"} New Enquiry
  = link_to "Home" , root_path , :class => 'btn btn-primary', :style =>"width:auto"
 
.sky-form
  %header{:style =>"box-shadow:none"} Thanks for your interest, Your details are
  .row
    .col-md-3
    .col-md-17
      %table.table.table-responsive.table-bordered.table-list
        %thead
          %th Name
          %th Email
          %th Mobile No
          %th Appointment Time
        %tbody
          %tr
            %td= @enquiry.requested_user_name
            %td= @enquiry.email
            %td= @enquiry.mobile_no
            %td= @enquiry.appointment_time
