!!!
%html{"ng-app" => "lifeCircleApp"}
  %head
    %title Life Circle
    = include_gon(:init => true) 
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all"

    = csrf_meta_tags
    
  %body{:data => { "no-turbolink" => true }}
    - if current_user.present?
      .wrapper_boxed
        .site_wrapper
          = render "shared/header"
          = render "shared/new_header"
          //= render "shared/new_menu"
          = render "shared/breadcrumb"
          .container
            %div{:style => 'min-height:600px;'}
              - flash.each do |key, value|
                #div{:class => flash_alert_class(key) }
                  %button{ :type => "button", :class => "close", :data => { :dismiss => "alert" }, "aria-hidden".to_sym => "true" }
                    &times;
                    = raw value
              = yield 

              .clearfix.margin_top7

              //= render "shared/copy_right_social_links"


              -# %div
              -#   %section
              -#     - flash.each do |key, value|
              -#       #div{:class => flash_alert_class(key) }
              -#         %button{ :type => "button", :class => "close", :data => { :dismiss => "alert" }, "aria-hidden".to_sym => "true" }
              -#           &times;
              -#           = raw value

    - else
      //= render 'shared/reg2'
      = render 'shared/header_new'
      = yield 
      
      = render "shared/new_footer"
    
